<template>
    <div>
        <div class="main-wrapper">
            <div id="vue">
              <div class="cart" name="market" style= "top: 6em;">
                  <span class="cart-size font-text" @click="SET_VALUE_SHOW_CART(!showCart)"> {{cartProducts.length}} </span><i class="fa fa-shopping-cart" @click="SET_VALUE_SHOW_CART(!showCart)"></i>
                  <div class="cart-items" v-show="showCart">
                      <table class="cartTable">
                          <tbody>
                              <tr class="product" v-for="(product, index) in cartProducts" :key="index">
                                  <td class="align-left">
                                      <div v-if="!idsPlanes.includes(product.id)" class="cartImage" @click="removeProduct(product)">
                                          <i class="close fa fa-times"></i>
                                      </div>
                                  </td>
                                  <td class="align-center font-text mt-3"> 1x </td>
                                  <td class="align-center font-text mb-5"> {{product.name}} &nbsp; </td>
                                  <td class="font-text"> ${{comaMiles(product.price)}}.00 </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <h6 class="cartSubTotal font-text" v-show="showCart">Total sin descuento ${{comaMiles(getTotal)}}.00 </h6>
                  <h6 class="cartSubTotal font-text" v-show="showCart">Descuento ${{comaMiles(descMount)}}.00 </h6>
                  <h6 class="cartSubTotal font-text" v-show="showCart">Subtotal ${{comaMiles(subtotal)}}.00 </h6>
                  <h5 class="cartSubTotal font-text" v-show="showCart">IVA ${{comaMiles(iva)}}.00 </h5>
                  <h4 class="cartSubTotal font-text " v-show="showCart">Total ${{comaMiles(getTotalDesc)}}.00 </h4>
                  <b-button class="btn-cart font-text" v-show="showCart && checkoutBool" @click="clearCart"> Limpiar Carrito </b-button>
                  <b-button class="btn-cart font-text" variant="info" v-show="showCart && checkoutBool" @click="checkoutModal"> Resumen </b-button>
              </div>
              <b-modal id="modal-center" scrollable header-bg-variant="primary" centered class="center">
                <h3 slot="modal-header" class="text-center title-head" style="font-weight:bold;color:white"> Resumen </h3>
                <div class="grid-modal">
                  <h3 class="font-text modal-item text-pr"> Total sin descuento:</h3><h3 class="modal-item text-pr"> ${{comaMiles(getTotal)}}.00</h3>
                  <h3 class="font-text modal-item modal-item text-pr"> Descuento:</h3><h3 class="modal-item text-pr"> ${{comaMiles(descMount)}}.00</h3>
                  <h3 class="font-text modal-item modal-item text-pr"> Subtotal:</h3><h3 class="modal-item text-pr"> ${{comaMiles(subtotal)}}.00</h3>
                  <h3 class="font-text modal-item modal-item text-pr"> IVA:</h3><h3 class="modal-item text-pr"> ${{comaMiles(iva)}}.00</h3>
                  <h1 class="font-text modal-item text-pr-2"> Total:</h1><h1 class="modal-item text-pr-2"> ${{comaMiles(getTotalDesc)}}.00</h1>
                </div>
                <div slot="modal-footer">
                  <b-button class="btn btn-danger" @click="hideModal" name="close"> Cerrar </b-button>
                  <b-button class="btn btn-success" @click="clickBuying" name="suc"> Proceder con la compra </b-button>
                </div>
              </b-modal>
          </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapMutations, mapState } from 'vuex'

export default {
  name: 'cart',
  props: [],
  data () {
    return {
      showModal: false
    }
  },
  computed: {
    ...mapState('cart', ['cartProducts', 'iva', 'showCart', 'idsPlanes', 'subtotal']),
    ...mapGetters('cart', ['getTotal', 'descMount', 'getTotalDesc', 'getSubTotal', 'checkoutBool'])
  },
  methods: {
    ...mapMutations('cart', ['CLEAR_CART', 'REMOVE_PRODUCT_FROM_CART', 'SET_VALUE_SHOW_CART']),
    removeProduct (product) {
      this.REMOVE_PRODUCT_FROM_CART(product.id)
    },
    comaMiles (number) {
      var number1 = number.toString()
      var result = ''
      var estado = true
      if (parseInt(number1) < 0) {
        estado = false
        number1 = parseInt(number1) * -1
        number1 = number1.toString()
      }
      if (number1.indexOf(',') === -1) {
        while (number1.length > 3) {
          result = ',' + '' + number1.substr(number1.length - 3) + '' + result
          number1 = number1.substring(0, number1.length - 3)
        }
        result = number1 + result
        if (estado === false) {
          result = '-' + result
        }
      } else {
        var pos = number1.indexOf(',')
        var numberInt = number1.substring(0, pos)
        var numberDec = number1.substring(pos, number1.length)
        while (numberInt.length > 3) {
          result = '.' + '' + numberInt.substr(numberInt.length - 3) + '' + result
          numberInt = numberInt.substring(0, numberInt.length - 3)
        }
        result = numberInt + result + numberDec
        if (estado === false) {
          result = '-' + result
        }
      }
      return result
    },
    clearCart () {
      this.CLEAR_CART()
      this.SET_VALUE_SHOW_CART(!this.showCart)
    },
    checkoutModal () {
      this.showModal = true
      this.$root.$emit('bv::show::modal', 'modal-center', 'font-text')
    },
    hideModal () {
      this.showModal = false
      this.$root.$emit('bv::hide::modal', 'modal-center', 'font-text')
    },
    clickBuying () {
      this.$emit('clickBuying')
    }
  }
}
</script>
<style lang="scss" scoped>
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
  @import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
  @import "cartStyles.scss";
@media screen and(max-width:414px){
  .text-pr{
    font-size:1rem;
  }
  .text-pr-2{
    font-size:1.5rem;
  }
}
@media screen and (max-width:400px){
  .btn-danger{
    margin-bottom:0.5rem;
  }
}
</style>
