.blog {
  position: relative;
  min-height: 100vh;
  //max-width: 90rem;
  margin: 0 auto;
  padding-top: 6.25rem;
  overflow-x: hidden;

  & > ul,ol {
    list-style: none;
  }
  
  @media (min-width: 568px) {
    padding: 5rem 1.2rem 0 0;
  }

  @media (min-width: 1280px) {
    padding: 5rem 2.5rem 6.5vw 0;

    &--reading {
      padding-bottom: 0;
    }
  }

  @media (min-width: 1448px) {
    padding: 5rem 0 6.5vw 0;

    &--reading {
      padding-bottom: 0;
    }
  }

  &__feed {
    position: relative;
    padding: 0 .625rem;


    @media (min-width: 568px) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 1.25rem;
    }

    @media (min-width: 1448px) {
      padding: 0;
    }
  }

  &__footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;

    @media (min-width: 568px) {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    @media (min-width: 1025px) {
      justify-content: flex-start;
    }

    @media (min-width: 1280px) {
      padding: 0 6.25rem;
    }

    @media (min-width: 1448px) {
      padding: 0 2.5rem;
    }

    .signature {
      display: inline-block;
      width: 15rem;

      @media (min-width: 568px) {
        width: 18rem;
      }
    }
  }
}
