$primary-color: #0f5dac !default;
$default-color: #ff921e !default;
$latB: "Lato Black", sans-serif;
.preview {
  position: relative;
  margin: 1.25rem 1.25rem 2.5rem;
  z-index: 0;
  @include imagePlaceholder;

  @media (min-width: 568px) {
    width: calc(50% - 2.5rem);
    margin: 1.25rem 1.25rem 2.5rem;
  }

  @media (min-width: 1025px) {
    width: calc(100% / 3 - 2.5rem);
  }

  @media (min-width: 1280px) {
    width: calc(100% / 3 - 5rem);
    margin: 2.5rem;
  }

  &-move { transition: all 550ms cb() }
  &-enter-active { transition: all 325ms cb(out) 175ms }
  &-appear-enter-active { transition: all 275ms cb(out) 200ms }

  &-leave-active {
    transition: all 225ms cb(in);
    position: absolute;
    z-index: -1;
  }

  &-enter,
  &-leave-to,
  &-appear-enter {
    opacity: 0;
    transform: translate3d(0, -2.5rem, 0);
  }

  &__figure {
    position: relative;
    padding-top: 50%;
    transition: padding-top 275ms cb(out);
    @include bgContain;
    transition:all 1s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 33%;
      background-image: linear-gradient( cc(shadow, .33), transparent);
    }

  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 13px 11px 10px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 13px 11px 10px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 13px 11px 10px -4px rgba(0, 0, 0, 0.5);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgba(0,0,0,0.5)')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgba(0,0,0,0.5)');
    
  }

  &__title {
    @extend %txt--preview;
    display: block;
    height: 100%;
    text-transform:none;
    padding: .75rem;
    color: cc(txt, inv);
    background-color: cc(shadow, 0);
    transition: background-color 225ms cb();

    &:hover {
      //text-decoration: none;
    }
    
    // @media (min-width: 1024px) {
    //   .preview__figuremin,
    //   // &:hover {
    //   //   background-color: cc(shadow, .65);
    //   // }
    // }

    @media (min-width: 1448px) {
      padding-right: 1.5rem;
    }
  }

  &__meta {
    position: absolute;
    top: 100%;
    left: 0;
    padding: .5rem 0;
    font-size: .9rem;
    width:70%;

    @media (min-width: 568px) {
      white-space: nowrap;
    }
  }

  &__published::after {
    content: 'por';
    padding: 0 .25rem;
  }

  &__author {
    @extend %ff--500;
    text-decoration: none;
    white-space: nowrap;
    font-size: .9rem;
    color: #070707;
    &:hover{
      color:#f96332;
    }
  }
}
.grid-cols {
  display: grid;
  grid-template-columns: auto auto;
  padding:0px;
  width:70%;
}

.grid-item {
  background-color: #fff0;
  border: 1px solid #fff0;
  margin-top: 0.5rem;
  text-align: left;
}
.user-preview{
  height:15px;
  width:15px;
  border-radius:50%;
}
.cut-text{
  font-weight:bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform:uppercase;
  width:300px;
  height:20px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /*&:hover {
    width: auto;
    white-space: initial;
    overflow:visible;
    cursor: pointer;
    padding-bottom:4.5rem;
  }*/

}
.content-text{
  font-family:'Arial', sans-serif;
  width:300px;
  height:28px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    width: auto;
    white-space: initial;
    overflow:visible;
    cursor: pointer;
    padding-bottom:6rem;
  }
}
.text-bold{
  font-family:'Arial';
}
.space-enter{
  margin-bottom:8.5rem;
}

.icon-blog{
  height:15px;
  width:15px;
}
.image-blog{
  width:100%;
}
.encabezado {
  text-transform: capitalize;
  text-align: center;
  background: $primary-color;
  font-family: $latB;
  color: #fff;
  position:relative;
  left:0rem;
  top:-1rem;
  margin: auto;
  display: block;
  }
  .title-blog{
    width: 113%;
    position: relative;
    left: -3rem;
}
@media (min-width: 568px){
  .post__header {
      position: static;
      bottom: 100%;
      right: 0;
      width: 50vw;
      /* height: calc(70vw - 2.5rem); */
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-right: 2.5rem;
      padding-bottom: 2.5rem;
  }
}
@media screen and (max-width:567px) and (min-width:300px){
  .post__meta {
    display: static;
  }
  .post__title {
    display: static;
    position: static;
    bottom: 100%;
    right: 0;
    width: 50vw;
    /* height: calc(70vw - 2.5rem); */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    width:24rem;
    flex-direction: column;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
}
}