<template>
    <footer id="footer" class="py-5 bg-primary ancho" style="position:relative; bottom:0; top:3rem;" name="foot">
        <!-- Footer Elements -->
        <div class="container">
            <!-- Grid row-->
            <div class="row">
                <!-- Grid column -->
                <b-col>
                    <b-link class="mb-10 text-footer text-link" :to="{name: 'AvisoPrivacidad'}">Conoce nuestro aviso de privacidad</b-link>
                </b-col>
                <b-col class="text-center text-link">
                    <b-link class="mb-10 text-link" :to="{name: 'facebook'}">
                        <fa-icon  :icon="['fab', 'facebook']" size="2x" class="text-white text-link mb-3 mr-3 m-1"/>
                    </b-link>
                    <b-link class="mb-10 text-link" :to="{name: 'twitter'}">
                        <fa-icon  :icon="['fab', 'twitter-square']" size="2x" class="text-white text-link mb-3 mr-3 m-1"/>
                    </b-link>
                    <b-link class="mb-10 text-link" :to="{name: 'linkedin'}">
                        <fa-icon  :icon="['fab', 'linkedin']" size="2x" class="text-white mb-3 text-link mr-3"/>
                    </b-link>
                </b-col>
                <b-col>
                    <b-link class="mb-10 text-footer text-link" :to="{ name: 'Terminos' }">Términos y condiciones</b-link>
                </b-col>
            </div>
            <!-- Grid row-->
        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-white text-center">
            <a class="mb-10" href="#"></a>
        </div>
        <!-- Copyright -->
    </footer>
</template>
<style scoped lang="scss">
.pt-5, .py-5[name="foot"] {
    padding-top: 1rem !important;
    margin-top:2rem;
}
.pb-5, .py-5[name="foot"] {
    padding-bottom: 0rem !important;
}
.text-link{
    text-decoration:none;
    &:hover{
        color:#ff921e;
    }
}
@media screen and (max-width:420px){
    .ancho{
        max-width:100%;
    }
}
</style>
