<template>
  <!-- Navigation -->
  <b-nav  v-scroll="handleScroll"
          v-bind:class="{'navbar navbar-expand-lg navbar-light fixed-top':true,'navbar-shrink':(originPage === 'Blog')}"
          id="mainNav">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand :to="{path: '/about'}" v-scroll-to="'#page-top'">
      <span class="navbar-brand-logo">
        <span>
        PAD
        </span>
      </span>
      COMPLIANCE
      <div>
        <img style="height: 75px" :src="img.head1">
      </div>
    </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <!-- Menu Items for Main Page -->
      <b-navbar v-if="originPage !== ''" class="ml-auto navbar-nav" v-b-scrollspy:page-top>
        <b-nav-item :to="{name:'MainPage', hash: '#inicio'}" name="inicio">Inicio</b-nav-item>
        <b-nav-item-dropdown text="Productos">
          <b-dropdown-item :to="{name:'MainPage', hash: '#services'}" >Productos</b-dropdown-item>
          <b-dropdown-item :to="{name:'MainPage', hash: '#features'}" >Características</b-dropdown-item>
          <b-dropdown-item :to="{name:'MainPage', hash: '#sign-up'}" >Registrarse</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="Social" :extra-toggle-classes="isDropdownActive()">
          <!-- <b-dropdown-item href="#social" v-scroll-to="'#social'">Noticias</b-dropdown-item> -->
          <b-dropdown-item :to="{ name: 'Noticias' , params: { section: 'news' }, }"  >Noticias</b-dropdown-item><!--:to="{ name: 'Noticias' , params: { section: 'news' } }"-->
          <b-dropdown-item :to="{ name: 'Blog' , params: { section: 'blog' } }" >Blog</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item :to="{name:'MainPage', hash: '#contact'}" name="contact">Contacto</b-nav-item>
        <b-nav-item :to="{ name: 'About' }" >Conócenos</b-nav-item>
        <b-nav-item name="buyPricing" size="xl" :to="{ name: 'buyPricing' }" >Contratar</b-nav-item>
        <b-nav-item variant="primary" :to="{ name: 'login' }" >Iniciar Sesión</b-nav-item>
      </b-navbar>
    </b-collapse>
  </b-nav>
</template>
<script>
export default {
  name: 'Navigation',
  data: function () {
    return {
      img: {
        head1: require('@/assets/img/WCA.jpg'),
        head2: require('@/assets/img/wca2.jpg')
      }
    }
  },
  methods: {
    handleScroll (evt, el) {
      if (this.$props.originPage !== 'Blog') {
        if (window.scrollY > 100) {
          el.classList.add('navbar-shrink')
        } else {
          el.classList.remove('navbar-shrink')
        }
      }
    },
    isDropdownActive () {
      if (this.$route.name === 'Blog' || this.$route.name === 'Noticias') {
        return 'active'
      }
    }
  },
  props: ['originPage']
}
</script>
<style >

</style>
