<template>
  <div id="about">
    <navigation-component :originPage="originPage"></navigation-component>
    <!-- Page Header -->
    <header class="masthead-about">
        <div class="overlay" name="about"></div>
          <div class="container" name="we">
            <div class="cuad" name="we">
                <div class="cuad-item col-lg-12" >
                </div>
                <div class="cuad-item text-center"  style="padding-top: 7rem">
                  <h1 class="head-contact text-center">QUIÉNES SOMOS</h1>
                  <hr>
                  <span class="sub-head-contact text-center">De nuestra firma</span>
                  <div class="text-desc-contact text-center text-justify just-text" name="mvv">
                    <p>Somos una firma boutique de asesores especializados en brindar servicios de<br>
                    "Compliance Legal" en protección de datos personales, prevención de lavado de<br>
                    dinero, subcontratación laboral y anticorrupción.</p>
                    <p>Nuestro equipo representa la mejor solución para apoyarle a mitigar cualquier <br>
                    tipo de riesgo reputacional, económico y de cumplimiento legal para tu negocio,<br>
                    en base a nuestra asesoría y servicios especializados poniendo a tu disposición<br>
                    nuestras plataformas tecnológicas.</p>
                  </div>
                </div>
                <div class="cuad-item col-lg-12" >
                </div>
            </div>
            <div class="col-lg-12 col-md-10 mx-auto">
              <div class="page-heading">
              </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container" name="mvv">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" name="mvv" style="padding-top: 7rem">
            <h3 class=" pt-5 sub-head-contact text-center">Misión, Visión y Valores</h3>
            <hr>
            <div class="text-desc-contact text-left" name="mvv">
              <p>En Privacy lawyers S. A. S. de C. V., nuestra misión es contribuir con
              nuestros clientes en la prevención y mitigación de riesgos
              legales, comisión de delitos, económicos y reputacionales,
              basados en un estricto programa de cumplimiento legal. </p>
              <p>Nuestra visión es ser la primer despacho boutique en brindar consultoría especializada en materia de
              cumplimiento en base a nuestros pilares fundamentales: Diagnóstico, i. indicadores de gestión de cumplimiento
              y ii. capacitación; en ramas específicas y modernas del derecho.</p>
              <p>La honestidad, la ética, el profesionalismo, la actualización, la eficiencia y la responsabilidad son parte
              de nuestros principales valores con los que trabajamos para nuestros clientes.</p>
            </div>
        </div>
      </div>
    </div>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'

Vue.use(Meta)

export default {
  name: 'About',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer
  },
  data: function () {
    return {
      originPage: this.$options.name
    }
  },
  metaInfo: {
    title: 'PAD COMPLIANCE',
    titleTemplate: '%s ← Acerca de nosotros',
    // Define meta tags here.
    meta: [
      {charset: 'utf-8'},
      {name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'},
      {httpequiv: 'Content-Type', content: 'text/html'},
      {name: 'description', content: 'Contribuir con nuestros clientes en la prevención y mitigación de riesgos legales, comisión de delitos, económicos y reputacionales, basados en un estricto programa de cumplimiento legal. Nuestra visión es ser la primer despacho boutique en brindar consultoría especializada en materia de cumplimiento en base a nuestros pilares fundamentales: Diagnostico, i. indicadores de gestión de cumplimiento y ii. capacitación; en ramas especificas y modernas del derecho. La honestidad, la ética, el profesionalismo, la actualización, la eficiencia y la responsabilidad son parte de nuestros principales valores con los que trabajamos para nuestros clientes.'},
      {name: 'keywords', content: 'PAD, prevención, mitigación, delitos, despacho, consultoria, diagnóstico, capacitación, derecho,gestión'},
      // google markup
      {itemprop: 'name', content: 'PAD COMPLIANCE'},
      {itemprop: 'description', content: 'Contribuir con nuestros clientes en la prevención y mitigación de riesgos legales, comisión de delitos, económicos y reputacionales, basados en un estricto programa de cumplimiento legal. Nuestra visión es ser la primer despacho boutique en brindar consultoría especializada en materia de cumplimiento en base a nuestros pilares fundamentales: Diagnostico, i. indicadores de gestión de cumplimiento y ii. capacitación; en ramas especificas y modernas del derecho. La honestidad, la ética, el profesionalismo, la actualización, la eficiencia y la responsabilidad son parte de nuestros principales valores con los que trabajamos para nuestros clientes.'},
      {itemprop: 'keywords', content: 'PAD, prevención, mitigación, delitos, despacho, consultoria, diagnóstico, capacitación, derecho,gestión'}
    ]
  }
}
</script>

<style lang="scss">
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/variables.scss";
.container[name="we"]{
  margin:0;
}
.cuad[name="we"] {
    display: grid;
    position: absolute;
    top: 4rem;
    left:0;
    width:100%;
    grid-template-columns: auto auto auto;
}
.cuad-item {
    -webkit-box-pack: left;
    height: 21rem;
    width: 43rem;
    -ms-flex-pack: left;
    justify-content: left;
    background:($primary-color,0.67);
    background-image: url('../assets/img/we5.jpg');
}
.cuad-item:nth-child(1) {
    -webkit-box-pack: left;
    height: 21rem;
    width: 100%;
    -ms-flex-pack: left;
    justify-content: left;
    background:($primary-color,0.67);
    background-image: url('../assets/img/we5.jpg');
}
.cuad-item:nth-child(2) {
    -webkit-box-pack: left;
    height: 21rem;
    width: 100%;
    -ms-flex-pack: left;
    justify-content: left;
    background:#fff;
}
.cuad-item:nth-child(3) {
    -webkit-box-pack: left;
    height: 21rem;
    width: 100%;
    -ms-flex-pack: left;
    justify-content: left;
    background:($primary-color,0.67);
    background-image: url('../assets/img/we3.jpg');
}
@media screen and(min-width:408px){
.mx-auto[name="mvv"] {
    margin-left: auto !important;
    margin-top: 9rem;
}
}
@media screen and(max-width:420px){
.mx-auto[name="mvv"] {
    margin-left: auto !important;
    margin-top: 22rem;
}
}
@media screen and (max-width:414px){
  .cuad[name="we"] {
    display: grid;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    grid-template-columns: auto auto auto;
}
.text-desc-contact[name="mvv"]{
  font-size:12px;
}
}
@media screen and(max-width:600px){
  .text-desc-contact[name="mvv"]{
  font-size:12px;
}

}
</style>
