<template>
  <div id="terminos">
    <navigation-component :originPage="originPage"></navigation-component>
  <!-- Page Header -->
    <header class="masthead-terminos">
        <div class="overlay" name="terminos"></div>
        <div class="container">
            <div class="row" name="term">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h2 class="term-title" name="term">Aviso de Privacidad</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <section id="terminos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="font-weight-bold text-justify term-sec" >
                        AVISO DE PRIVACIDAD INTEGRAL
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>1. "Responsable" del tratamiento de sus datos personales.</b> Privacy Lawyers S. A. S. de C. V.
                        (“Responsable”) de conformidad con la Ley Federal de Protección de Datos Personales en
                        Posesión de los Particulares, es el “Responsable” del tratamiento de los personales que son
                        proporcionados por Usted a través del presente Sitio. El presente “Aviso de Privacidad Integral”,
                        es el complemento de cualesquiera otros avisos de privacidad simplificados o cortos que el
                        “Responsable” haya puesto a su disposición y que sirve para informarle respecto a las finalidades
                        primarias y secundarias para las cuales se trataran sus datos personales.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>2. Domicilio del "Responsable".</b> Calle  Concepción Méndez #49, Colonia Atenor Salas, Delegación
                        Benito Juárez, C.P. 03010 en la Ciudad de México.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>3. Finalidades del tratamiento de los datos personales.</b> El "Responsable", tratará su
                        información para realizar cualquiera de las finalidades siguientes: Primarias: (i) Para utilizar
                        todos los servicios relacionados al uso, navegación y acceso al presente Sitio; (ii) Para la
                        compra de servicios; (iii) Para brindarle adecuadamente los servicios de diagnóstico gratuito;
                        (iv) Para brindarle los servicios de los módulos de pago adquiridos; (v) Para estar en oportunidad
                        de prestarle cualquiera de los servicios adquiridos; (vi) Para informarle y/o contactarle,
                        respecto al estatus de sus compras de servicios; (vii) Para gestionarle cualquier pago o cobro
                        derivado de la adquisición de servicios; (viii) Para las finalidades que se desprendan del marco
                        legal; (ix) Para ser nuestro proveedor de bienes y/o servicios; (x) Para regir las operaciones
                        comerciales e intercambio de información que por medios electrónicos se lleve a cabo y la forma
                        de expresar su consentimiento; (xi) Para la emisión de facturas. Secundarias: (i) Para enviarle
                        por diversos medios nuestras promociones; (ii) Para realizar publicidad en redes sociales, medios
                        de comunicación e información, periódicos y revistas; (iii) Para evaluar la calidad de los servicios,
                        así como para llevar a cabo encuestas de satisfacción; (iv) Para ofrecerle cualquiera de nuestros
                        servicios; (vi) Para fines mercadológicos, de prospección comercial y fines estadísticos e históricos.
                        Usted podrá manifestar su negativa respecto al tratamiento de sus datos personales para las finalidades
                        secundarias, dentro de los 5 días hábiles siguientes contados a partir de que otorgó sus datos,
                        enviando un correo electrónico al departamento de privacidad, a la siguiente dirección: @, en donde
                        se le informara el procedimiento a seguir para que sus datos dejen de utilizarse para las finalidades
                        secundarias para las cuales no se desea sean tratados sus datos personales.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>4. Datos personales recabados.</b> Para los fines a realizar, le solicitaremos las siguientes
                        categorías de datos personales: identificación, contacto, financieros y patrimoniales. No se solicitarán
                        datos personales sensibles.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>5. Uso de Cookies y Web Beacons.</b> Le informamos que el presente sitio de internet tiene implementados
                        candados de seguridad SSL, cookies y otras herramientas de rastreo.
                    </p>
                    <p class="text-justify text-desc-contact" >
                        <b>6. Revocación de consentimiento.</b> Para el caso que desee revocar el consentimiento que nos
                        ha otorgado para el tratamiento de sus datos personales, será necesario enviar un correo electrónico
                        al departamento de privacidad: @ donde se le informará el procedimiento a seguir, tomando en
                        consideración el tipo de relación que entabló con el Responsable para el tratamiento de sus datos
                        personales.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>7. Límites al uso y/o divulgación de sus datos personales.</b> Para limitar el uso o divulgación
                        de sus datos personales, será necesario enviar un correo electrónico al departamento de privacidad:
                        @, donde Usted podrá solicitar se le incluya en los listados de exclusión internos de no contactar
                        para fines promocionales y mercadológicos. Así mismo, podrá inscribirse en el registro público para
                        evitar publicidad de la Procuraduría Federal del Consumidor, accediendo a la siguiente liga,
                        http://repep.profeco.gob.mx/. En caso de que requiera limitar su uso o divulgación para otros fines,
                        deberá enviar su solicitud al correo citado, donde se le informará el procedimiento a seguir, tomando
                        en consideración el tipo de relación que entabló con el Responsable para el tratamiento de sus datos
                        personales.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>8. Ejercicio de derechos A. R. C. O.</b> Para ejercitar los derechos de acceso, rectificación,
                        cancelación y oposición respecto a sus datos personales, lo deberá realizar, enviando un correo
                        electrónico al departamento de datos privacidad a la siguiente dirección: @, adjuntando la siguiente
                        información y documentos: i) Identificación Oficial Vigente, ii) Nombre completo del Titular, iii)
                        Descripción clara de los datos personales sujetos al ejercicio del derecho ejercido. Asimismo,
                        se deberá llenar el formato que le será enviado por correo electrónico. Usted tendrá una respuesta
                        por correo electrónico, respecto a la procedencia o no del ejercicio de su derecho, dentro de los
                        siguientes 20 días hábiles de recibido su correo. Dentro de los siguientes 15 días hábiles posteriores
                        a la respuesta anterior, en el caso de que sea procedente su derecho, será aplicado.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>9. Transferencias.</b> De conformidad al artículo 37 de la Ley Federal de Protección de Datos
                        Personales en Posesión de los Particulares, podríamos realizar una transferencia de sus datos
                        nacional o internacional, sin que sea necesario su consentimiento, a Autoridades Gubernamentales,
                        Administrativas y/o Judiciales, municipales, estatales o federales, sociedades filiales, subsidiarias,
                        controladoras o aquellas pertenecientes al mismo grupo de sociedades que operan bajo los mismos
                        procesos y políticas internas, a Autoridades Sanitarias, o bien entes privados de servicios de
                        salud, comerciantes ya sea personas físicas o morales, para dar cumplimiento a cualquiera de las
                        finalidades señaladas en el presente aviso de privacidad, incluyendo aquellas que sean necesarias
                        para cumplir con las leyes o que hubiesen sido legalmente exigidas para salvaguardar el interés
                        público, para la procuración o administración de justicia, cuando sea necesaria para el reconocimiento,
                        ejercicio o defensa de un derecho en un proceso judicial, cuando sea necesaria para la prevención o
                        diagnóstico médico, gestiones y/o prestación de servicios sanitarios o médicos, cuando sea necesaria
                        o resulten de las obligaciones de un contrato celebrado o por celebrarse, o finalmente, para dar
                        mantenimiento o cumplimiento a relaciones jurídicas entre titular y Responsable.
                    </p>
                    <p class="text-justify text-desc-contact">
                        <b>10. Modificaciones al aviso de privacidad.</b> El presente aviso de privacidad podrá ser
                        modificado y/o actualizado por distintas causas, incluyendo las legales. Por ello, el “Responsable”
                        pondrá a disposición del titular, la versión actualizada del aviso de privacidad, en la página de
                        internet: www.padcompliance.mx.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'

Vue.use(Meta)

export default {
  name: 'Terminos',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer
  },
  data: function () {
    return {
      originPage: this.$options.name
    }
  },
  metaInfo: {
    title: 'PAD COMPLIANCE',
    titleTemplate: '%s ← Aviso de Privacidad',
    // Define meta tags here.
    meta: [
      {charset: 'utf-8'},
      {name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'},
      {httpequiv: 'Content-Type', content: 'text/html'},
      {name: 'description', content: 'Aviso de privacidad integral'},
      {name: 'keywords', content: 'PAD, aviso, privacidad, integral, responsable'},
      // google markup
      {itemprop: 'name', content: 'PAD COMPLIANCE'},
      {itemprop: 'description', content: 'Aviso de privacidad integral '},
      {itemprop: 'keywords', content: 'PAD, aviso, privacidad, integral, responsable '}
    ]
  }
}
</script>

<style lang="scss">
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
</style>
