<template>
  <div id="blog">
    <navigation-component :originPage="originPage"></navigation-component>
    <main class="blog" :class="{ 'blog--reading': this.post }">
      <div class="title-blog" style="padding-top: 6rem">
        <h1 class="encabezado "><br>{{header}}<br><br></h1>
      </div>
      <blog-feed :filters="filters"/>
      <blog-post :post="post"/>
    </main>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import BlogFeed from './blog/BlogFeed'
import BlogPost from './blog/BlogPost'

export default {
  name: 'Blog',
  components: { 'navigation-component': Navigation, BlogFeed, BlogPost, 'footer-component': Footer },
  props: {
    post: String,
    author: String
  },

  data () {
    return {
      navs: 0,
      title: '',
      header: '',
      originPage: this.$options.name
    }
  },
  methods: {
    titleChange () {
      let header
      header = this.$route.path.split('/')[1]
      if (header === 'news') {
        this.header = 'Noticias'
      } else {
        this.header = 'Blogs'
      }
    }
  },
  computed: {
    /* content () {
      return { labels: this.labels }
    }, */
    filters () {
      let filters = {}

      if (this.post) filters.post = undefined
      if (this.author) filters.author = this.author

      return filters
    }
  },

  watch: {
    '$route.name' (to, from) {
      if (to !== from) this.navs++
    },
    $route: 'titleChange'
  },

  mounted () {
    this.titleChange()
  }
}
</script>

<style lang="scss" >
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/post.scss";

</style>
