<template class=" desaparecer">
  <div id="antpack">
    <!--navigation-component :originPage="originPage"></navigation-component-->
    <!-- Page Header -->
    <!-- Main Content -->
    <div class="mt-5">
      <cart @clickBuying="goToBuying"></cart>
      <b-navbar class="text-center text-white mr-auto ml-auto mt-top" style="top: 4rem; background:transparent; height:10rem;" toggleable>
      </b-navbar>
      <b-container class="bv-example-row">
            <b-row>
          <!--div class="col-lg-12 col-md-12 col-sm-12 mx-auto"-->
            <!--plan covid-19-->
              <div class="item-pack col-lg-8 ml-auto mr-auto mb-5">
              <b-card
                  no-body
                  style="max-width: 50rem; min-width:15rem; box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);"
                  img-alt="Image"
                  img-top
                >
                  <template v-slot:header>
                    <span style="color:black" class="mt-3"> <h3> {{products[3].name}} </h3> </span>
                    <hr style="max-width:100%">
                  </template>
                  <b-card-body v-if="this.origin">
                   <b-card-text >
                      <div>
                              </div>
                              <div class="mt-3">
                                <span class="sub-cards" name="90">${{comaMiles(products[3].price )}}.00</span><span class="blu-cards" name="blue"> + IVA </span>
                              </div>
                           <span class="cump btn btn-info mt-3 mb-2 cart-text" name="market" @click="addCar(products[3].id)"><i class="fa fa-cart-arrow-down mt-1 mr-2"></i></span>
                    </b-card-text>
                  </b-card-body>
                    <b-card-body v-else>
                        <b-card-text >
                      <div>
                                <span class="red-sub mt-3" name="90">${{comaMiles(products[3].price)}}.00.00</span><span class="anounc mt-1 ml-3" name="90">100% Descuento</span><br>
                              </div>
                              <div class="mt-3">
                                <span class="sub-cards" name="90">${{comaMiles(products[3].price * products[3].pricedesc)}}.00</span><span class="blu-cards" name="blue"> + IVA </span>
                                <p class="text-success">Vigencia hasta el 30 Junio 2020</p>
                              </div>
                              <b-button
                  class="btn btn-info text-link  "
                  style="color:white; font-size:0.8rem;"
                  :to="{ name: 'registerView' }"
                >Registrarse</b-button>
                    </b-card-text>
                  </b-card-body>
                  <b-list-group flush>
                    <b-list-group-item class=" font-table text-left" > <i class="fa fa-check-circle mr-2 mt-1 mb-1 color-fa " aria-hidden="true"></i>Identificación de los principales factores de riesgo por pandemia.</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Tabla de impacto en la continuidad del negocio por pandemia (COVID-19)</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Cuestionario para la evaluación de las actividades clave del negocio</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Cuestionario para la elaboración del plan de continuidad del negocio</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Tabla para mitigar los riesgos derivados de una pandemia (COVID-19)</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Monitoreo de los controles a implementar</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Notificaciones de los acuerdos,decretos o reformas relacionados con la pandemia</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-check-circle mr-2 mt-1 mb-1 color-fa" aria-hidden="true" ></i>Evaluación contínua del plan a través de la herramienta de monitoreo y de auditoría</b-list-group-item>
                    <b-list-group-item class=" font-table text-left" > <i class=" fa fa-times-circle mr-2 mt-1 mb-1 color-fa" style="color:red;" aria-hidden="true" ></i>Implementación documental del Plan de Continuidad del Negocio por Pandemia (COVID-19)</b-list-group-item>
                  </b-list-group>
              </b-card>
              </div>
        </b-row>
        </b-container>
    </div>
  </div>
</template>
<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'
import cart from './cart/Cart'
import { mapGetters, mapMutations, mapState } from 'vuex'
import swal from 'sweetalert2'
import userAPI from '../api/user/user'

Vue.use(Meta)

export default {
  name: 'antipack',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer,
    cart,
    swal
  },
  data: function () {
    return {
      idToken: '',
      moduleToken: '',
      originPage: this.$options.name,
      selected: null,
      checked: false,
      origin: false,
      id_link: '',
      carShop: [],
      img: {
        head1: require('@/assets/img/covid.png')
      }
    }
  },
  computed: {
    ...mapState('cart', ['cartProducts', 'products']),
    ...mapGetters('cart', ['isBuyingPremium'])
  },
  methods: {
    ...mapMutations('cart', ['ADD_PRODUCT_TO_CART', 'RESET_CART']),
    addCar (data) {
      var datos = {
        id: null,
        name: null,
        email: null,
        pais: null,
        module: null,
        vigencia: null,
        organization_id: null,
        vigenciaModule: null
      }
      //  let statusModule = null
      let prod = this.cartProducts.find(product => product.id === data)
      if (prod !== undefined) {
        swal.fire({
          title: 'Aviso',
          text: 'Este producto ya ha sido agregado',
          buttonsStyling: false,
          confirmButtonClass: 'btn btn-info btn-fill',
          type: 'warning'
        })
      } else {
        if (data === 4) {
          //  alert("verificar si ya esta comprado")
          if (this.moduleToken) {
            userAPI
              .getDatosOrganizations(this.moduleToken)
              .then(x => {
                datos.id = x.id
                datos.name = x.name
                datos.email = x.email
                datos.pais = x.pais
                datos.module = x.module
                datos.vigencia = x.vigencia
                datos.organization_id = x.organization_id
                datos.vigenciaModule = x.vigContinuidad
                console.log(JSON.stringify(datos))
                if (datos.vigenciaModule) {
                //  alert("Verificar status y vigencia")
                  var stateVig = this.verificarVigencia(datos)
                  if (stateVig) {
                    this.ADD_PRODUCT_TO_CART(data)
                  } else {
                    swal
                      .fire({
                        title: 'No es posible proceder con la compra',
                        type: 'info',
                        text:
                          'Este módulo tiene una vigencia activa',
                        showCancelButton: false,
                        confirmButtonClass: 'btn btn-info btn-fill',
                        confirmButtonText: 'Entendido'
                      })
                  }
                }
              })
              .catch(error => {
                console.log(error)
                swal
                  .fire({
                    title: 'No es posible proceder con la compra',
                    type: 'error',
                    text:
                      'Los datos de la organización no han sido encontrados.',
                    showCancelButton: false,
                    confirmButtonClass: 'btn btn-info btn-fill',
                    confirmButtonText: 'Entendido'
                  })
              // this.showError('No se han podido cargar los datos. Favor de iniciar sesion otra vez')
              })
          } else {
            this.ADD_PRODUCT_TO_CART(data)
          }
        } else {
          this.ADD_PRODUCT_TO_CART(data)
        }
      }
    },
    verificarVigencia (datos) {
      var fechaMod = new Date(datos.vigenciaModule).getTime()
      var fechaFij = '2020-06-30'
      fechaMod = new Date(fechaMod).getTime()
      fechaFij = new Date(fechaFij).getTime()
      var diff = fechaMod - fechaFij
      diff = diff / (1000 * 60 * 60 * 24)
      console.log(diff)
      if (diff > 0) {
        return false
      } else {
        return true
      }
    },
    isExpanded (key) {
      return this.expandedGroup(key) !== -1
    },
    toggleExpansion (key) {
      if (this.isExpanded(key)) {
        this.expandedGroup.splice(this.expandedGroup.indexOf(key), 1)
      } else {
        this.expandedGroup.push(key)
      }
    },
    comaMiles (number) {
      var number1 = number.toString()
      var result = ''
      var estado = true
      if (parseInt(number1) < 0) {
        estado = false
        number1 = parseInt(number1) * -1
        number1 = number1.toString()
      }
      if (number1.indexOf(',') === -1) {
        while (number1.length > 3) {
          result = ',' + '' + number1.substr(number1.length - 3) + '' + result
          number1 = number1.substring(0, number1.length - 3)
        }
        result = number1 + result
        if (estado === false) {
          result = '-' + result
        }
      } else {
        var pos = number1.indexOf(',')
        var numberInt = number1.substring(0, pos)
        var numberDec = number1.substring(pos, number1.length)
        while (numberInt.length > 3) {
          result =
            '.' + '' + numberInt.substr(numberInt.length - 3) + '' + result
          numberInt = numberInt.substring(0, numberInt.length - 3)
        }
        result = numberInt + result + numberDec
        if (estado === false) {
          result = '-' + result
        }
      }
      return result
    },
    getCarShop () {
      var cad = ''
      this.cartProducts.map(item => {
        cad = cad + item.id + ','
      })
      var tam = cad.length
      cad = cad.substring(0, tam - 1)
      return cad
    },
    goToBuying () {
      if (this.isBuyingPremium) {
        if (this.origin) {
          this.$router.push({ name: 'Buying' })
        } else {
          this.$router.push({
            name: 'register',
            params: { id: 'payment', car: this.getCarShop() }
          })
        }
      } else {
        swal
          .fire({
            title: 'No es posible proceder con la compra',
            text:
              'Debe adquirir uno de los planes disponibles, si deseas solamente algún servicio, ponte en contacto con nosotros y te proporcionaremos una atención personalizada dando click en el boton "Contactenos"',
            showCancelButton: true,
            confirmButtonText: 'Contactenos',
            cancelButtonText: 'Entendido'
          })
          .then(result => {
            if (result.value) {
              this.$router.push({ name: 'MainPage', hash: '#contact' })
            }
          })
      }
    }
  },
  created () {
    this.RESET_CART()
    sessionStorage.clear()
    this.idToken = this.$route.query.id
    this.moduleToken = this.$route.query.token
    if (this.idToken) {
      this.id_link = this.idToken
      this.origin = true
      sessionStorage.setItem('accessToken', this.id_link)
    } else {
      if (this.moduleToken) {
        this.origin = true
        sessionStorage.setItem('token', this.moduleToken)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/variables.scss";
@import "../assets/styles/pricing.scss";
.card {
  border-radius: 1.5rem;
}
.card > .list-group:last-child .list-group-item[data-v-15d34ee0]:last-child {
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}
.anounc {
  background: $default-color;
  width: 30%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-family: $latB;
}
.color-fa {
  color: #17a2b8;
  transition: color 500ms;
}
.grid-pack {
  display: grid;
  position: relative;
  top: 4rem;
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.item-pack {
  width: 95%;
  text-align: center;
}
.cart-text:before {
  content: "agregar ";
}
@media screen and (max-width: 990px) {
  .grid-pack {
    top: 7rem;
  }
}
@media screen and(max-width:720px) {
  .grid-pack {
    grid-template-columns: 1fr;
    align-items: space-around;
  }
}
</style>
