<template>
  <div id="buy">
    <div >
        <navigation-component :originPage="originPage"></navigation-component>
        <div>
          <br><br><br>
          <h3 class="title-product mt-2">Confirma tu compra</h3>
          <hr class="hr-1" style="max-width:50%">
          <div class="container mt-5">
            <div class="row table-style">
              <div class="col-lg-7" style="font-size: 1.5em; font-weight: bold">
                Productos:
              </div>
              <div class="col-md-3 ml-auto" style="font-size: 1em; text-align:center">
                Precio / Iva incluido
              </div>
            </div>
            <div class="row"><div class="col-lg-12"><hr class="div-style"></div></div>
          </div>
          <!--Separation-->
          <div class="container mb-3" style="background-color:white; border-radius:20px;box-shadow: 3px 9px 15px -5px rgba(171,164,171,1);" v-for="(element, idx) in cartProducts" :key="idx">
            <b-card  text-variant="white" >
            <div class="row table-style mb-3">
              <div class="col-lg-12 mt-3 product-name">
                {{element.name}}
              </div>
            </div>
            <div class="row table-style">
              <div class="col-lg-7" style="font-size: .9em;">
                <div >
                 {{element.desc}}
                </div>
              </div>
            </div>
            <div class="col-md-2 ml-auto" style="font-size: .9em; text-align:center">
                <span v-if="!idsPlanes.includes(element.id)" class="boton pos-option" @click="deleteProduct(element.id)">
                  <strong style="color: white; font-size:2rem; color:#c70e0e;" class="fa fa-times"></strong>
                </span>
              </div>
              <div class="row table-style mb-2 resp-buy" name='buy' v-if="element.statusdesc">
              <div class="col-lg-7 col-md-7 col-sm-7 mb-3 text-descuento pos-desc" style="font-size: .9em; width:fit-content;">
              {{element.descModule}}
              </div>
              <div class="col-md-3 ml-auto price-label" >
                <strong class="red-sub" v-if="element.pricedesc < 1">MXN $ {{comaMiles( element.price)}}.00</strong>
                <strong v-else >MXN $ {{comaMiles( element.price)}}.00</strong>
              </div>
              <div v-show="element.pricedesc < 1" class="col-md-3 ml-auto price-label mb-3" >
                MXN $ {{comaMiles(element.pricedesc * element.price)}}.00
              </div>
            </div>
               <div class="row table-style mb-2 resp-buy" name='buy' v-else>
              <div class="col-lg-7 col-md-7 col-sm-7 mb-3 text-descuento pos-desc" style="font-size: .9em; width:fit-content;">
              {{element.descModule}}
              </div>
              <div class="col-md-3 ml-auto price-label" >
                <strong >MXN $ {{comaMiles( element.price)}}.00</strong>
              </div>
            </div>
            <div class="row table-style mb-3">
              <div class="col-lg-12 mb-3"></div>
            </div>
          </b-card>
             </div>
          <div class="container mt-5">
            <div class="row table-style">
              <div class="col-lg-7">
              </div>
              <div class="col-md-2 ml-auto" style="font-size: 1em; text-align:right; color:#1885DA;">
                Sub Total
              </div>
              <div class="col-md-3 ml-auto" style="font-size: 1em; text-align:right">
                $ {{comaMiles(subtotal)}} MXN
              </div>
              <div class="col-lg-7">
              </div>
              <div class="col-md-2 ml-auto" style="font-size: 1em; text-align:right; color:#1885DA;">
                IVA
              </div>
              <div class="col-md-3 ml-auto" style="font-size: 1em; text-align:right">
                $ {{comaMiles(iva)}} MXN
              </div>
              <div class="col-lg-7">
              </div>
              <div class="col-md-2 ml-auto" style="font-size: 1em; text-align:right; color:#1885DA;">
               TOTAL
              </div>
              <div class="col-md-3 ml-auto" style="font-size: 1em; text-align:right">
                <strong>$ {{comaMiles(getTotalDesc)}} MXN</strong>
              </div>
            </div>
          </div>
          <div class="container mt-5">
            <div class="row">
              <div class="col-lg-12 text-right">
                  <b-button v-if="cartProducts.length === undefined || cartProducts.length == 0 || !isBuyingPremium" disabled size="md" style="font-size:14px;padding:10px" class="btn-default mx-auto mt-3 mb-3">Continuar</b-button>
                  <b-button v-else v-b-modal.modal-scrollable size="md" style="font-size:14px;padding:10px color:orange !important;" class="btn-default mx-auto mt-3 mb-3" @click="continueShopping()">Continuar</b-button>
                  <br>
                  <span style="color:red; font-size:.7em" v-if=" !isBuyingPremium && cartProducts.length>0">*Recuerda que debes adquirir un plan para poder realizar la compra</span>
              </div>
            </div>
            <b-modal id="modal-scrollable" size="lg" class="center" ok-variant="success" ok-title="Aceptar y continuar" @ok="accept">
              <h2 slot="modal-header" style="font-weight:bold"> Aviso </h2>
              <terms @aceptacion="okaccept"></terms>
              <div slot="modal-footer">
                <b-button class="btn btn-danger"  @click="cancelShopping">Cancelar </b-button>
                <b-button :disabled="acceptTermsButton" class="btn btn-success"  @click="accept">Aceptar y Continuar </b-button>
              </div>
            </b-modal>
          </div>
          <br>
          <h3 class="title-product mt-3">Productos y servicios adicionales
          <hr class="hr-2" style="max-width:60%"></h3>
          <!--Separation-->
          <div class="container mt-5">
            <div class="row table-style">
              <div class="col-lg-10 ml-auto" style="font-size: 1.5em; font-weight: bold">
                Descripción:
              </div>
              <div class="col-lg-2 ml-auto" style="font-size: 1em; text-align:center">
                Agregar
              </div>
            </div>
            <div class="row"><div class="col-lg-12"><hr class="div-style"></div></div>
          </div>
          <div class="container mb-3" style="background-color:white; border-radius:20px;box-shadow: 3px 9px 15px -5px rgba(171,164,171,1);" v-for="(product,index) in productsNotInCart" :key="'a'+index">
            <b-card>
            <div class="row table-style mb-3">
              <div class="col-lg-12 mt-3 product-name">
              {{product.name}}
              </div>
            </div>
            <div class="row table-style ">
              <div class="col-lg-7" style="font-size: .9em;">
              {{product.desc}}
              </div>
              <div class="col-md-2 ml-auto" style="text-align:center">
                <span class="boton-add pos-option" @click="addProduct(product.id)">
                  <strong style="color: white;font-size:2rem; color:#1ad633;" class="fa fa-cart-plus "></strong>
                </span>
              </div>
            </div>
            <div class="row table-style mb-3 resp-buy" v-if="product.pricedesc > 0">
              <div class="col-lg-7 col-md-7 col-sm-7 mb-3 text-descuento pos-desc" style="font-size: .9em;">
              {{product.descModule}}
              </div>
              <div class="col-md-3 ml-auto price-label" >
                <strong class="red-sub" v-if="product.pricedesc < 1">MXN $ {{comaMiles( product.price)}}.00</strong>
                <strong v-else >MXN $ {{comaMiles( product.price)}}.00</strong>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 mb-3 text-descuento pos-desc" ></div>
              <div v-show="product.pricedesc < 1" class="col-md-3 ml-auto price-label mb-3">
                <strong class="">MXN $ {{comaMiles(product.pricedesc * product.price)}}.00</strong>
              </div>
            </div>
            <div class="row table-style mb-3" v-else>
             <div class="col-lg-7 col-md-7 col-sm-7 mb-3 text-descuento pos-desc" style="font-size: .9em;">
              {{product.descModule}}
              </div>
              <div class="col-md-3 ml-auto price-label" >
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 mb-3 text-descuento pos-desc" ></div>
              <div v-show="!product.statusdesc" class="col-md-3 ml-auto price-label mb-3">
                <strong class="">MXN $ {{comaMiles(product.price)}}.00</strong>
              </div>
            </div>
            </b-card>
          </div>
        </div>
        <!--Collapse-->
        <div class=" container mt-5">
          <div v-for="(group, key) in groups" :key="group.id">
            <div class="row mb-3" style="cursor:pointer" @click="toggleExpansion(key)">
              <div class="col-md-10">
                <a class="table-style" style="color: #ACB4BD">{{group.name}}</a>
              </div>
              <div class="col-md-2 text-right">
                <a class="table-style" style="color: #ACB4BD"><strong></strong></a>
              </div>
            </div>
            <div style="list-style:none; text-align:justify; color:#ACB4BD; transition:all 1s;" v-show="isExpanded(key)">
              <a>{{group.desc}}</a>
            </div>
            <hr class="div-style">
          </div>
        </div>
        <div role="tablist" class="mt-5">
        </div>
        <footer-component></footer-component>
    </div>
  </div>
</template>
<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import ShoppingTerms from './ShoppingTerms.vue'
import swal from 'sweetalert2'
import { mapGetters, mapMutations, mapState } from 'vuex'
import userAPI from '../api/user/user'

export default {
  name: 'Buying',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer,
    terms: ShoppingTerms,
    swal
  },
  data () {
    return {
      moduletoken: '',
      modalShow: false,
      id_link: '',
      groups: [
        {
          name: '¿Qué obtengo con mi compra?',
          desc:
            'Contarás con un módulo integral que de forma automatizada te indica lo requerido por ley en anticorrupción es decir, desde la gestión de los riegos de corrupción, su identificación, evaluación y acciones de mitigación hasta la Identificación de las tareas a ejecutar así como su seguimiento, adicional contarás con herramientas de monitoreo correlacionada con los procesos de tu empresa (gestor documental e indicadores).'
        },
        {
          name: '¿Para qué me sirve?',
          desc:
            'Identifica rápidamente los riesgos de corrupción en tu empresa y minimízalos al máximo. Contarás con un plan automatizado para gestionar la Política de Integridad a través de nuestros cuestionarios, identifica todas las acciones de control alianeadas a los procesos de tu empresa, las cuales deberás cargar en nuestro gestor documental para monitorear su cumplimiento.'
        },
        {
          name:
            '¿Realizo contrataciones públicas, es necesario poseer este módulo?',
          desc:
            'Hoy en día es un requisito esencial, deberás contar con un programa completo consistente en la política de integridad que prevenga riesgos de corrupción, nuestro módulo es una solución para cumplir con esta normativa específica, admás de cumplir con varios requerimientos para ser parte del Padron de Integridad Empresarial.'
        },
        {
          name: '¿A que estoy expuesto?',
          desc:
            'Actualmente "YA ESTAS EN RIESGO" la corrucpión afecta la competitividad de tu empresa y son proporcionales al 20% en pérdidas, existen sanciones tanto para las personas físicas (multas hasta de 11 millones de pesos, indemnizaciones, inclusive pérdida de la libertad) hasta sanciones para tu empresa (suspensión, inhabilitación, disolución). Nuestra solución te apoya para mitigar estos riesgos'
        },
        {
          name: '¿Que beneficio obtengo?',
          desc:
            'Además de contribuir socialmente a la lucha contra la corrupción, al ejecutar los planes automatizados contarías con un código de ética o de conducta, manuales de procedimientos, sistema de control y vigilancia, políticas de recursos humanos y mecanismos de transparencia. Éstos son algunos de los requisitos para acceder al Padron de Integridad Empresarial y obtener un distintivo al respecto (necesario para quienes realizan contrataciones públicas).'
        }
      ],
      expandedGroup: [],
      originPage: this.$options.name,
      selectedProduct: [],
      accepted: false,
      acceptTermsButton: true
    }
  },
  computed: {
    totalPrice () {
      return this.formatPrice(this.getTotalDesc)
    },
    ...mapState('cart', ['products', 'cartProducts', 'showCart', 'idsPlanes', 'subtotal', 'iva', 'total']),
    ...mapGetters('cart', [
      'getTotal',
      'descMount',
      'getTotalDesc',
      'checkoutBool',
      'productsNotInCart',
      'isBuyingPremium'
    ])
  },
  created () {
    this.id_link = this.$route.query.id
    this.moduletoken = this.$route.query.token
    var carshop = this.$route.query.car
    if (carshop && sessionStorage.getItem('order') === null) {
      // Caso cuando se tiene carshop en url
      var datosCar = carshop.split(',')
      datosCar = datosCar.map(id => {
        return parseInt(id)
      })
      this.SET_PRODUCTS_BY_ID(datosCar)
    }
  },
  methods: {
    ...mapMutations('cart', [
      'ADD_PRODUCT_TO_CART',
      'REMOVE_PRODUCT_FROM_CART',
      'SET_PRODUCTS_BY_ID'
    ]),
    comaMiles (number) {
      var number1 = number.toString()
      var result = ''
      var estado = true
      if (parseInt(number1) < 0) {
        estado = false
        number1 = parseInt(number1) * -1
        number1 = number1.toString()
      }
      if (number1.indexOf(',') === -1) {
        while (number1.length > 3) {
          result = ',' + '' + number1.substr(number1.length - 3) + '' + result
          number1 = number1.substring(0, number1.length - 3)
        }
        result = number1 + result
        if (estado === false) {
          result = '-' + result
        }
      } else {
        var pos = number1.indexOf(',')
        var numberInt = number1.substring(0, pos)
        var numberDec = number1.substring(pos, number1.length)
        while (numberInt.length > 3) {
          result =
            '.' + '' + numberInt.substr(numberInt.length - 3) + '' + result
          numberInt = numberInt.substring(0, numberInt.length - 3)
        }
        result = numberInt + result + numberDec
        if (estado === false) {
          result = '-' + result
        }
      }
      return result
    },
    okaccept (value) {
      this.acceptTermsButton = false
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(2).replace(',', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    },
    isExpanded (key) {
      return this.expandedGroup.indexOf(key) !== -1
    },
    toggleExpansion (key) {
      if (this.isExpanded(key)) {
        this.expandedGroup.splice(this.expandedGroup.indexOf(key), 1)
      } else {
        this.expandedGroup.push(key)
      }
    },
    cancelShopping () {
      if (this.accepted !== 'true') {
        this.$root.$emit('bv::hide::modal', 'modal-scrollable', 'font-text')
        this.modalShow = false
      } else {
        this.noAccept()
      }
    },
    noAccept () {
      this.accepted = false
    },
    continueShopping () {
      if (this.accepted !== 'true') {
        this.modalShow = true
      } else {
        this.accept()
      }
    },
    accept () {
      this.accepted = true
      // sessionStorage.setItem('order', JSON.stringify(this.selectedProduct))
      sessionStorage.setItem('total', this.totalPrice)
      sessionStorage.setItem('acceptTerms', this.accepted)
      this.$router.push({ name: 'PaymentMethods' })
    },
    addProduct (id) {
      let evaluate = this.validateDuplicates(this.cartProducts, id)
      if (evaluate === true) {
        swal.fire({
          text: 'Usted ya cuenta con este producto en su lista de compra',
          showConfirmButton: false,
          type: 'warning',
          timer: 1800
        })
        return
      }
      if (id === 4) {
        var datos = {
          id: null,
          name: null,
          email: null,
          pais: null,
          module: null,
          vigencia: null,
          organization_id: null,
          vigenciaModule: null
        }
        // let statusModule = null
        let moduleToken = sessionStorage.getItem('token')
        //  alert('check data'+moduleToken)
        if (moduleToken) {
          userAPI
            .getDatosOrganizations(moduleToken)
            .then(x => {
              datos.id = x.id
              datos.name = x.name
              datos.email = x.email
              datos.pais = x.pais
              datos.module = x.module
              datos.vigencia = x.vigencia
              datos.organization_id = x.organization_id
              datos.vigenciaModule = x.vigContinuidad
              //  alert(JSON.stringify(datos))
              if (datos.vigenciaModule) {
                // alert('Verificar status y vigencia')
                var stateVig = this.verificarVigencia(datos)
                if (stateVig) {
                  this.ADD_PRODUCT_TO_CART(id)
                } else {
                  swal
                    .fire({
                      title: 'No es posible proceder con la compra',
                      type: 'info',
                      text:
                        'Este módulo tiene una vigencia activa',
                      showCancelButton: false,
                      confirmButtonClass: 'btn btn-info btn-fill',
                      confirmButtonText: 'Entendido'
                    })
                }
              }
            })
            .catch(error => {
              console.log(error)
            // this.showError('No se han podido cargar los datos. Favor de iniciar sesion otra vez')
            })
        } else {
          this.ADD_PRODUCT_TO_CART(id)
        }
      } else {
        this.ADD_PRODUCT_TO_CART(id)
      }
    },
    verificarVigencia (datos) {
      var fechaMod = new Date(datos.vigenciaModule).getTime()
      var fechaFij = '2020-06-30'
      fechaMod = new Date(fechaMod).getTime()
      fechaFij = new Date(fechaFij).getTime()
      var diff = fechaMod - fechaFij
      diff = diff / (1000 * 60 * 60 * 24)
      alert(diff)
      if (diff > 0) {
        return false
      } else {
        return true
      }
    },
    deleteProduct (id) {
      this.REMOVE_PRODUCT_FROM_CART(id)
      // this.selectedProduct.splice(index, 1)
    },
    getStorage () {
      this.accepted = sessionStorage.getItem('acceptTerms')
      if (this.accepted === null || this.accepted === '') {
        this.accepted = false
      }
      // let selectedProduct = sessionStorage.getItem('order')
    },
    validateDuplicates (arr, val) {
      return arr.some(function (arrVal) {
        return val === arrVal.id
      })
    }
  },

  mounted () {
    this.getStorage()
  }
}
</script>
<style lang="scss" >
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/variables.scss";

.title-blog {
  width: 113%;
  position: relative;
  left: -3rem;
}
.title-product {
  text-align: center;
  color: #0b65c5;
  font-weight: bold;
}
.table-style {
  color: #757575;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.div-style {
  max-width: 100%;
  border-color: #bdbdbd;
  border-width: 2px;
}
.boton {
  position: absolute;
  right: 3rem;
  bottom: 0rem;
  margin-top: -20px;
  width: 50px;
  height: 50px;
  background-color: transparent !important ;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
}
// .boton:hover{
//   width: 60px;
//   height: 60px;
//   background-color:#c70e0e52 !important;
//   &:focus{
//     border:none;
//   }
// }
.boton-add {
  position: absolute;
  right: 4rem;
  bottom: 0rem;
  margin-top: -20px;
  width: 50px;
  height: 50px;
  background-color: transparent !important;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
}
// .boton-add:hover{
//   width: 60px;
//   height: 60px;
//  background-color:#1ad6335c !important;
//  &:focus{
//     border:none;
//   }
// }
.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
.modal-header {
  background: #0b65c5;
  color: white;
  justify-content: center;
}
.price-label {
  color: #0f5dac;
  font-size: 16px;
  text-align: center;
}
.product-name {
  text-transform: Capitalize;
  font-size: 1.1em;
  color: #212121;
}
.text-descuento {
  text-align: right;
}
.pos-option {
  width: fit-content;
}
@media screen and(max-width:575px) and (min-width: 360px) {
  .resp-buy {
    position: relative;
    right: 0rem;
    width: 80%;
  }
  .text-descuento {
    text-align: left;
  }
}
@media screen and(max-width:400px) {
  .resp-buy {
    right: 0rem;
  }
  .text-descuento {
    text-align: left;
  }
}
.hr-1 {
  position: relative;
  left: 25%;
  max-width: 50%;
}
.hr-2 {
  position: relative;
  left: 20%;
  max-width: 60%;
}
@media screen and(min-width:320px) and (max-width: 379px) {
  .pos-option {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
@media screen and(min-width:380px) and (max-width: 500px) {
  .pos-option {
    position: absolute;
    top: 1.5rem;
  }
  .pos-desc {
    position: relative;
    left: 0rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .text-descuento {
    text-align: left;
  }
  .boton {
    right: 2rem;
    bottom: -1rem;
  }
  .boton-add {
    right: 4rem;
    //bottom:-2rem;
  }
}
</style>
