<template class="padre">
  <div id='buypricing'>
   <navigation-component :originPage="originPage"></navigation-component>
    <!-- Page Header -->
    <div >
  <!-- Image and text -->
      <b-navbar class="text-center text-white mr-auto ml-auto mt-top" style="top: 9rem; background:#0f5dac;" toggleable>
          <h6 class="col-lg-12 whycump">
            <h3 class="text-center"><strong> ¿Por qué cumplir?</strong></h3>
              Cualquier empleado que cometa un delito al interior de la empresa y que se encuentre sometido a la supervisión de un gerente, <br>
              director de área o representante legal, siempre y cuando no se hubiere ejercido sobre ella el debido control o supervisión,<br>
              tendrá como consecuencia una responsabilidad penal para la empresa. Algunas de las sanciones son: la disolución, <br>
              suspensión o intervención de tu empresa, su clausura o la prohibición de realizar determinados negocios u actividades.</h6>
      </b-navbar>
    </div>
    <!-- Main Content -->
    <div class="mt-5">
      <div v-if="showPack===0">
        <pricing :showPack="showPack" v-on:setShowPack='setShowPack'></pricing>
      </div>
      <div v-if="showPack===1">
        <antipack></antipack>
      </div>
      <div v-if="showPack===2" class="col-lg-12 col-md-12 col-sm-12">
        <oproduct></oproduct>
      </div>
      <div v-if="showPack===3" class="col-lg-12 col-md-12 col-sm-12">
        <bussines></bussines>
      </div>
      </div>
      <div class="mr-5 mt-3 pos-return" style="margin-top:2rem;">
        <b-button size="sm" v-if="showPack>0" class="btn btn-info" @click="changePackInicio" style="text-decoration:none;"><i class="fa fa-angle-left  mr-1"></i>Ver planes</b-button>
      </div>
    <footer-component class="mt-5"></footer-component>
  </div>
</template>
<script>
import pricing from './Pricing.vue'
import bussines from './Bussines.vue'
import antipack from './AnticorruPack.vue'
import oproduct from './OtherProducts.vue'
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'

export default {
  name: 'buyPricing',
  components: {
    antipack,
    bussines,
    pricing,
    oproduct,
    'navigation-component': Navigation,
    'footer-component': Footer
  },
  data: function () {
    return {
      showPack: 0,
      originPage: this.$options.name,
      id: '',
      module: ''
    }
  },
  created () {
    this.id = this.$route.query.id
    this.module = this.$route.query.token
    if (this.id) {
      this.showPack = 1
    } else {
      if (this.module) {
        this.showPack = 3
      }
    }
  },
  methods: {
    setShowPack (data) {
      this.showPack = data
    },
    changePack () {
      if (this.showPack === false) {
        this.showPack = true
      } else {
        this.showPack = false
      }
    },
    changePackInicio () {
      this.showPack = 0
    }
  }
}
</script>

<style lang='scss' >
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/variables.scss";

@media only screen and (min-width: 768px) {
  header.masthead-about[name="pay"] .page-heading,
  header.masthead-about[name="pay"] .post-heading,
  header.masthead-about[name="pay"] .site-heading {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 900px) {
  /*.cump[name="description"] {
    font-size: 0.9rem;
  }*/
  .whycump {
    font-size: 0.9rem;
  }
}
.btn-pos {
  position: absolute;
  right: 1rem;
  top: 16rem;
}
@media screen and(max-width:767px) {
  .cump[name="description"] {
    font-size: 0.75rem !important;
  }
  .whycump {
    font-size: 0.75rem !important;
  }
}
@media screen and (max-width: 600px) {
  .link-return {
    position: absolute;
    top: 21rem;
  }
  .mt-top {
    top: 7.5rem !important;
  }
  header.masthead-about[name="pay"] {
    position: relative;
    top: 3rem;
  }
  .cump[name="description"] {
    font-size: 0.7rem !important;
  }
  .whycump {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 420px) {
  .btn-pos {
    top: 22.2rem !important;
  }
}
</style>
