<template>
  <div id="main-page">
    <navigation-component :originPage="originPage"></navigation-component>
    <header class="masthead text-center text-white d-flex box-head" id="inicio" style="padding-top: 9rem">
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="800000"
        controls
        indicators
        background="#fff"
        height="480"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
        class="img-height"
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          caption=""
          text="."
          :img-src="img.head1"
          name="img"
          class="w-img"
        >
        <h2 class='text-blue title-carousel grid-item text-left mb-4' name="headsys">
                  <strong>
                    Sistema automatizado
                    <br>
                    <span>
                      de cumplimiento
                      <br>normativo
                    </span>
                  </strong>
                </h2>
                <h6 class='text-white sub-carousel mt-5 text-left font-text text-desc-contact'>
                    Nuestra herramienta, te permite tener el control y
                    te guía paso a paso en la identificación de riesgos de
                    cumplimiento regulatorio, su evaluación, creación de
                    planes de mitigación y gestión de soluciones, sin poner
                    en riesgo la operación del negocio generando importantes
                    ahorros con seguridad jurídica.
                    <br>
                    <br class="mb-3">
                    <div class="text-justify">
                      <b-link class=" btn btn-danger  text-link" style="color:white; font-size:0.8rem; background:orage;" :to="{ name: 'buyPricing' }">Contrata aquí</b-link>
                    </div>
                </h6>
                </b-carousel-slide>
        <b-carousel-slide img-blank class="w-img">
           <div class="grid" name="home2">
            <h2
              class="head-contact grid-item text-justify"
              name="title"
            >Sistema automatizado de cumplimiento normativo</h2>
            <h3 class="home-sub grid-item text-justify" name="subtitle">Metodología PAD</h3>
            <div class="grid-item" name="home2">
              <div>
                <img class="size-img" name="icon" src="../assets/img/iconos/eye.png" />
              </div>
              <hr />
              <p class=" font-text text-desc">
                Identifica los riesgos
                de Cumplimiento
              </p>
            </div>
            <div class="grid-item space-item" name="home2">
              <div>
                <img class="size-img" name="icon" src="../assets/img/iconos/head.png" />
              </div>
              <hr />
              <p class="text-muted mb-0 font-text  text-desc">
                Evalúa los
                riesgos
              </p>
            </div>
            <div class="grid-item" name="home2">
              <div>
                <img class="size-img" name="icon" src="../assets/img/iconos/shield.png" />
              </div>
              <hr />
              <p class=" font-text text-desc">
                Identifica los
                controles<br> que mitigan
                los riesgos
              </p>
            </div>
            <div class="grid-item" name="home2">
              <div>
                <img class="size-img" name="icon" src="../assets/img/iconos/note.png" />
              </div>
              <hr />
              <p class=" font-text text-desc">
                Planes de acción
               automatizados<br> para
               implementar los controles
              </p>
            </div>
            <div class="grid-item space-item" name="home2">
              <div>
                <img class="size-img" name="icon" src="../assets/img/iconos/lupa.png" />
              </div>
              <hr />
              <p class=" font-text text-desc">
                Monitorea
                y audita
              </p>
            </div>
            <div class="grid-item" name="home2">
              <div>
                <img class="size-img" name="icon" src="../assets/img/iconos/table.png" />
              </div>
              <hr />
              <p class=" font-text text-desc">
                Tablero de control con<br>
                indicadores para una
                adecuada gestión
              </p>
            </div>
            <div class="grid-item" name="home4">
              <div>
                <img class="content3" name="law" src="../assets/img/law.jpg" />
              </div>
            </div>
          </div>
        </b-carousel-slide>
        <!-- Slide with blank fluid image to maintain slide aspect ratio -->
        <b-carousel-slide :img-src="img.head3" img-alt="Blank image" id="anticorruption" name="home3">
          <div class="card-anticor">
            <div class="text-left">
              <img class=" size-img-h text-home" name="head" src="../assets/img/iconos/aco.png" />
            </div>
            <h4 class="text-anti text-home title-anti" name="subhead">Nuestro módulo Anticorrupción</h4>
            <p class="  text-home text-anti" name="body">
              Te ayuda a cumplir con los requerimientos del artículo 25 de la Ley General de
              Responsabilidades Administrativas (LGRA) ya que adicional incluye las recomendaciones
              de la Secretaría de la Función Pública.
            </p>
            </div>
          <div class="card-home">
          <div class="grid-h" name="card">
            <div class="grid-item-h" name="card">
              <img class="size-img" src="../assets/img/iconos/cog.png" />
              <p class="card-font-title">
                Sistema
                <br />automatizado
              </p>
              <p class="card-body-info">
                Menor tiempo en
                <br />recopilar información
                <br />y definición de tareas
              </p>
            </div>
            <div class="grid-item-h" name="card">
              <img class="size-img" src="../assets/img/iconos/mha.png" />
              <p class="card-font-title">
                Minimiza
                <br />gastos
              </p>
              <p class="card-body-info">
                Reduce en
                <br />gastos de
                <br />consultoría
              </p>
            </div>
            <div class="grid-item-h" name="card">
              <img class="size-img" src="../assets/img/iconos/admon.png" />
              <p class="card-font-title">
                Gestiona
                <br />el riesgo
              </p>
              <p class="card-body-info">
                100% configurable
                <br />bajo estandar ISO
                <br />19600 Y 31000
              </p>
            </div>
            <div class="grid-item-h" name="card">
              <img class="size-img" src="../assets/img/iconos/maso.png" />
              <p class="card-font-title">
                Política de
                <br />integridad
              </p>
              <p class="card-body-info">
                Realizada por
                <br />abogados expertos
                <br />en la LGRA
              </p>
            </div>
            <div class="grid-item-h" name="card">
              <img class="size-img" src="../assets/img/iconos/mail.png" />
              <p class="card-font-title">
                Normativa
                <br />actualizada
              </p>
              <p class="card-body-info">
                Recibe notificación de
                <br />actualizaciones en caso
                <br />de ajustes a la ley
              </p>
            </div>
          </div>
          </div>
          <div class="grid-foot" name="foot">
              <span>
                ISO 19600 Y 31000
              </span>
              <span class="space">__</span>
              <span>
                NMX19600
              </span>
            </div>
        </b-carousel-slide>
        <!--nuevo banner COVID-19-->
        <b-carousel-slide
          caption=""
          text="."
          :img-src="img.head4"
          name="img"
          id="cov"
          class="w-img "
          text-html=''
        >
              <b-card
                  no-body
                  style="max-width: 70rem; min-width:15rem; box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);"
                  img-alt="Image"
                  img-top
                  class=" col-lg-8 mr-auto ml-auto text-center p-4"
                >
                  <template v-slot:header>
                    <span  class="mt-3 text-blue "> <h2><strong class="title-cov"> Módulo Plan de continuidad de negocio COVID-19</strong></h2> </span>
                  </template>
                  <b-card-body>
                    <b-card-text>
                      <div class="text-cov">
                        <p class="text-gray ml-auto mr-auto px-1 text-justify ">
                          Es esencial continuar con un plan de continuidad de negocio para garantizar la capacidad de la empresa para superar crisis como la de COVID-19. Nuestro módulo te ayuda a que de forma sencilla y bajo la metodología de Pad Compliance puedas crear, monitorear y revisar dicho plan.
                        </p>
                        <b-list-group class="ml-auto mr-auto" flush>
                    <b-list-group-item class="text-gray text-left" > <i class="fa fa-circle mr-2 mt-1 mb-1 icon-color " aria-hidden="true"></i>Identificación de los principales factores de riesgo por pandemia.</b-list-group-item>
                    <b-list-group-item class="text-gray text-left" > <i class=" fa fa-circle mr-2 mt-1 mb-1 icon-color" aria-hidden="true" ></i>Matriz de calificación según la fase de la pandemia (1, 2 o 3)</b-list-group-item>
                    <b-list-group-item class="text-gray text-left" > <i class=" fa fa-circle mr-2 mt-1 mb-1 icon-color" aria-hidden="true" ></i>Cuestionarios precargados para determinar el plan de acción</b-list-group-item>
                    <b-list-group-item class="text-gray text-left" > <i class=" fa fa-circle mr-2 mt-1 mb-1 icon-color" aria-hidden="true" ></i>Generación de planes de acción de forma automatizada conforme a la contestación de los cuestionarios.</b-list-group-item>
                  </b-list-group>
                      </div>
                    </b-card-text>
                  </b-card-body>
              </b-card>
              <div class="grid-foot" id="cov" name="foot">
              <span>
                ISO 19600 Y 31000
              </span>
              <span class="space">__</span>
              <span>
                NMX19600
              </span>
            </div>
                </b-carousel-slide>
        <!--FIN BANNER COVID 19-->
      </b-carousel>
    </header>
    <div class="content">
      <section id="features" class="bg-light" name="features">
        <h2 class="section-heading text-white header-section" name="features">
          <strong>Características</strong>
        </h2>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon :icon="['fas', 'flask']" size="2x" class="text-default mb-3 mr-4" />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Autodiagnóstico</strong>
                  </h4>
                  <p class="text-muted mb-0 font-text">
                    En un
                    <b-link :to="{name:'registerQuiz'}">solo click</b-link>, conoce tu estado de riesgo regulatorio.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon
                      :icon="['fas', 'binoculars']"
                      size="2x"
                      class="text-default mb-3 mr-4"
                    />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Gestiona tus riesgos</strong>
                  </h4>
                  <p
                    class="text-muted mb-0 font-text text-justify"
                  >Identifica, Analiza y Evalúa tus riesgos de cumplimiento.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon :icon="['fas', 'suitcase']" size="2x" class="text-default mb-3 mr-4" />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Ejecuta planes</strong>
                  </h4>
                  <p
                    class="text-muted mb-0 font-text"
                  >Aplica los planes que de manera automática la metodología PAD te facilita y personalízalos.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon
                      :icon="['fas', 'binoculars']"
                      size="2x"
                      class="text-default mb-3 mr-4"
                    />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Monitorea y revisa</strong>
                  </h4>
                  <p
                    class="text-muted mb-0 font-text"
                  >Da seguimiento puntual a los planes de acción, recibe alertas y prioriza actividades.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon
                      :icon="['fas', 'chart-line']"
                      size="2x"
                      class="text-default mb-3 mr-4"
                    />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Audita</strong>
                    <span style="color:transparent;">________</span>
                  </h4>
                  <p class="text-muted mb-0 font-text">Revisa nivel de seguimiento.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon
                      :icon="['far', 'folder-open']"
                      size="2x"
                      class="text-default mb-3 mr-4"
                    />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Gestiona tus documentos</strong>
                  </h4>
                  <p
                    class="text-muted mb-0 font-text"
                  >Crea la documentación respaldo en tus políticas y procedimientos para hacer frente a auditorías externas y revisiones de Autoridad.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <div class="row">
                  <div v-scroll-reveal>
                    <fa-icon
                      :icon="['far', 'chart-bar']"
                      size="2x"
                      class="text-default mb-3 mr-4"
                    />
                  </div>
                </div>
                <div class="row">
                  <h4 class="text-blue">
                    <strong>Cuadro de mando</strong>
                  </h4>
                  <p
                    class="text-muted mb-0 font-text"
                  >Revisa de forma integral en un solo lugar el estado completo de tus diferentes tableros.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </section>
      <section id="services">
        <h2 class="section-heading text-white bg-bluep">
          <strong>Productos</strong>
        </h2>
        <div class="container">
          <div class="row mb-5"></div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h5 class="section-heading text-blue">
                <strong>
                  Brindamos soluciones a través de nuestra herramienta digital,
                  <br />sin necesidad de pagar en exceso grandes cantidades en consultorías.
                </strong>
              </h5>
              <hr class="my-4" style="color:#ff931e;" />
              <h4 class="section-heading text-blue">
                <strong>Nuestras Soluciones</strong>
              </h4>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <!--anticorrupción 1-->
                <div v-scroll-reveal class="text-left">
                  <fa-icon :icon="['fas', 'ban']" size="4x" class="text-default mb-3" />
                </div>
                <h3 class="mb-3 text-left text-blue">
                  <strong>Anticorrupción</strong>
                </h3>
                <p class="text-muted mb-2 text-left text-desc-contact">
                  La corrupción es un problema a nivel mundial que involucra a los gobiernos en su interacción con los particulares. Actualmente existen regulaciones nacionales internacionales en las que México es parte, tendientes a mitigar este tipo de conductas.
                  <br />
                  <button
                    class="btn-default"
                    v-scroll-to="'#anticorruption'"
                     @click="getAnticorruption"
                  >MÁS INFO</button>
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <!--datos personales 2-->
                <div v-scroll-reveal class="text-left">
                  <fa-icon :icon="['far', 'newspaper']" size="4x" class="text-default mb-3" />
                </div>
                <h3 class="mb-3 text-left text-blue">
                  <strong>Datos Personales</strong><h6><b-badge>Proximamente</b-badge></h6>
                </h3>
                <p class="text-muted mb-2 text-left text-desc-contact">
                  La protección de los datos personales es uno de los grandes retos de las empresas, pues cualquier tratamiento ilegal e irresponsable que a los mismos se les dé, pueden comprometer la reputación y economía de tu negocio.
                  <br />
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <!--subcontratacion laboral 3-->
                <div v-scroll-reveal class="text-left">
                  <fa-icon icon="handshake" size="4x" class="text-default mb-3" />
                </div>
                <h3 class="mb-3 text-left text-blue">
                  <strong>Laboral</strong><h6><b-badge>Proximamente</b-badge></h6>
                </h3>
                <p class="text-left text-muted mb-2 text-desc-contact">
                  Derivado de las recientes reformas en materia laboral, las empresas estan obligadas a realizar diversos ajustes en la relaciones con sus trabajadores, los sindicatos, sin perder de vistas las obligaciones derivadas de las
                  relaciones con las personas subcontratadas bajo el régimen de subcontratación laboral conocido como outsourcing...
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <!--ley antilavado de dinero 4-->
                <div v-scroll-reveal class="text-left">
                  <fa-icon icon="globe-americas" size="4x" class="text-default mb-3" />
                </div>
                <h3 class="mb-3 text-left text-blue">
                  <strong>Ley Antilavado</strong><h6><b-badge>Proximamente</b-badge></h6>
                </h3>
                <p
                  class="text-muted mb-2 text-left text-desc-contact"
                >La conocida ley anti lavado, regula diversas actividades denominadas vulnerables que realizas con tus clientes.</p>
                <p class="text-left text-muted text-desc-contact">
                  ¿Te gustaría saber si estás en estos supuestos?
                </p>
              </div>
            </div>
            <!--nuevo producto-->
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <div v-scroll-reveal class="text-left">
                  <i class="fa fa-shield fa-4x text-default"></i>
                </div>
                <h3 class="mb-2 mt-3 text-left text-blue">
                  <strong>Plan de continuidad de negocio COVID-19</strong>
                </h3>
                <p
                  class="text-muted mb-2 text-left text-desc-contact"
                > Nuestro módulo te ayuda a que de forma sencilla y bajo la metodología de Padcompliance puedas crear, monitorear y revisar dicho plan.
                <br />
                <b-button
                  class="btn btn-default text-link  "
                  style="color:white; font-size:0.8rem; "
                  v-scroll-to="'#cov'"
                  @click="getCov"
                >MÁS INFO</b-button></p>
              </div>
            </div>
            <!--nuevo producto-->
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <div v-scroll-reveal class="text-left">
                  <fa-icon :icon="['fas', 'map-signs']" size="4x" class="text-default mb-3" />
                </div>
                <h3 class="mb-3 text-left text-blue">
                  <strong>Otros Servicios</strong>
                </h3>
                <p
                  class="text-muted mb-2 text-left text-desc-contact"
                >Tenemos la capacidad para desarrollar módulos de cumplimiento regulatorio especializados para las diferentes industrías y/o necesidades de tu empresa que te permitirán gozar de todos los componenetes de nuestra metodología PAD.</p>
              </div>
            </div>
          </div>
          <div class="row"></div>
        </div>
      </section>
      <section id="sign-up" class="bg-primary" name="register">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white header-section">
                <strong>
                  ¡Registrate aquí!
                  <br />y recibe gratis un diagnóstico en línea.
                </strong>
              </h2>
              <hr class="my-4" />
              <div class="text-center">
                <b-nav-item
                  variant="default"
                  class="btn-sesion"
                  name="init"
                  :to="{ name: 'registerView' }"
                >COMIENZA AQUÍ</b-nav-item>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="social" class="bg-white text-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto text-center">
              <h2>
                <strong>
                  <span class="term-sig">+</span>
                  <span class="text-blue term-sec">noticias</span>
                </strong>
              </h2>
              <p class="mb-4 font-text text-desc-contact">Entérate de las noticias mas importartes</p>
              <b-nav-item
                class="btn-sesion"
                name="init"
                size="xl"
                :to="{ name: 'Noticias' , params: { section: 'news' } }"
              >IR A NOTICIAS</b-nav-item>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto text-center">
              <h2 class="mb-4 pt-5">
                <strong>
                  <span class="term-sig">
                    <strong>+</strong>
                  </span>
                  <span class="text-blue term-sec">blog</span>
                </strong>
              </h2>
              <p class="mb-4 font-text text-desc-contact">Participa con nosotros</p>
              <b-nav-item
                class="btn-sesion"
                size="xl"
                name="init"
                :to="{ name: 'Blog' , params: { section: 'blog' },path: '/blog' }"
              >IR A BLOG</b-nav-item>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h5 class="section-heading term-sec">
                <strong>
                  ¿Deseas recibir nuestro newsletter?,
                  <br />Entonces ingresa tu correo:
                </strong>
              </h5>
              <hr class="bg-dark my-4" />
                <div class="text-center">
                  <b-input
                    type="email"
                    :pattern="regexEmail.source"
                    class="form-control mb-3 width"
                    size="md"
                    id="inputSubject"
                    placeholder="Correo Electrónico"
                    v-model="emailNewsletter"
                    @keyup.enter="alta"
                  />
                </div>
                <p class="text-faded mb-4"></p>
                <b-nav-item
                  class="btn-sesion"
                  name="init"
                  size="sm"
                  round
                ><span @click="alta()" style="display:block">DAR DE ALTA</span></b-nav-item>
            </div>
          </div>
        </div>
      </section>
      <br />
      <br />
      <section id="contact" class="bg-white contact-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <i class="fa fa-send fa-2x mb-2" style="color:orange;"></i>
              <h2 class="section-heading head-contact" name="contacto">Contacto</h2>
              <hr class="my-4" />
              <p class="mb-5 term-sec">Tienes dudas o comentarios, ¡Ponte en contacto con nosotros!</p>
              <div >
                 <b-form v-on:submit="enviarMail" method='post'  :validated="revisaFormulario" :novalidate="reset">
                  <b-input
                    required
                    type="text"
                    id="inputName"
                    v-model="dataMail.name"
                    class="mb-3 mr-sm-3 mb-sm-0"
                    placeholder="Nombre">
                  </b-input><br>
                  <b-input
                    required
                    :pattern="regexEmail.source"
                    type="email"
                    id="inputEmail"
                    v-model="dataMail.toMail"
                    class="mb-3 mr-sm-3 mb-sm-0"
                    placeholder="Correo electrónico">
                  </b-input>
                  <br>
                  <b-input
                    required
                    type="text"
                    id="Subject"
                    v-model="dataMail.subject"
                    class="mb-3 mr-sm-2 mb-sm-0"
                    placeholder="Asunto">
                  </b-input><br>
                  <b-form-textarea
                    required
                    id="inputMessage"
                    placeholder="Mensaje"
                    v-model="dataMail.detail"
                    rows="3"
                    max-rows="6">
                  </b-form-textarea>
                  <br>
                  <vue-recaptcha
                    ref="recaptcha"
                    @verify="onCaptchaVerified"
                    @expired="onCaptchaExpired"
                    :loadRecaptchaScript="true"
                    sitekey="6LeEVrgUAAAAAJQybzoEGZpDUijUvRuZ6DQUJkUC">
                  </vue-recaptcha>
                  <b-button size="sm" v-if='this.revisaFormulario && this.isCaptchaValid' type="submit" class="btn btn-default mx-auto mt-2" variant="primary" >Enviar</b-button>
                  <b-button size="sm" v-else type="submit"  variant="secondary" class="mt-2" disabled >Enviar</b-button>
                </b-form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer-component></footer-component>
    </div>
  </div>
</template>
<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import swal from 'sweetalert2'
import { Carousel, Slide } from 'vue-carousel'
import mailApi from '@/api/mail/mail'
import newslettersApi from '@/api/newsletters/newsletters'
import Vue from 'vue'
import Meta from 'vue-meta'
import VueRecaptcha from 'vue-recaptcha'
Vue.use(Meta)

export default {
  name: 'MainPage',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer,
    swal,
    Carousel,
    Slide,
    'vue-recaptcha': VueRecaptcha
  },
  data: function () {
    return {
      dataMail: {
        toMail: '',
        name: '',
        subject: '',
        detail: ''
      },
      reset: false,
      originPage: this.$options.name,
      slide: 0,
      sliding: null,
      img: {
        head1: require('@/assets/img/header.jpg'),
        head2: require('@/assets/img/header.jpg'),
        head3: require('@/assets/img/header1.jpg'),
        head4: require('@/assets/img/fondo.jpg')
      },
      isCaptchaValid: false,
      regexEmail: /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]{0,61}[a-zA-Z0-9](\.[a-zA-Z-]{0,61}[a-zA-Z])+$/,
      emailNewsletter: ''
    }
  },
  computed: {
    revisaFormulario () {
      if (this.dataMail.name) {
        if (this.dataMail.toMail) {
          if (this.dataMail.subject) {
            if (this.dataMail.detail) {
              return true
            } else {
              return false
            }
          } else {
            return false
          }
        } else {
          return false
        }
      } else {
        return false
      }
    }
  },
  methods: {
    onCaptchaVerified (response) {
      this.isCaptchaValid = true
    },
    onCaptchaExpired (response) {
      this.isCaptchaValid = false
      this.$refs.recaptcha.reset()
    },
    getAnticorruption () {
      this.slide = 2
      this.sliding = true
    },
    getCov () {
      this.slide = 3
      this.sliding = true
    },
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    alta () {
      if (!this.regexEmail.test(this.emailNewsletter)) {
        swal.fire({
          title: 'Correo no válido',
          text: 'Ingresa una dirección de correo válida',
          buttonsStyling: false,
          confirmButtonClass: 'btn btn-danger btn-fill',
          type: 'error'
        })
        return
      }
      let paramsApi = { mail: this.emailNewsletter }
      newslettersApi
        .suscribeNewsletters(paramsApi)
        .then(() => {
          this.emailNewsletter = ''
          swal.fire({
            title: `Éxito`,
            text: 'Se dió de alta su correo',
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          })
        })
        .catch(error => {
          if (error.response !== undefined && error.response.status === 409) {
            swal.fire({
              title: 'Este correo ya está suscrito a nuestro newsletter',
              text:
                'El correo proporcionado ya fue registrado con anterioridad a nuestro newsletter',
              buttonsStyling: false,
              confirmButtonClass: 'btn btn-info btn-fill',
              type: 'info'
            })
          } else {
            swal.fire({
              title: 'No se pudo realizar la suscripción',
              text:
                'Ha ocurrido un fallo al intentar dar de alta el correo en nuestro newsletter, favor de revisar la conexion y/o intentarlo más tarde',
              buttonsStyling: false,
              confirmButtonClass: 'btn btn-danger btn-fill',
              type: 'error'
            })
          }
        })
    },
    deleteForm () {
      this.dataMail.toMail = ''
      this.dataMail.name = ''
      this.dataMail.subject = ''
      this.dataMail.detail = ''
      this.reset = true
    },
    async enviarMail (event) {
      event.preventDefault()
      var validacion = this.revisaFormulario
      if (validacion === true) {
        mailApi
          .sendMail(this.dataMail)
          .then(response => {
            if (response.status === 200) {
              this.showSuccess()
              this.deleteForm()
            } else {
              this.showError(
                'Ocurrió un error. Inténtelo más tarde. Estatus: ' +
                  response.status
              )
              this.button = false
            }
          })
          .catch(err => {
            this.showError(
              'Hubo un error, pronto se resolverá. Inténtelo mas tarde'
            )
            this.button = false
            console.log(err)
          })
      } else {
        this.showError(validacion)
      }
      this.onCaptchaExpired()
    },
    showSuccess (datatitle) {
      swal.fire({
        title: 'Éxito',
        text: 'Pronto nos podremos en contacto',
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-success btn-fill',
        type: 'success'
      })
    },
    showError (mensaje) {
      swal.fire({
        title: 'Error',
        text: mensaje,
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-danger btn-fill',
        type: 'error'
      })
    }
  },
  metaInfo: {
    title: 'PAD COMPLIANCE',
    titleTemplate: '%s ← Herramienta de control de riesgos',
    // Define meta tags here.
    meta: [
      { charset: 'utf-8' },
      {
        name: 'viewport',
        content: 'width=device-width, initial-scale=1, shrink-to-fit=no'
      },
      { httpequiv: 'Content-Type', content: 'text/html' },
      {
        name: 'description',
        content:
          'Herramienta, permite tener el control y te guía paso a paso en la identificación de riesgos de cumplimiento regulatorio, su evaluación, creación de planes de mitigación y gestión de soluciones, sin poner en riesgo la operación del negocio generando importantes ahorros con seguridad jurídica.'
      },
      {
        name: 'keywords',
        content:
          'PAD, herramienta,control, riesgos, regulación, evaluación, anticorrupción, lavado, seguridad, jurídico'
      },
      // google markup
      { itemprop: 'name', content: 'PAD COMPLIANCE' },
      {
        itemprop: 'description',
        content:
          'Herramienta, permite tener el control y te guía paso a paso en la identificación de riesgos de cumplimiento regulatorio, su evaluación, creación de planes de mitigación y gestión de soluciones, sin poner en riesgo la operación del negocio generando importantes ahorros con seguridad jurídica.'
      },
      {
        itemprop: 'keywords',
        content:
          'PAD, herramienta,control, riesgos, regulación, evaluación, anticorrupción,lavado, seguridad, juridico'
      }
      // {itemprop: 'image', content: 'url/IMAGEN'}
    ]
  }
}
</script>
<style lang='scss'>
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/_navbar.scss";
@import "../assets/styles/_variables.scss";

/*.w-img {
  height: 65rem;
  width: 51% !important;
}*/
.space {
  color: $default-color;
}
.text-anti {
  color: $primary-color;
  font-family: $lat;
}
.card-anticor {
  background: #fff;
  display: block;
  padding: 2rem;
  max-width: 50%;
  min-width: 50%;
  position: relative;
  /* left: 27%; */
  bottom: 19.5rem;
  margin: auto;
  h4 {
    font-size: 2rem;
    font-family: $latB;
  }
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: $primary_1;
  border-radius: 50%;
  height: 2%;
  width: 20%;
}
.w-100 {
  width: auto;
}
.contact-section .form-contact textarea,
.contact-section .form-contact input {
  font-family: "Lato";
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Lato";
  line-height: inherit;
}
.carousel-control-prev,
.carousel-control-next {
  width: 4% !important;
  color: $primary_1 !important;
}
.carousel-indicators li {
  background-color: $primary_1;
  height: 20px;
  width: 20px;
  border-radius: 50% !important;
  margin-right: 2px;
  margin-left: 2px;
  &.active {
    background-color: $white;
  }
}
.title-carousel {
  position: relative;
  bottom: 44rem;
  left: 61%;
}
.sub-carousel {
  position: absolute;
  bottom: 40rem;
  left: 61%;
}
.img-fluid {
  min-width: 100% !important;
  max-width: none;
  height: 65rem !important;
}
.carousel {
  width: 100%;
  position: relative;
}
.bg-bluep {
  background-image: url("../assets/img/backc.jpg");
  font-size: 40px;
  padding-top: 4.8rem;
  text-align: center;
  height: 12rem;
  font-family: $latB;
}
.bg-blue {
  background: #0f5dac;
  font-size: 16px;
  padding-top: 0.2rem;
  text-align: center;
  height: 12rem;
  font-family: $latB;
}
.row[name="home2"] {
  position: absolute;
  top: 7rem;
}
.space-item {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
.grid-item[name="headsys"] {
  justify-content: left;
  width: max-content;
  h6 {
    text-align: left;
  }
}
.grid-item {
  justify-content: left;
  width: max-content;
  h6 {
    text-align: left;
  }
}
.content3 {
  position: relative;
  top: 1rem;
  height: 100%;
  width: 100%;
}
.grid[name="home2"] {
  display: grid;
  position: relative;
  top: -12rem;
  //left: -10rem;
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-item[name="title"] {
  width: auto;
  grid-column: 1/6;
  grid-row: 1/2;
}
.grid-item[name="subtitle"] {
  width: auto;
  grid-column: 1/6;
  grid-row: 2/3;
}
.grid-item[name="home2"] {
  width: 15rem;
  padding-left: 0rem;
  height: 14rem;
  text-align: center;
  padding-right: 0rem;
  -webkit-box-shadow: 6px 11px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 11px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 11px 10px -4px rgba(0, 0, 0, 0.5);
}
.grid-item[name="home4"]:nth-child(9) {
  grid-column: 4/6;
  grid-row: 3/5;
  //-webkit-box-shadow-: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.grid-h[name="card"] {
  display: grid;
  background: #fff;
  position: relative;
  width: 76%;
  bottom: 18rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem;
  margin: auto;
}
.grid-item-h[name="head"] {
  background: $white;
  width: auto;
  grid-column: 1/6;
}
.grid-foot[id="cov"] {
  background: $default-color;
  position: relative;
  display: block;
  /* left: auto; */
  bottom: 0rem !important;
  height: 2rem;
  width: 24rem;
  font-family: "Lato", sans-serif;
  border-radius: 10px 10px 75rem 75rem;
  margin: auto;
}
.grid-foot {
  background: $default-color;
  position: relative;
  display: block;
  /* left: auto; */
  bottom: 18rem;
  height: 2rem;
  width: 24rem;
  font-family: "Lato", sans-serif;
  border-radius: 10px 10px 75rem 75rem;
  margin: auto;
}
.card-home {
  position: relative;
  display: block;
  margin: auto;
}
.grid-item-h[name="subhead"] {
  background: $white;
  width: auto;
  grid-column: 1/6;
}
.grid-item-h[name="body"] {
  background: $white;
  margin-bottom: 0;
  width: auto;
  grid-column: 1/6;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.grid-item-h[name="card"] {
  background: $white;
  width: auto;
}
.btn-sesion[name="init"] {
  background: transparent;
  color: transparent;
  > a {
    background: $default-color;
    color: $white;
    font-family: "Lato Black", sans-serif;
    width: 20%;
    margin-left: 40%;
    border-radius: 20px;
    padding: 5px;
    &:hover {
      background: darken($default-color, 20);
    }
  }
}
.title-anti {
  text-align: left;
}
.text-home {
  text-align: justify;
}
//cambios de vista en home 1
@media screen and (min-width: 1055px) and (max-width: 3000px) {
  .sub-carousel {
    left: 62%;
    max-width: 22rem;
    bottom: 36rem;
  }
  .title-carousel {
    left: 62%;
    bottom: 49rem;
  }
}
@media screen and (max-width: 1054px) and (min-width: 300px) {
  .w-100 {
    min-width: 200% !important;
    right: 38rem;
    position: relative;
  }
  .sub-carousel {
    left: 62%;
    max-width: 22rem;
    bottom: 33rem;
  }
  .title-carousel {
    bottom: 49rem;
    left: 62%;
  }
  @media screen and (max-width: 890px) {
    .sub-carousel {
      left: 45%;
      max-width: 22rem;
      bottom: 33rem;
    }
    .title-carousel {
      bottom: 49rem;
      left: 45%;
    }
  }
  @media screen and (max-width: 670px) {
    .sub-carousel {
      left: 12%;
      max-width: 22rem;
      bottom: 36rem;
    }
    .title-carousel {
      bottom: 49rem;
      left: 12%;
      font-size: 1.5rem;
    }
    .w-100 {
      right: 35rem;
    }
  }
  @media screen and (max-width: 560px) {
    .w-100 {
      right: 30rem;
    }
  }
  @media screen and (max-width: 477px) {
    .w-100 {
      right: 23.5rem;
      width: 300% !important;
    }
  }
  @media screen and (max-width: 367px) {
    .w-100 {
      right: 20rem;
    }
    .sub-carousel {
      left: 7%;
      bottom: 36rem;
    }
    .title-carousel {
      left: 7%;
    }
  }
}
@media screen and (max-width: 499px) and (width: 350px) {
  .title-carousel {
    left: -3%;
  }
  .sub-carousel {
    left: -3%;
  }
  .img-fluid {
    right: 65rem;
  }
  .w-100 {
    right: 44rem;
    min-width: 256% !important;
  }
  @media screen and (max-width: 402px) {
    .w-100 {
      right: 37rem;
      min-width: 256% !important;
    }
  }
  @media screen and (max-width: 349px) {
    .title-carousel {
      font-size: 1.5rem;
    }
    .sub-carousel {
      bottom: 32rem;
    }
  }
}

//cambios de vista en home 1
////////////////////////////
//Cambios de vista en home 2
@media screen and (max-width: 3000px) {
  .grid[name="home2"] {
    top: -18rem;
  }
}
@media screen and (min-width: 1120px) and (max-width: 2056px) {
  .content3 {
    position: relative;
    top: 0rem;
    height: 29rem;
    width: 60%;
  }
  .text-desc {
    font-size: 1rem;
    color: #706f6f;
  }
  .grid[name="home2"] {
    top: -16rem;
    left: -11rem;
  }
}
@media screen and (min-width: 1360px) and (max-width: 1394) {
  .grid[name="home2"] {
    top: -16rem !important;
    left: -11rem;
  }
}
@media screen and (max-width: 1359px) {
  /*.grid[name='home2'] {
    top: -7rem;
}*/
}
@media screen and (max-width: 477px) {
  .btn-sesion[name="init"] > a {
    font-size: 12px;
  }
}
@media screen and (max-width: 1025px) and (min-width: 767px) {
  .grid[name="home2"] {
    left: 10% !important;
  }
}
@media screen and (min-width: 1120px) and (max-width: 1359px) {
  .grid[name="home2"] {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top: -1rem;
  }
  .grid-item[name="title"],
  .grid-item[name="subtitle"] {
    width: auto;
    grid-column: 1/5;
  }
  .grid-item[name="home2"] {
    font-size: 1rem;
  }
  .grid-item[name="home2"]:nth-child(4),
  .grid-item[name="home2"]:nth-child(6),
  .grid-item[name="home2"]:nth-child(8) {
    width: 110%;
  }
  .grid-item[name="home4"]:nth-child(9) {
    grid-column: 3/5;
    grid-row: 0;
    //-webkit-box-shadow-: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 320px) and (max-width: 1119px) {
  @media screen and (width: 1024px) {
    .content3 {
      position: relative;
      top: 1rem;
      height: 15rem;
      width: 96%;
    }
  }
  .carousel-indicators li {
    height: 10px;
    width: 20px;
    border-radius: 0%;
  }
  .grid-item[name="home2"] {
    height: 9rem;
  }
  .text-desc {
    color: #706f6f;
    font-size: 0.5rem !important;
  }
  .carousel-indicators li {
    margin-top: 2rem;
    margin-bottom: -2.5rem;
  }
  .grid[name="home2"] {
    position: absolute;
    top: -57.2rem !important;
    padding: 0.5rem !important;
  }
  .grid-item[name="title"] {
    grid-column: 1/3;
    font-size: 1.6rem !important;
  }
  .grid-item[name="subtitle"] {
    font-size: 1.5rem !important;
  }
  .content3 {
    position: relative;
    top: 1rem;
    height: 13rem;
    width: 100%;
  }
  @media screen and (min-width: 320px) and (max-width: 949px) {
    + .grid-item[name="title"] {
      font-size: 1.6rem !important;
    }
    .grid-item[name="subtitle"] {
      font-size: 1.1rem !important;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .size-img[name="icon"] {
      text-align: center;
      width: 2rem;
    }
    .grid-item[name="home2"] {
      height: 8rem;
      width: 100% !important;
    }
    .grid[name="home2"] {
      left: -5% !important;
    }
    .carousel-indicators {
      height: 6rem;
    }
    .carousel {
      width: 100%;
      position: relative;
      height: 70rem;
    }
    .content {
      top: 5rem;
      position: relative;
    }
  }
}
//cambios de vista en home 2
//cambios de vista en home 3
@media screen and (min-width: 1100px) and (max-width: 2056px) {
  .card-anticor {
    height: 20.5rem;
  }
}
@media screen and (min-width: 1198px) and (max-width: 1492px) {
  .card-anticor {
    h4 {
      font-size: 1.55rem !important;
    }
  }
}
@media screen and (min-width: 1100px) and (max-width: 1197px) {
  .card-anticor {
    h4 {
      font-size: 1.2rem !important;
    }
  }
}
@media screen and (min-width: 994px) and (max-width: 1099px) {
  .card-anticor {
    bottom: 23.2rem;
    height: 18rem;
    h4 {
      font-size: 1.2rem !important;
    }
  }
  .text-anti[name="body"] {
    font-size: 0.9rem !important;
  }
  .size-img {
    width: 4rem;
  }
  .card-font-title {
    font-size: 0.9rem !important;
  }
  @media screen and (max-width: 1037px) {
    .card-anticor {
      bottom: 21.2rem;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 993px) {
  .card-anticor {
    bottom: 12.9rem;
    h4 {
      font-size: 1.2rem !important;
    }
  }
  .text-left {
    font-size: 0.8rem !important;
  }
  .grid-foot {
    bottom: 9rem;
  }
  .grid-h[name="card"] {
    bottom: 9rem;
  }
}
@media screen and (min-width: 822px) and (max-width: 991px) {
  .grid-h[name="card"] {
    bottom: 15rem;
    left: 0%;
  }
  .grid-foot {
    bottom: 15rem;
  }
  .text-home {
    font-size: 1rem !important;
  }
  .size-img {
    width: 3rem;
  }
  .card-font-title {
    font-size: 0.9rem !important;
  }
  .card-body-info {
    font-size: 55% !important;
  }
  .size-img-h {
    width: 3rem;
  }
  .card-anticor {
    bottom: 21.5rem;
    height: auto;
    min-width: 20rem;
  }
  @media screen and (max-width: 923px) {
    .card-anticor {
      bottom: 19.5rem;
      height: auto;
      min-width: 20rem;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 821px) {
  .card-anticor {
    bottom: 13.7rem !important;
    min-width: 20rem;
    h4 {
      font-size: 1.2rem !important;
    }
  }
  .size-img-h {
    width: 20%;
  }
  .text-home {
    font-size: 0.8rem !important;
  }
  .size-img {
    width: 2rem;
  }
  .card-font-title {
    font-size: 0.9rem !important;
  }
  .card-body-info {
    font-size: 60% !important;
  }
  .grid-h[name="card"],
  .grid-foot {
    bottom: 12rem !important;
  }
  .grid-foot {
    height: 3rem;
  }
  .grid-h[name="card"] {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .grid-item-h[name="card"]:nth-child(5) {
    grid-column: 3/4;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .size-img-h {
    width: 2rem;
  }
  .size-img {
    width: 2rem;
  }
}
@media screen and (min-width: 563px) and (max-width: 768px) {
  .grid-h[name="card"] {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .text-home {
    font-size: 0.8rem !important;
  }
  .card-font-title {
    font-size: 0.9rem !important;
  }
  .card-body-info {
    font-size: 60% !important;
  }
  .grid-h[name="card"],
  .grid-foot {
    bottom: 12rem !important;
  }
  .grid-item-h[name="card"]:nth-child(5) {
    grid-column: 3/4;
  }
  .card-anticor {
    bottom: 17.9rem !important;
    min-width: 20rem;
    h4 {
      font-size: 1.2rem !important;
    }
  }
}
@media screen and (min-width: 466px) and (max-width: 562px) {
  .grid-h[name="card"] {
    grid-template-columns: 1fr 1fr;
  }
  .grid-foot,
  .grid-h[name="card"] {
    bottom: 9rem !important;
  }
  .card-anticor {
    bottom: 10.8rem !important;
    min-width: 17rem;
    h4 {
      font-size: 0.8rem !important;
    }
  }
  .grid-item-h[name="card"]:nth-child(5) {
    grid-column: 1/3;
  }
  .card-body-info {
    font-family: "Lato", sans-serif;
    font-size: 8px !important;
    color: #706f6f;
  }
  .text-home {
    font-size: 0.5rem !important;
  }
  .card-font-title {
    font-size: 0.7rem !important;
  }
  .grid-foot {
    width: 14rem;
    height: 3rem;
  }
  @media screen and (min-width: 466px) and (max-width: 503px) {
    .card-anticor {
      bottom: 7.8rem !important;
      min-width: 17rem;
      h4 {
        font-size: 0.8rem !important;
      }
    }
    .grid-foot,
    .grid-h[name="card"] {
      bottom: 7rem !important;
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 465px) {
  .grid-h[name="card"] {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .grid-item-h[name="card"]:nth-child(5) {
    grid-column: 1/3;
  }
  .grid-foot,
  .grid-h[name="card"] {
    bottom: 5rem !important;
  }
  .card-anticor {
    bottom: 5.8rem !important;
    min-width: 14.5rem !important;
    h4 {
      font-size: 0.8rem !important;
    }
  }
  .text-home {
    font-size: 0.5rem !important;
  }
  .card-font-title {
    font-size: 0.8rem !important;
  }
  .card-body-info {
    font-size: 10px !important;
  }
  .grid-foot {
    width: 14rem;
    height: 3rem;
  }
}
//cambios de vista en home 3
.contact-section .form-contact textarea,
.contact-section .form-contact input {
  -webkit-box-shadow-: 13px 11x 10px -4px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 13px 11x 10px -4px rgba(0, 0, 0, 0.5) !important;
  padding: 1.15rem 2rem;
  -webkit-box-shadow-: 13px 11px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 13px 11x 10px -4px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
@media screen and (max-width: 1366px) and (min-width: 100px) {
  @media screen and (max-width: 1366px) and (min-width: 767px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      max-width: 40%;
      min-width: 40%;
    }
  }
  @media screen and (max-width: 766px) and (min-width: 200px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
//cambios a home 2
@media screen and (min-width: 320px) and (max-width: 2056px) {
  .grid-item[name="home2"] {
    -webkit-box-shadow-: 13px 11px 10px -4px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  @media screen and (min-width: 320px) and (max-width: 414px) {
    .btn-sesion[name="init"] {
      background: transparent;
      color: transparent;
      margin-left: -11%;
    }
    .grid-item[name="home2"]:nth-child(3) {
      width: 100% !important;
    }
    .btn-sesion[name="init"] > a {
      width: 30%;
    }
    .grid-item[name="home2"]:nth-child(5),
    .grid-item[name="home2"]:nth-child(7) {
      width: 100% !important;
    }
  }
  @media screen and(min-width:346px) and (max-width: 504px) {
    .grid-item[name="title"] {
      width: 21rem;
    }
  }
  @media screen and (max-width: 1120px) {
    .grid-item[name="home2"]:nth-child(3),
    .grid-item[name="home2"]:nth-child(7) {
      width: 85%;
    }
    .VueCarousel {
      height: 85rem;
    }
    .grid-item[name="title"] {
      width: 91%;
    }
    .grid[name="home2"] {
      grid-template-columns: 1fr 1fr;
      top: 15.8rem;
      left: 4%;
    }
    .grid-item {
      width: auto;
    }
    .grid-item[name="title"],
    .grid-item[name="subtitle"] {
      //width:auto;
      grid-column: 1/3;
    }
    .grid-item[name="home2"] {
      width: 82%;
    }
    .grid-item[name="home4"]:nth-child(9) {
      grid-column: 1/3;
    }
    .grid-item[name="subtitle"] {
      width: auto;
      grid-column: 1/3;
    }
    .grid-item[name="home4"]:nth-child(9) {
      grid-column: 1/3;
      grid-row: 7/8;
      width: 96%;
      //-webkit-box-shadow-: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    }
  }
  // @media screen and (max-width: 945px) {
  //   .grid {
  //     display: grid;
  //     position: absolute;
  //     top: 7rem;
  //     width: auto;
  //     left: 0%;
  //     grid-template-columns: auto;
  //   }
  // }
  @media screen and (max-width: 414px) and (min-width: 320px) {
    .header-section {
      font-size: 30px !important;
    }
    .grid-item h6 {
      text-align: left;
      font-size: 90%;
    }
    .text-footer {
      color: #fff;
      font-family: Lato Black, sans-serif;
      font-size: 20px !important;
    }
    .text-link[data-v-c7f6745c] {
      text-decoration: none;
      font-size: 90%;
    }
    .content4[name="home1"] {
      background-image: url("/static/img/header.f4da636.jpeg");
      height: 100%;
      width: 101%;
      position: relative;
      top: 3.5rem;
      right: 1%;
    }
    .contact-section .form-contact textarea,
    .contact-section .form-contact input {
      -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      padding: 1.15rem 2rem;
      height: auto;
      font-family: "Lato";
      font-size: 0.7rem;
      text-transform: none;
      letter-spacing: 0.1rem;
      min-width: 49.3%;
    }
    .form-control {
      -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      padding: 1.15rem 2rem;
      height: auto;
      font-family: "Lato";
      font-size: 0.7rem;
      text-transform: none;
      letter-spacing: 0.1rem;
      min-width: 49.3%;
    }
  }
}
//Indicadores de carrusel
@media screen and (min-width: 100px) and (max-width: 710px) {
  .carousel-indicators li {
    margin-top: 3rem;
  }
}
//Indicadores de carrusel
//titulo home 1 y grid de home 3
@media screen and (max-width: 343px) and (min-width: 100px) {
  .title-carousel {
    bottom: 53rem;
    font-size: 1.6rem;
  }
  .grid-item-h[name="subhead"] {
    font-size: 1.5rem !important;
  }
  .grid-item[name="title"] {
    width: 74%;
  }
  .grid[name="home2"] {
    grid-template-columns: 1fr 1fr;
    top: 15.8rem;
    left: 4%;
    grid-gap: 0.4rem;
  }
  .grid[name="home2"] {
    left: -14% !important;
  }
}

//titulo home 1 y grid de home 3
@media screen and (min-width: 1024px) {
  #cov .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 75% !important;
    overflow-x: overlay;
  }
}
#cov .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  height: 96%;
}
@media screen and(max-width:562px) {
  .grid-foot[id="cov"] {
    width: 14rem;
    height: 3rem;
  }
}
</style>
