<template>
    <div>
      <div id= 'mercadopago-button-container'>
        <a :href="this.config.init_point" target="_blank">
          <img src='../assets/img/BOTON-DE-MERCADO-PAGO.jpg' alt="">
        </a>
      </div>
      <div v-if="success" class='alert alert-success'>
        <strong> Success!</strong> Payment successfuly done
      </div>
      <div v-if='error' class='alert alert-danger'>
        <strong>Ooops!</strong> something went wrong
      </div>
    </div>
</template>
<script>
import configMercadoP from '../api/payments/mercadopago'
import { URL_BACK } from '../variableProd'
import { mapGetters } from 'vuex'
export default {
  name: 'mercadopago',
  props: [
    'amount',
    'name',
    'email',
    'descripcion',
    'razon',
    'tipoUso',
    'calle',
    'num',
    'ext',
    'cp',
    'estado',
    'municipio',
    'rfc'
  ],
  data () {
    return {
      error: false,
      success: false,
      config: '',
      urlPayment: null
    }
  },
  created () {
    this.urlPayment = URL_BACK + '/mercadopagos/mercado/pago/paymen'
  },
  computed: {
    ...mapGetters('cart', ['getPremiumTags'])
  },
  methods: {
    sendDataMercadopago: async function (title) {
      await configMercadoP
        .configMercado({
          price: this.amount,
          name: this.name,
          email: this.email,
          razon: this.razon,
          tipoUso: this.tipoUso,
          calle: this.calle,
          num: this.num,
          ext: this.ext,
          cp: this.cp,
          estado: this.estado,
          municipio: this.municipio,
          rfc: this.rfc,
          premium: this.getPremiumTags
        })
        .then(response => {
          this.config = response.data.body
        })
        .catch(err => {
          var mensaje = err.message
          console.log(mensaje)
        })
    },
    verifica: function () {
      alert('aqui estoyu')
    }
  },
  async mounted () {
    await this.sendDataMercadopago('ejemplo')
  }
}
</script>
