<template>
  <div >
    <div class='col-lg-10 col-md-6 mx-auto'>
      <div class='page-heading' name='pay'>
        <br><br><br>
        <span class='title-pay-o'>Pedido</span>
        <hr name='head-form' style="width:50%;">
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-6 col-md-6 text-center'>
          <div class='service-box mt-5 mx-auto'>
            <!--Datos Personales-->
            <h1 class='sub-pay'>Datos personales:</h1>
            <b-form method='post'>
              <b-input
                required
                type='email'
                id='datosName'
                class='mb-3 mr-sm-3 mb-sm-0 round font-text'
                placeholder='Nombre'
                v-model='datos.name'
                readonly
              ></b-input>
              <br />
              <b-input
                required
                type='email'
                id='datosMail'
                class='mb-3 mr-sm-3 mb-sm-0 round font-text'
                placeholder='Correo electrónico'
                readonly
                v-model='datos.email'
              ></b-input>
              <b-form-select v-model='datos.pais' size='sm' class='mt-3 round font-text' :options='paises'   v-on:change="getSelectedItem"  value-field="datos.pais">
                <template v-slot:first>
                  <option :value='this.datos.pais'>{{this.datos.pais}}</option>
                </template>
              </b-form-select>
            </b-form>
          </div>
            <div>
            <b-modal id="modal-center" scrollable header-bg-variant="primary" centered class="center" @hide="cancelFactura">
              <h3 slot="modal-header" class="text-center title-head" style="font-weight:bold;color:white"> Facturación PAD </h3>
                 <b-form @submit.prevent method='post' :validated="false" :novalidate="reset">
                                     <b-input v-model="datosFactura.rfc"
                            v-validate="'required|min:10|max:13'"
                            name ="rfc"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="RFC"
                            :error="getError('rfc')"
                            data-vv-as="rfc"
                  ></b-input>
                  <p v-show="getError('rfc')" style="color:red">RFC inválido</p>
                  <br>
                   <b-form-select v-model="datosFactura.tipoUso"
                   class="select-default"
                   :options="options"
                   size="sm" ></b-form-select>
                  <br>
                  <br>
                   <b-input v-model="datosFactura.razon"
                            v-validate="'required|min:1'"
                            name ="razon"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Nombre o razón social"
                            :error="getError('razon')"
                            data-vv-as="razon"
                            :invalid-feedback="'Ingrese Dato'"
                  ></b-input><br>
                  <b-input v-model="datosFactura.calle"
                            v-validate="'required|min:1'"
                            name ="calle"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Calle"
                            :error="getError('calle')"
                            data-vv-as="calle"
                            :invalid-feedback="'Ingrese Dato'"
                  ></b-input><br>
                  <p v-show="getError('calle')" style="margin-top:-10px; color:red">Campo obligatorio</p>
                  <b-input v-model="datosFactura.num"
                            v-validate="'required|min:1'"
                            name ="int"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Num Interior"
                            :error="getError('int')"
                            data-vv-as="int"
                  ></b-input><br>
                  <p v-show="getError('int')" style="margin-top:-10px; color:red">Campo obligatorio</p>
                  <b-input v-model="datosFactura.ext"
                            v-validate="'required|min:1'"
                            name ="ext"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Num exterior"
                            :error="getError('ext')"
                            data-vv-as="ext"
                  ></b-input><br>
                  <p v-show="getError('ext')" style="margin-top:-10px; color:red">Campo obligatorio</p>
                  <b-input v-model="datosFactura.cp"
                            v-validate="'required|min:5|max:7|alpha_num'"
                            name ="zip"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Código Postal"
                            :error="getError('zip')"
                            data-vv-as="zip"
                  ></b-input><br>
                  <p v-show="getError('zip')" style="margin-top:-10px; color:red">C.P. inválido</p>
                  <b-input v-model="datosFactura.estado"
                            v-validate="'required|min:1'"
                            name ="estado"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Estado"
                            :error="getError('estado')"
                            data-vv-as="estado"
                  ></b-input><br>
                  <p v-show="getError('estado')" style="margin-top:-10px; color:red">Campo obligatorio</p>
                  <b-input v-model="datosFactura.municipio"
                            v-validate="'required|min:1'"
                            name ="municipio"
                            type="text"
                            addon-left-icon="nc-icon nc-single-02"
                            placeholder="Municipio"
                            :error="getError('municipio')"
                            data-vv-as="municipio"
                  ></b-input><br>
                  <p v-show="getError('municipio')" style="margin-top:-10px; color:red">Campo obligatorio</p>
                </b-form>
                <div slot="modal-footer">
                <b-button class="btn btn-danger"  @click="closeFactura">Cancelar</b-button>
                <b-button class="btn btn-success" style="padding:10px"  @click="CheckFactura">Aceptar</b-button>
              </div>
            </b-modal>
          </div>
        </div>
        <div class='col-lg-6 col-md-6 text-center'>
          <div class='service-box mt-5 mx-auto'>
            <!--Resumen de Pedido-->
            <h1 class='sub-pay'>Resumen</h1>
            <br />
            <ul v-if="order.length > 0">
              <div class='text-left' v-for='item in order' :key='item.id'>
                <li class="pay-o">{{ item.name }}</li>
              </div>
            </ul>
            <ul v-else>
              <div class='text-left'>
                <li class="pay-o">Sin Productos</li>
              </div>
            </ul>
            <b-link v-show="getTotalDesc > 1" class="mb-10 text-footer text-link" :to="{ name: 'Buying' , params: { section: 'buying' } }">Cambiar Compra</b-link>
          </div>
        </div>
        <br />
        <div class='col-lg-6 col-md-6 text-center'>
          <div class='service-box mt-5 mx-auto'>
            <!-- Material switch -->
            <div v-if='!facturacion'>
              <div>
                <switch-button ref='switchToggle' @toggle="toggleSwitch" v-model="datosFactura.status" color="#007bff"></switch-button>
              </div>
            </div>
            <div v-if='datosFactura.status'>
              <h6 class="text-center"> Datos de Facturación </h6>
              <div style="text-transform:uppercase">
                <b-table stacked :items="items"></b-table>
              </div>
              <br>
              <button type='button' class='btn btn-primary' @click="editFactura"> EDITAR </button>
            </div>
            <br>
          </div>
        </div>
        <div class='col-lg-6 col-md-6 text-center'>
          <div class='service-box mt-5 mx-auto'>
            <!--Datos Personales-->
            <h1 class='sub-pay'>Cuota: $ <span class="price-label">{{comaMiles(parseFloat(getTotalDesc,2))}}.00</span></h1>
            <br>
            <div v-if='!facturacion && getTotalDesc !== 0'>
              <button type='button' class='btn btn-primary' v-on:click='this.sendFacturacion'> ELEGIR FORMA DE PAGO </button>
              <br><br>
              <span class="pay">Aceptamos</span>
              <br>
              <br>
              <div class='col-lg-12 col-md-12 text-center'>
                <img class='size-img mr-5 ml-5' name='icon' src='../assets/img/paypal.png' />
                <img class='size-img mr-5 ml-5' name='icon' src='../assets/img/mercadopago.png' />
              </div>
            </div>
            <div v-else>
              <b-link class="mb-10 text-footer text-link" :to="{ name: 'Buying' , params: { section: 'buying' } }">Agregue productos a su carrito</b-link>
            </div>
            <br>
            <div v-if='facturacion'>
              <div class='col-lg-12 col-md-12 ml-5 mr-5 text-center'>
                <Paypal :amount='getTotalDesc' :name='datos.name' :email='datos.email' :descripcion='datos.id' v-on:correct='correct'  ></Paypal> <br>
                <MercadoPago :amount='getTotalDesc' :name='datos.name' :email='datos.email' :razon='datosFactura.razon' :tipoUso='datosFactura.tipoUso' :calle='datosFactura.calle' :num='datosFactura.num' :ext='datosFactura.ext' :cp='datosFactura.cp' :estado='datosFactura.estado' :municipio='datosFactura.municipio' :rfc='datosFactura.rfc' :descripcion='datos.id' v-on:correct='correctMP'  v-on:error='errorMP'></MercadoPago>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'
import Paypal from './Paypal'
import MercadoPago from './MercadoPago'
import swal from 'sweetalert2'
import userAPI from '../api/user/user'
import facturation from '../api/facturation/facturation'
import { PAISES } from './Paises.js'
import VeeValidate from 'vee-validate'
import { mapGetters, mapState } from 'vuex'
import SwitchButton from './SwitchButton.vue'

Vue.use(VeeValidate, {
  inject: true,
  fieldsBagName: 'veeFields'
})
Vue.use(Meta)
export default {
  name: 'Order',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer,
    'switch-button': SwitchButton,
    Paypal,
    MercadoPago,
    swal
  },
  data: function () {
    return {
      moduleToken: '',
      meses: [
        'Enero',
        'Febrero',
        'Marzo',
        'Abril',
        'Mayo',
        'Junio',
        'Julio',
        'Agosto',
        'Septiembre',
        'Octubre',
        'Noviembre',
        'Diciembre'
      ],
      dia: [
        'Domingo',
        'Lunes',
        'Martes',
        'Miércoles',
        'Jueves',
        'Viernes',
        'Sábado'
      ],

      fecha: new Date(),
      isEditing: false,
      items: [],
      amount: 0,
      loading: false,
      originPage: '',
      datosFactura: {
        status: false,
        rfc: '',
        razon: '',
        tipoUso: 'P01',
        calle: '',
        num: '',
        ext: '',
        cp: '',
        estado: '',
        municipio: ''
      },
      datos: {
        id: '',
        name: '',
        email: '',
        pais: ''
      },
      paises: PAISES,
      facturacion: false,
      order: [],
      checked: false,
      reset: false,
      accessToken: '',
      options: [
        { value: 'P01', text: 'Por definir' },
        { value: 'G01', text: 'Adquisición de mercancías' },
        { value: 'G02', text: 'Devoluciones, descuentos o bonificaciones' },
        { value: 'G03', text: 'Gastos en general' },
        { value: 'I01', text: 'Construcciones' },
        {
          value: 'I02',
          text: 'Mobiliario y equipo de oficina por inversiones'
        },
        { value: 'I03', text: 'Equipo de transporte' },
        { value: 'I04', text: 'Equipo de cómputo y accesorios' },
        {
          value: 'I05',
          text: 'Dados, troqueles, moldes, matrices y herramental'
        },
        { value: 'I06', text: 'Comunicaciones telefónicas' },
        { value: 'I07', text: 'Comunicaciones satelitales' },
        { value: 'I08', text: 'Otra maquinaria y equipo' },
        {
          value: 'D01',
          text: 'Honorarios médiucos, dentales y gastos hospitalarios'
        },
        { value: 'D02', text: 'Gastos médicos por incapacidad o discapacidad' },
        { value: 'D03', text: 'Gastos funerales' },
        { value: 'D04', text: 'Donativos' },
        {
          value: 'D05',
          text:
            'Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación)'
        },
        { value: 'D06', text: 'Aportaciones voluntarias al SAR' },
        { value: 'D07', text: 'Primas por seguros de gastos médicos' },
        { value: 'D08', text: 'Gastos de trasnportación escolar obligatoria' },
        {
          value: 'D09',
          text:
            'Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones'
        },
        { value: 'D10', text: 'Pagos por servicios educatiovs (colegiaturas)' }
      ]
    }
  },
  computed: {
    ...mapState('cart', ['products', 'cartProducts', 'showCart', 'total']),
    ...mapGetters('cart', [
      'getTotal',
      'descMount',
      'getTotalDesc',
      'checkoutBool',
      'getPremiumTags'
    ]),
    fechaFinal () {
      return (
        this.dia[this.fecha.getDay()] +
        ', ' +
        this.fecha.getDate() +
        ' de ' +
        this.meses[this.fecha.getMonth()] +
        ' de ' +
        this.fecha.getFullYear()
      )
    }
  },
  methods: {
    sendDataFree (creds) {
      let datos = ''
      let checkosendDataPaypalutpaypalApi = ''
      if (datos.id != null) {
        if (datos.name != null) {
          if (datos.email != null) {
            if (datos.pais != null) {
              checkosendDataPaypalutpaypalApi
                .checkoutpaypal(creds)
                .then(response => {
                  var mensaje = response.data.message.status
                  this.$emit('correct', mensaje)
                })
                .catch(err => {
                  var mensaje = err.message
                  this.$emit('error', mensaje)
                })
            }
          }
        }
      }
    },

    toggleSwitch () {
      if (
        this.datosFactura.calle !== '' &&
        this.datosFactura.status === false
      ) {
        this.$root.$emit('bv::hide::modal', 'modal-center', 'font-text')
        this.datosFactura.status = false
        this.clean()
      } else if (
        this.datosFactura.calle !== '' &&
        this.datosFactura.status === true
      ) {
        this.$root.$emit('bv::show::modal', 'modal-center', 'font-text')
        this.errors.clear()
      } else {
        this.$root.$emit('bv::show::modal', 'modal-center', 'font-text')
        this.errors.clear()
      }
    },
    clean () {
      this.datosFactura.rfc = ''
      this.datosFactura.razon = ''
      this.datosFactura.tipoUso = ''
      this.datosFactura.calle = ''
      this.datosFactura.num = ''
      this.datosFactura.ext = ''
      this.datosFactura.cp = ''
      this.datosFactura.estado = ''
      this.datosFactura.municipio = ''
      this.items = []
    },
    getError (fieldName) {
      return this.errors.first(fieldName)
    },
    comaMiles (number) {
      var number1 = number.toString()
      var result = ''
      var estado = true
      if (parseInt(number1) < 0) {
        estado = false
        number1 = parseInt(number1) * -1
        number1 = number1.toString()
      }
      if (number1.indexOf(',') === -1) {
        while (number1.length > 3) {
          result = ',' + '' + number1.substr(number1.length - 3) + '' + result
          number1 = number1.substring(0, number1.length - 3)
        }
        result = number1 + result
        if (estado === false) {
          result = '-' + result
        }
      } else {
        var pos = number1.indexOf(',')
        var numberInt = number1.substring(0, pos)
        var numberDec = number1.substring(pos, number1.length)
        while (numberInt.length > 3) {
          result =
            '.' + '' + numberInt.substr(numberInt.length - 3) + '' + result
          numberInt = numberInt.substring(0, numberInt.length - 3)
        }
        result = numberInt + result + numberDec
        if (estado === false) {
          result = '-' + result
        }
      }
      return result
    },
    CheckFactura () {
      return this.$validator.validateAll().then(isValid => {
        this.$emit('on-submit', this.form, isValid)
        if (isValid) {
          this.datosFactura.status = true
          this.saveDataFact()
        } else {
          this.showError('Faltan datos de Facturación. Vuelva a intentarlo')
        }
      })
    },
    saveDataFact () {
      sessionStorage.setItem('dataFactura', JSON.stringify(this.datosFactura))
      this.$root.$emit('bv::hide::modal', 'modal-center', 'font-text')
      this.datosFactura.status = true
      this.items = []
      let data = this.removeItem()
      this.items.push(data)
    },
    removeItem () {
      const objetoClonado = Object.assign({}, this.datosFactura)
      delete objetoClonado.status
      return objetoClonado
    },
    cancelFactura () {
      if (!this.isEditing) {
        this.datosFactura.status = false
      } else {
        this.isEditing = false
      }
    },
    editFactura () {
      this.isEditing = true
      this.$root.$emit('bv::show::modal', 'modal-center', 'font-text')
    },
    closeFactura () {
      if (!this.isEditing) {
        this.clean()
      }
      this.$root.$emit('bv::hide::modal', 'modal-center', 'font-text')
    },
    getSelectedItem (event) {
      let paramsAPI = {
        access_token: this.accessToken,
        pais: event,
        id: this.datos.id
      }
      userAPI
        .updateUsuario(paramsAPI)
        .then(x => {
          // console.log(x)
        })
        .catch(error => {
          console.log(error)
          this.showError('No se ha podido actualizar el país.')
        })
    },
    correct (data) {
      if (this.datosFactura.status) {
        this.datosFactura = []
        let dataFact = sessionStorage.getItem('dataFactura')
        this.datosFactura = JSON.parse(dataFact)
        this.saveFact()
        this.loading = true
        this.showSuccess2(
          'Su pago en PAYPAL, ha sido procesado correctamente. Además, sus datos de facturación guardados correctamente.'
        )
      } else {
        this.showSuccess2(
          'Su pago en PAYPAL, ha sido procesado correctamente.'
        )
      }
    },
    error (data) {
      this.showError(
        'No se pudo procesar el pago de Paypal. Intentelo de nuevo\n',
        'Error: ' + data
      )
      this.loading = false
    },
    correctMP (data) {
      this.showSuccess(
        'Su pago en MercadoPago, ha sido procesado correctamente.'
      )
    },
    errorMP (data) {
      this.showError(
        'No se pudo procesar el pago de MercadoPago. Intentelo de nuevo\n',
        'Error: ' + data
      )
    },
    getAmount () {
      // return parseFloat(sum, 2)
      return parseFloat(this.total, 2)
    },
    getDatosPersonales () {
      var datos = {
        id: null,
        name: null,
        email: null,
        pais: null
      }
      if (this.accessToken) {
        userAPI
          .getUsuario(this.accessToken)
          .then(x => {
            datos.id = x.id
            datos.name = x.name
            datos.email = x.email
            datos.pais = x.pais
          })
          .catch(error => {
            console.log(error)
          // this.showError('No se han podido cargar los datos. Favor de iniciar sesion otra vez')
          })
      }
      if (this.moduleToken) {
        userAPI
          .getDatosOrganizations(this.moduleToken)
          .then(x => {
            datos.id = x.id
            datos.name = x.name
            datos.email = x.email
            datos.pais = x.pais
          })
          .catch(error => {
            console.log(error)
          // this.showError('No se han podido cargar los datos. Favor de iniciar sesion otra vez')
          })
      }
      return datos
    },
    getOrder () {
      return this.cartProducts
    },
    sendFacturacion () {
      this.facturacion = true
    },
    saveFact () {
      let paramsApi = {
        access_token: this.accessToken,
        rfc: this.datosFactura.rfc,
        razon: this.datosFactura.razon,
        uso: this.datosFactura.tipoUso,
        nombre: this.datos.name,
        correo: this.datos.email,
        calle: this.datosFactura.calle,
        int: this.datosFactura.num,
        ext: this.datosFactura.ext,
        cp: this.datosFactura.cp,
        estado: this.datosFactura.estado,
        municipio: this.datosFactura.municipio
      }
      facturation
        .insertData(paramsApi)
        // console.log(JSON.stringify(paramsApi))
        .then(x => {
          // this.showSuccess('Datos de Facturación Guardados')
          return true
        })
        .catch(error => {
          console.log(error)
          this.showError(
            'No se han podido cargar los datos. Favor de iniciar sesión otra vez'
          )
          return false
        })
    },
    showSuccess (datatitle) {
      swal.fire({
        title: 'Éxito',
        text: datatitle,
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-success btn-fill',
        type: 'success'
      })
    },
    showSuccess2 (datatitle) {
      swal
        .fire({
          title: 'Éxito',
          text: datatitle,
          buttonsStyling: false,
          confirmButtonClass: 'btn btn-success btn-fill',
          type: 'success'
        })
        .then(x => {
          this.$router.push({ name: 'login' })
          this.loading = false
        })
    },
    showError (mensaje) {
      swal.fire({
        title: 'Error',
        text: mensaje,
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-danger btn-fill',
        type: 'error'
      })
    }
  },
  created () {
    this.accessToken = sessionStorage.getItem('accessToken')
    this.moduleToken = sessionStorage.getItem('token')
    if (this.accessToken) {
      this.datos = this.getDatosPersonales()
    } else {
      if (this.moduleToken) {
        this.datos = this.getDatosPersonales()
      }
    }
    this.order = this.getOrder()
    this.amount = this.getAmount()
  },
  metaInfo: {
    title: 'PAD COMPLIANCE',
    // Define meta tags here.
    meta: [{ charset: 'utf-8' }]
  }
}
</script>
<style lang="scss" scoped>
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/_navbar.scss";
@import "../assets/styles/_variables.scss";
.pay {
  font-family: $lat, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pay-o {
  font-family: $lat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

header.masthead-about.page-heading[name="pay"] {
  padding-top: 82px 0;
}
header.masthead-about .page-heading,
header.masthead-about .post-heading,
header.masthead-about .site-heading {
  padding: 85px 0 10px;
  color: white;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.absolute-no {
  left: 0;
  color: blue;
  text-align: right !important;
  width: calc(100% - 25px);
  height: 100%;
  line-height: 100%;
  cursor: pointer;
}
.btn-sesion[name="init"] {
  background: transparent;
  color: transparent;
  > a {
    background: $default-color;
    color: $white;
    font-family: "Lato Black", sans-serif;
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
    padding: 0;
    &:hover {
      background: transparent;
      color: $default-color;
    }
  }
}
.btn-success {
  padding: 4px;
}
.size-img {
  width: 60px;
  height: auto;
}
.box-img {
  font-size: 12;
}
.page-heading[name="pay"] {
  padding: 0 !important;
}
.text-link {
  text-decoration: none;
  transition: all 1s;
  font-size: 1rem;
  color: $primary-color;
  font-family: $latB, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  &:hover {
    color: #ff921e;
    text-decoration: none;
  }
}
.custom-select-sm[data-v-5121c764] {
  height: calc(1.8125rem + 7px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%;
}
.title-head {
  font-weight: bold;
  color: white;
  position: relative;
  left: 25%;
}
.price-label {
  color: #0f5dac;
  font-size: 35px;
  text-align: center;
}
@media screen and(max-width:474px) {
  .title-head {
    font-weight: bold;
    color: white;
    position: relative;
    left: 20%;
  }
}
@media screen and(max-width:410px) {
  .title-head {
    font-weight: bold;
    color: white;
    position: relative;
    left: 15%;
  }
}
</style>
