<template class=" desaparecer">
  <div >
    <!--navigation-component :originPage="originPage"></navigation-component-->
    <!-- Page Header -->
    <!-- Main Content -->
    <b-navbar class="text-center text-white mr-auto ml-auto mt-top" style="top: 4rem; background:transparent; height:6rem;" toggleable>
      </b-navbar>
    <div class="container">
      <div class="row">
        <cart @clickBuying="goToBuying"></cart>
        <div class="col-lg-12 col-md-12 col-sm-12 " v-for="item in arrProduct" :key="item.id">
          <div class="grid-pricing ml-auto mr-auto" name="aditional">
            <div class="item-pricing col-lg-12 col-md-12 col-sm-12 mb-5">
                <div class="mb-3">
                  <!--reeestructuracion de cards-->
                <b-card  text-variant="white"  style=" box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);">
                  <b-row no-gutters>
                    <div class="grid-card-3">
                    <div class="item-card">
                      <span class="mt-3 text-aditional font-text"><br>{{item.name}} </span><br>
                      <span class="mt-3 texto-desc font-text">{{item.desc}} </span>
                    </div>
                    <div class="item-card">
                      <div v-if="item.statusdesc">
                        <span class="anounc mb-2" name="90">{{(1-item.pricedesc)*100}}% Descuento</span><br><br>
                      </div>
                      <div v-if="item.statusdesc">
                        <span class="red-sub mt-2"  v-show="item.pricedesc < 1" name="90">${{comaMiles(item.price) }}.00 / Anual </span><br>
                        <span class="text-aditional " name="90">${{comaMiles(item.price * item.pricedesc)}}.00 / Anual </span>
                      </div>
                      <div v-else>
                        <span class="text-aditional " name="90">${{comaMiles(item.price)}}.00 / Anual </span>
                      </div>
                    </div>
                    <!------>
                    <div class="item-card">
                      <div v-if="!item.statusdesc && !origin" >
                      <span class=" text-blue mt-3 mb-2 " name="market" @click="addCar(item.id)">Este producto se puede adquirir de forma gratuita al registrarse<br> hasta el 30 de Junio de 2020</span><br>
                        <b-button class="btn btn-info text-link" style="color:white; font-size:0.8rem;" :to="{ name: 'registerView' }">Registrarse</b-button>
                    </div>
                    <!---BOTON AGREGAR AL CARRITO--->
                      <span v-else class="cump btn btn-info mt-3 mb-2 cart-text" name="market" @click="addCar(item.id)"><i class="fa fa-cart-arrow-down mt-1 mr-2"></i></span>
                      <!--FIN BOTON AGREGAR AL CARRITO-->
                      <div  v-if="item.name === 'Política de integridad'" @click="modalShow = true" :mouseover="modalShow = true">
                        <span  v-if="item.name === 'Política de integridad'" id="help" class="btn-help"><i style="color:orange; font-size: 1.5rem;" class="fa fa-question-circle"></i></span>
                        <div>
                        <b-tooltip
                          target="help"
                          class="red-tool"
                          variant="red"
                          :show="false"
                          name="tool"
                          >25% de Descuento
                          <p class="infoTool"><i class="fa fa-star star-color"></i>&nbsp;Manual Organizacional</p>
                          <p class="infoTool"><i class="fa fa-star star-color"></i>&nbsp;Código de conducta</p>
                          <p class="infoTool"><i class="fa fa-star star-color"></i>&nbsp;Políticas de integridad</p>
                          <p class="infoTool">(Conflicto de intereses, de<br> regalos, donaciones,<br>anticorrupción, etc.)</p>
                          <p class="infoTool"><i class="fa fa-star star-color"></i>&nbsp;Plan de capacitación anual</p>
                          <p class="infoTool"><i class="fa fa-star star-color"></i>&nbsp;Política de cumplimiento <br> normativo entre otros</p></b-tooltip>
                        </div>
                      </div>
                    </div>
                  </div>
                  </b-row>
                </b-card>
                  <!---->
                </div>
            </div>
          </div>
          <!-- Fin de for -->
        </div>
        <!-- <div class="col-lg-12 text-center" v-if="origin" v-show="carShop.length>0">
          <b-link class="btn btn-info mt-5 "   @click="goToBuying" >Comprar</b-link>
        </div>
        <div class="col-lg-12 text-center" v-else>
          <b-link class="btn btn-info mt-5 " v-show="carShop.length>0"   :to="{name: 'register', params: {id:'payment',car:getCarShop()}}">Comprar</b-link>
        </div> -->
      </div>
    </div>
  </div>
</template>
<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'
import cart from './cart/Cart'
import { mapGetters, mapMutations, mapState } from 'vuex'
import swal from 'sweetalert2'

Vue.use(Meta)

export default {
  name: 'oproduct',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer,
    cart,
    swal
  },
  data: function () {
    return {
      originPage: this.$options.name,
      selected: null,
      checked: false,
      origin: false,
      id_link: '',
      moduleToken: '',
      car: this.cartProducts,
      modalShow: false
    }
  },
  computed: {
    ...mapState('cart', ['cartProducts', 'products']),
    ...mapGetters('cart', ['isBuyingPremium']),
    arrProduct () {
      return this.products.slice(2)
    }
  },
  methods: {
    ...mapMutations('cart', ['ADD_PRODUCT_TO_CART']),
    ...mapState('cart', ['cartProducts', 'products', 'state']),
    ...mapGetters('cart', ['isBuyingPremium']),
    showModal () {
      this.$refs['my-modal'].show()
    },
    hideModal () {
      this.$refs['my-modal'].hide()
    },
    toggleModal () {
      // We pass the ID of the button that we want to return focus to
      // when the modal has hidden
      this.$refs['my-modal'].toggle('#toggle-btn')
    },
    addCar (data) {
      let prod = this.cartProducts.find(product => product.id === data)
      if (prod !== undefined) {
        swal.fire({
          title: 'Aviso',
          text: 'Este producto ya ha sido agregado',
          buttonsStyling: false,
          confirmButtonClass: 'btn btn-info btn-fill',
          type: 'warning'
        })
      } else {
        this.ADD_PRODUCT_TO_CART(data)
      }
    },
    close () {
      this.modalShow = false
    },
    isExpanded (key) {
      return this.expandedGroup(key) !== -1
    },
    toggleExpansion (key) {
      if (this.isExpanded(key)) {
        this.expandedGroup.splice(this.expandedGroup.indexOf(key), 1)
      } else {
        this.expandedGroup.push(key)
      }
    },
    comaMiles (number) {
      var number1 = number.toString()
      var result = ''
      var estado = true
      if (parseInt(number1) < 0) {
        estado = false
        number1 = parseInt(number1) * -1
        number1 = number1.toString()
      }
      if (number1.indexOf(',') === -1) {
        while (number1.length > 3) {
          result = ',' + '' + number1.substr(number1.length - 3) + '' + result
          number1 = number1.substring(0, number1.length - 3)
        }
        result = number1 + result
        if (estado === false) {
          result = '-' + result
        }
      } else {
        var pos = number1.indexOf(',')
        var numberInt = number1.substring(0, pos)
        var numberDec = number1.substring(pos, number1.length)
        while (numberInt.length > 3) {
          result =
            '.' + '' + numberInt.substr(numberInt.length - 3) + '' + result
          numberInt = numberInt.substring(0, numberInt.length - 3)
        }
        result = numberInt + result + numberDec
        if (estado === false) {
          result = '-' + result
        }
      }
      return result
    },
    getCarShop () {
      var cad = ''
      this.cartProducts.map(item => {
        cad = cad + item.id + ','
      })
      var tam = cad.length
      cad = cad.substring(0, tam - 1)
      return cad
    },
    goToBuying () {
      if (this.isBuyingPremium) {
        if (this.origin) {
          this.$router.push({ name: 'Buying' })
        } else {
          this.$router.push({
            name: 'register',
            params: { id: 'payment', car: this.getCarShop() }
          })
        }
      } else {
        swal
          .fire({
            title: 'No es posible proceder con la compra',
            text:
              'Debe adquirir uno de los planes disponibles, si deseas solamente algún servicio, ponte en contacto con nosotros y te proporcionaremos una atención personalizada dando click en el boton "Contactenos"',
            showCancelButton: true,
            confirmButtonText: 'Contactenos',
            cancelButtonText: 'Entendido'
          })
          .then(result => {
            if (result.value) {
              this.$router.push({ name: 'MainPage', hash: '#contact' })
            }
          })
      }
    }
  },
  created () {
    sessionStorage.clear()
    this.idToken = this.$route.query.id
    this.moduleToken = this.$route.query.token
    if (this.idToken) {
      this.id_link = this.idToken
      this.origin = true
      sessionStorage.setItem('accessToken', this.id_link)
    } else {
      if (this.moduleToken) {
        this.origin = true
        sessionStorage.setItem('token', this.moduleToken)
      }
    }
  }
}
</script>

<style lang='scss' scoped>
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/variables.scss";
@import "../assets/styles/pricing.scss";
.card {
  border-radius: 1.5rem;
}
.infoTool {
  text-align: left;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
}
.star-color {
  color: var(--orange);
}
.anounc[name="90"] {
  background: $default-color;
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-family: $latB;
}
.text-aditional {
  font-family: $latB;
  display: block;
  white-space: normal;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  text-align: center;
}
.texto-desc {
  color: $text-color;
  font-size: 14px;
  width: 4rem;
  white-space: normal;
}
.cart-text:before {
  content: "agregar al carrito";
}
@media screen and (max-width: 1200px) and (min-width: 580px) {
  .cart-text:before {
    font-weight: bold;
    font-size: 0.5rem;
    content: "agregar";
  }
}
@media screen and (max-width: 579px) and (min-width: 320px) {
  .cart-text:before {
    font-weight: bold;
    font-size: 0.75rem;
    content: "agregar al carrito";
  }
  @media screen and (max-width: 414px) {
    .cart-text:before {
      font-weight: bold;
      font-size: 0.75rem;
      content: "agregar";
    }
  }
}
.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: $primary-color;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  border: 5px solid $primary-color;
}
.tooltip .arrow {
  color: black;
  display: none;
}
</style>
