<template>
  <div id='about'>
   <navigation-component :originPage="originPage"></navigation-component>
    <!-- Page Header -->
    <header class='masthead-about'>
      <order></order>
    </header>
    <!-- Main Content -->
    <div class='container'>
      <div class='row'>
        <div class='col-lg-8 col-md-10 mx-auto' name='mvv'></div>
      </div>
    </div>
    <footer-component></footer-component>
  </div>
</template>
<script>
import Order from './Order'
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'

export default {
  name: 'PaymentMethods',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer,
    Order
  },
  data: function () {
    return {
      step: 1,
      originPage: this.$options.name
    }
  }
}
</script>

<style lang='scss' >
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
@import '../assets/styles/creative.scss';
@import '../assets/styles/variables.scss';

.container[name='we'] {
  margin: 0
}
hr[name='head-form'] {
  max-width: 50%
}
header.masthead-about.page-heading[name='pay'] {
  padding-top: 82px 0 !important
}
@media only screen and (min-width: 768px) {
  header.masthead-about .page-heading,
  header.masthead-about .post-heading,
  header.masthead-about .site-heading {
    padding-top: 85px;
    padding-bottom: 100px
  }
}
.round {
  border-radius: 50px;
  font-family: $lat
}
</style>
