<template>
  <div>
    <div id='paypal-button-container'></div>
    <div v-if='success' class='alert alert-success'>
      <strong>Success!</strong> Payment successfuly done
    </div>
    <div v-if='error' class='alert alert-danger'>
      <strong>Ooops!</strong> something went wrong
    </div>
  </div>
</template>
<script>
import checkoutpaypalApi from '../api/payments/paypal'
import { mapGetters } from 'vuex'
export default {
  name: 'paypal',
  props: ['amount', 'descripcion', 'email'],
  data () {
    return {
      error: false,
      success: false
    }
  },
  computed: {
    ...mapGetters('cart', ['getPremiumTags'])
  },
  methods: {
    sendDataPaypal (creds) {
      checkoutpaypalApi
        .checkoutpaypal(creds)
        .then(response => {
          var mensaje = response.data.message.status
          this.$emit('correct', mensaje)
        })
        .catch(err => {
          var mensaje = err.message
          this.$emit('error', mensaje)
        })
    }
  },
  mounted () {
    let client = {
      sandbox:
        'AdF7L29ibqHayOVd_poxStH4meuMm0uz76LLAF0JT3xZNgGyRzpFyJIOFAK0N3N_-zJ28g7Cince2fb4',
      production:
        'AWYWVFAZ9EYm-gPeMz967wddzw_KMSwJ-dRAvP9-X13GYj7x2Fbu7UL49ZGYqtIZwZi9iILjaytUl4Oc'
    }
    let payment = (data, actions) => {
      return actions.payment.create({
        payment: {
          transactions: [{ amount: { total: this.amount, currency: 'MXN' } }]
        }
      })
    }
    let onAuthorize = data => {
      var dataContent = {
        paymentID: data.paymentID,
        payerID: data.payerID,
        amount: this.amount
      }
      this.sendDataPaypal({
        data: dataContent,
        email: this.email,
        descripcion: this.descripcion,
        premium: this.getPremiumTags
      })
    }
    // eslint-disable-next-line
    paypal.Button.render(
      {
        env: 'production',
        commit: true,
        client,
        payment,
        onAuthorize
      },
      '#paypal-button-container'
    )
  }
}
</script>
