<template class="desaparecer">
    <!-- Page Header -->
    <!-- Main Content -->
    <div class="container" style="padding-top: 7rem">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
          <br><br>
          <div class="row mt-5 mb-5 ml-auto mr-auto">
            <div class=" col-lg-4 text-center ml-auto mr-auto mt-5 mb-5">
               <b-card
                no-body
                style="max-width: 50rem; min-width:15rem; min-height:32rem; box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);"
                :img-src="img.head1"
                img-alt="Image"
                img-top
              >
                <template v-slot:header>
                  <div class="card-title title-cards" style="text-transform:uppercase;">
                    Autodiagnóstico <br>100% Gratuito
                    </div>
                </template>
                <b-card-body>
                  <b-card-text>
                  </b-card-text>
                </b-card-body>
                <b-card-body>
                  <div class="card-title text-desc-contact mb-5">
                  Realiza tu diagnóstico y
                  <br />averigua tu nivel de
                  <br />cumplimiento
                </div>
                </b-card-body>
                <b-card-footer><div v-if="!origin" class="text-center">
                <b-button
                  class="btn btn-info text-link  "
                  style="color:white; font-size:0.8rem; background:#004385;"
                  :to="{ name: 'registerView' }"
                >Registrarse</b-button>
                </div>
                <div v-if="origin" class="text-center">
                <b-button
                  class="btn btn-info text-link  "
                  style="color:white; font-size:0.8rem; background:#004385;"
                  :to="{ name: 'registerView' }"
                  disabled
                >Usuario registrado</b-button>
                </div>
                </b-card-footer>
              </b-card>
          </div>
          <div class=" col-lg-4 text-center ml-auto mr-auto mt-5 mb-5">
            <div class="my-tooltip"><h4>100% de Descuento</h4></div>
             <b-card
                no-body
                style="max-width: 50rem; min-width:15rem; min-height:32rem; box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);"
                img-alt="Image"
                img-top
                align="center"
              >
              <b-card-header>
                <img :src="img.head2" width="100">
                </b-card-header>
                <template v-slot:header>
                  <div class="card-title title-cards" style="text-transform:uppercase;">
                    Continuidad de Negocio por pandemia <br>(COVID-19)
                  </div>
                </template>
                <b-card-body>
                  <b-card-text>
                  </b-card-text>
                </b-card-body>
                <b-card-body id="cov">
                  <div class="card-title text-desc-contact ">
                    Planea cómo recuperarte ante eventos imprevisibles, así como restaurar  y monitorear funciones críticas de tu negocio que se ha interrumpido por una pandemia.
                  </div>
                </b-card-body>
                <b-card-footer><div v-if="!origin" class="text-center">
                <b-button
                    class="btn btn-info text-link  "
                    style="color:white; font-size:0.8rem; background:#004385;"
                    @click="setShowPack(3)"
                    >Ver detalles
                  </b-button>
                </div>
                <div v-if="origin" class="text-center">
                <b-button
                    class="btn btn-info text-link  "
                    style="color:white; font-size:0.8rem; background:#004385;"
                    @click="setShowPack(3)"
                    >Ver detalles
                  </b-button>
                </div>
                </b-card-footer>
              </b-card>
          </div>
          <div class=" col-lg-4  text-center ml-auto mr-auto mt-5 mb-5">
            <div class="my-tooltip"><h4>25% de Descuento</h4></div>
             <b-card
                no-body
                style="max-width: 50rem; min-width:15rem; min-height:32rem; box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);"
                :img-src="img.head3"
                img-alt="Image"
                img-top
              >
                <template v-slot:header>
                  <div class="card-title title-cards" style="text-transform:uppercase;">
                    módulo
                    <br />anticorrupción
                  </div>
                </template>
                <b-card-body>
                  <b-card-text>
                  </b-card-text>
                </b-card-body>
                <b-card-body>
                  <div class="card-title text-desc-contact mb-4">
                    Cumple con la política de
                    <br />integridad y protege a tu
                    <br />empresa de
                    <br />responsabilidades penales
                  </div>
                </b-card-body>
                <b-card-footer><div v-if="!origin" class="text-center">
                <b-button
                    class="btn btn-info text-link  "
                    style="color:white; font-size:0.8rem; background:#004385;"
                    @click="setShowPack(1)"
                    >Ver detalles
                  </b-button>
                </div>
                <div v-if="origin" class="text-center">
                <b-button
                    class="btn btn-info text-link  "
                    style="color:white; font-size:0.8rem; background:#004385;"
                    @click="setShowPack(1)"
                    >Ver detalles
                  </b-button>
                </div>
                </b-card-footer>
              </b-card>
          </div>
            </div>
            <div class='row'>
          <div class=" col-lg-6 col-11 ml-auto mr-auto text-center">
            <b-card
                no-body
                style="max-width: 50rem; min-width:15rem; box-shadow:4px 6px 10px -4px rgba(0, 0, 0, 0.85);"
                :img-src="img.head4"
                img-alt="Image"
                img-top
              >
                <template v-slot:header>
                  <div class="card-title title-cards" style="text-transform:uppercase;">Más<br /> servicios</div>
                </template>
                <b-card-body>
                  <b-card-text>
                  </b-card-text>
                </b-card-body>
                <b-card-body>
                  <div class="card-title text-desc-contact mb-5">
                    Agrega alguno de nuestros
                    <br />servicios adicionales a tu
                    <br />compra
                    <br />
                  </div>
                </b-card-body>
                <b-card-footer><div v-if="!origin" class="text-center">
                <b-button
                      class="btn btn-info text-link "
                      style="color:white; font-size:0.8rem; background:#004385;"
                      @click="setShowPack(2)"
                    >Ver detalles</b-button>
                </div>
                <div v-if="origin" class="text-center">
                <b-button
                      class="btn btn-info text-link "
                      style="color:white; font-size:0.8rem; background:#004385;"
                      @click="setShowPack(2)"
                    >Ver detalles</b-button>
                </div></b-card-footer>
              </b-card>
            <!---->
              </div>
            </div>
            <!---->
          </div>
        </div>
        <br/>
      </div>
</template>
<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'

Vue.use(Meta)

export default {
  name: 'pricing',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer
  },
  props: ['showPack'],
  data: function () {
    return {
      originPage: this.$options.name,
      selected: null,
      checked: false,
      origin: false,
      id_link: '',
      img: {
        head1: require('@/assets/img/card-free.svg'),
        head2: require('@/assets/img/covid-1.png'),
        head3: require('@/assets/img/card-anti.svg'),
        head4: require('@/assets/img/card-img.svg')
      },
      tool: true
    }
  },
  methods: {
    setShowPack (data) {
      this.$emit('setShowPack', data)
    },
    isExpanded (key) {
      return this.expandedGroup(key) !== -1
    },
    toggleExpansion (key) {
      if (this.isExpanded(key)) {
        this.expandedGroup.splice(this.expandedGroup.indexOf(key), 1)
      } else {
        this.expandedGroup.push(key)
      }
    },
    comaMiles (number) {
      var number1 = number.toString()
      var result = ''
      var estado = true
      if (parseInt(number1) < 0) {
        estado = false
        number1 = parseInt(number1) * -1
        number1 = number1.toString()
      }
      if (number1.indexOf(',') === -1) {
        while (number1.length > 3) {
          result = ',' + '' + number1.substr(number1.length - 3) + '' + result
          number1 = number1.substring(0, number1.length - 3)
        }
        result = number1 + result
        if (estado === false) {
          result = '-' + result
        }
      } else {
        var pos = number1.indexOf(',')
        var numberInt = number1.substring(0, pos)
        var numberDec = number1.substring(pos, number1.length)
        while (numberInt.length > 3) {
          result =
            '.' + ' ' + numberInt.substr(numberInt.length - 3) + '' + result
          numberInt = numberInt.substring(0, numberInt.length - 3)
        }
        result = numberInt + result + numberDec
        if (estado === false) {
          result = '-' + result
        }
      }
      return result
    }
  },
  created () {
    sessionStorage.clear()
    var text = this.$route.query.id
    var module = this.$route.query.token
    if (text) {
      this.id_link = text
      this.origin = true
      sessionStorage.setItem('accessToken', this.id_link)
    } else {
      if (module) {
        this.origin = true
        sessionStorage.setItem('token', module)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
@import "../assets/styles/variables.scss";
.card {
  border-radius: 1.5rem;
}
//temporal
@media screen and (min-width: 992px) {
  .item-medio {
    grid-column: 2/3;
  }
}
//temporl
.my-tooltip {
  z-index: 0;
  background-color: red;
  -webkit-box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.85);
  font-family: $lat;
  border-radius: 12px 12px 0 0;
  color: white;
  position: absolute;
  padding: 5px;
  padding-bottom: 1rem;
  width: 92%;
  top: -2rem;
  animation: openDesc 0.7s;
  transition: all 1s;
}
@media screen and( max-width:991px) {
  .my-tooltip {
    width: 93%;
  }
}
@keyframes openDesc {
  0% {
    transform: translateY(100%);
    background: transparent;
  }
  100% {
    transform: translateY(0%);
  }
}
.card-body[id="cov"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.25rem !important;
}
</style>
