<template>
    <div id="terminos" @scroll="comprobar()" class="container-uno">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <p class="font-weight-bold text-justify term-sub" >
                            Términos y Condiciones
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 mx-auto">
                        <p class="text-justify text-desc-contact">
                            <b>
                              CONTRATO DE LICENCIAMIENTO DE SOFTWARE (SISTEMA DE CUMPLIMIENTO NORMATIVO) Y PRESTACIÓN DE SERVICIOS BAJO
                              LA MODALIDAD “SOFTWARE COMO SERVICIO (“SAAS” POR SUS SIGLAS EN INGLES) QUE CELEBRAN POR UNA PARTE “Privacy Lawyers
                              S. A. S. de C. V.”, A QUIEN EN LO SUCESIVO SE IDENTIFICARÁ COMO “EL PROVEEDOR”, Y POR LA OTRA PARTE,
                              EL USUARIO DEL SERVICIO EN ADELANTE EL “EL LICENCIATARIO”, EN SU CONJUNTO SE LES DENOMINARÁ COMO “LAS PARTES”,
                              MISMO QUE CELEBRAN AL TENOR DE LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS:
                            </b>
                        </p>
                        <hr class="div-style"/>
                        <p class="text-center text-desc-contact">DECLARACIONES</p>
                        <hr class="div-style"/>
                        <p class="text-justify text-desc-contact">
                        <b>I.   Declara “EL PROVEEDOR”:</b>
                        </p>
                        <ol class="text-justify text-desc-contact">
                            <li> Que es una sociedad mercantil constituida de conformidad con la legislación mexicana y que el apoderado
                                legal cuenta con facultades suficientes para obligarla en los términos del presente contrato y que las mismas
                                no le han sido revocadas, modificadas ni restringidas de forma alguna.</li>
                            <li> Que los datos recogidos a través de los formularios situados en <a href="http://www.padcompliance.mx">
                                www.padcompliance.mx</a> u otros dominios/subdominios relacionados con “EL PROVEEDOR” se incluyen en ficheros
                                automatizados de uso interno, cuyo responsable y titular es “EL PROVEEDOR”, con el fin de poder prestar los
                                servicios contratados por “EL LICENCIATARIO”, o en caso contrario, poder facilitarle cualquier información
                                que éste requiera de una forma personalizada.</li>
                        </ol>
                        <p class="text-justify text-desc-contact">
                        <b>II.  Declara “EL LICENCIATARIO” por conducto de su representante:</b>
                        </p>
                        <ol class="text-justify text-desc-contact">
                            <li> Tener capacidad legal para contratar en términos de la legislación civil federal y que es su deseo adquirir
                                algunos de los productos y servicios ofertados a través de la página <a href="http://www.padcompliance.mx">
                                www.padcompliance.mx</a> previo llenado de los formularos situados en dicha página.</li>
                            <li> Que acepta los términos y condiciones en cómo están ofertados los productos y servicios adquiridos, y saben de
                                las especificaciones de todas y cada una de las funcionalidades, características y especificaciones de uso.</li>
                            <li> Que el precio que pagará por cualquiera de los productos o servicios que más adelante se detallan, es de
                                procedencia lícita. </li>
                        </ol>
                        <hr class="div-style"/>
                        <p class="text-center text-desc-contact">CLÁUSULAS</p>
                        <hr class="div-style"/>
                        <p class="text-justify text-desc-contact">
                            PRIMERA. <u>OBJETO.</u> Al celebrar este contrato, “EL LICENCIATARIO” adquiere de “EL PROVEEDOR” la licencia de uso (en
                            adelante “LA LICENCIA”), del Software de cumplimiento normativo bajo la modalidad de “ software como servicio”
                            seleccionado a través de la página <a href="http://www.padcompliance.mx">www.padcompliance.mx</a>, respecto al uso y
                            explotación particular del mismo, con las características, especificaciones y funcionabilidades informadas en dicha
                            página y en el presente contrato, (en adelante “EL SOFTWARE”). Asimismo “EL SOFTWARE” es escalable, es decir que
                            podrá estar divido en distintos productos especializados de cumplimiento regulatorio por materia (en adelante “EL
                            MÓDULO O LOS MÓDULOS) que serán comercializados por “EL PROVEEDOR” de manera independiente y con un costo particular
                            por cada uno. Por tanto, “LA LICENCIA” que “EL LICENCIATARIO” adquiera, será exclusivamente respecto a “EL MÓDULO O
                            MÓDULOS” que hubiese contratado.
                        </p>
                        <p class="text-justify text-desc-contact">
                            SEGUNDA. <u>USUARIOS.</u> La adquisición de “LA LICENCIA” incluye un usuario administrador (en adelante “USUARIO
                            ADMINISTRADOR”), la cual es personal e intransferible. En caso de que “EL LICENCIATARIO” requiera uno o más usuarios
                            adicionales (en adelante “USUARIO ADICIONAL”) deberá adquirir la(s) licencia(s) de “USUARIO ADICIONAL” para el uso de
                            “EL MÓDULO” a través de la propia página <a href="http://www.padcompliance.mx">www.padcompliance.mx</a> haciendo el pago
                            correspondiente. Queda prohibido alquilar, vender, ceder, subalquilar o cualquier otro análogo o similar de “LA
                            LICENCIA” y/o de los accesos otorgados a los “USUARIOS ADICIONALES”.
                        </p>
                        <p class="text-justify text-desc-contact">
                            TERCERA. <u>PRODUCTOS Y SERVICIOS ADICIONALES.</u> “EL LICENCIATARIO” podrá adquirir a través de la página
                            <a href="http://www.padcompliance.mx">www.padcompliance.mx</a> adicionalmente productos y servicios adicionales (en adelante
                            “PRODUCTO(S) Y SERVICIO(S) ADICIONALES”) que de manera enunciativa más no limitativa se señalan a continuación:
                        </p>
                        <ol class="text-justify text-desc-contact">
                            <li> Licencia para “USUARIO ADICIONAL”.</li>
                            <li> Servicios de almacenamiento en la nube (en adelante “ALMACENAMIENTO ADICIONAL”).</li>
                            <li> Servicios de Elaboración de los documentos de cumplimiento no incluidos en “EL MÓDULO” y relacionados con los
                                Planes de Trabajo (en adelante “DOCUMENTOS DE CUMPLIMIENTO”).</li>
                            <li> Servicios de personalización de imagen corporativa de “EL MÓDULO” y uso de un dominio personalizado (en adelante
                                “EL DOMINIO”).</li>
                            <li> Cualquier otro “PRODUCTO Y SERVICIO” que se llegase a desarrollar e implementar y se oferte a través de dicha
                                página.</li>
                        </ol>
                        <p class="text-justify text-desc-contact">
                            CUARTA. <u>PRECIOS.</u> “EL LICENCIATARIO” podrá adquirir a través de la página <a href="http://www.padcompliance.mx">
                            www.padcompliance.mx</a> en la forma y precios señalados, cualquier producto y/o servicio ofertado debiendo cubrir
                            en cualquier caso un 16% adicional correspondiente al Impuesto al Valor Agregado (IVA).
                        </p>
                        <p class="text-justify text-desc-contact">
                            QUINTA. <u>FACTURA(S).</u> “EL LICENCIATARIO” dentro de los 5 días siguientes de realizada cualquier compra a través
                            de la página <a href="http://www.padcompliance.mx">www.padcompliance.mx</a>, podrá solicitar la factura correspondiente.
                            Para los efectos anteriores, “EL LICENCIATARIO” deberá enviar un correo electrónico a
                            <a href="mailto:contacto@padcompliance.mx">contacto@padcompliance.mx</a> realizando dicha solicitud agregando los datos
                            fiscales (RFC, Beneficiario y domicilio fiscal), así como los datos relacionados y de identificación de la compra.
                        </p>
                        <p class="text-justify text-desc-contact">
                            SEXTA. <u>RESTRICCIONES/PROHIBICIÓN DE MODIFICACIÓN.</u> “EL LICENCIATARIO” y/o el “USUARIO ADICIONAL” tiene prohibido
                            copiar, reproducir, modificar, adaptar, traducir o crear trabajos derivados basados en “EL SOFTWARE” y/o cualquier
                            “PRODUCTO Y/O SERVICIO ADICIONAL”; ni tampoco podrá el “EL LICENCIATARIO” y/o el “USUARIO ADICIONAL” hacer ingeniería
                            inversa, descompilar, desmontar o de cualquier forma intentar descubrir el Código Fuente de “EL SOFTWARE”, y
                            en general quedan prohibidas al “EL LICENCIATARIO” y/o el “USUARIO ADICIONAL”  todas la actividades enunciadas en
                            los artículos 106 y 110 de la Ley Federal del Derecho de Autor.
                        </p>
                        <p class="text-justify text-desc-contact">
                            SÉPTIMA. <u>IMPLEMENTACIÓN EN SERVIDORES DE “EL LICENCIATARIO”.</u> Toda vez que el presente contrato es bajo la
                            modalidad de “Software como servicio”, "EL LICENCIATARIO” podrá solicitar a “EL PROVEEDOR” que “EL SOFTWARE” sea
                            instalado en servidores propios que le señale, cubriendo para tal efecto los precios de instalación que “EL PROVEEDOR”
                            le indique y previo a dicha instalación. Para los efectos anteriores “LAS PARTES” deberán acordar el plan de
                            trabajo correspondiente mismo que deberá constar por escrito. Una vez realizada la entrega de “EL SOFTWARE”,
                            “EL LICENCIATARIO” se obliga a expresar en forma inequívoca a “EL PROVEEDOR” por escrito después del último día
                            del Plan de Trabajo, su conformidad o inconformidad en la entrega y recepción de “EL SOFTWARE”, en un plazo máximo
                            de 30 (treinta) días naturales contados a partir de aquel en que sea realizada la entrega.
                        </p>
                        <p class="text-justify text-desc-contact">
                            OCTAVA. <u>GARANTÍA Y LÍMITE DE RESPONSABILIDAD.</u> “EL LICENCIATARIO” acepta que “EL SOFTWARE”, es una herramienta
                            que le ayudará a identificar, evaluar, diagnosticar, planear y brindarle orientación sobre el cumplimiento regulatorio
                            de determinada ley o leyes de acuerdo a “EL MÓDULO” adquirido y de conformidad a la metodología creada por
                            “EL PROVEEDOR”. Por lo anterior, “EL MÓDULO” o “MÓDULOS” adquiridos únicamente son solo una referencia al
                            momento de la creación de “LOS MÓDULOS”, sin embargo, “EL PROVEEDOR” no asume ni podrá ser responsable de ningún
                            tipo de sanción, multa, litigio o cualquier otro asunto relacionado con el cumplimiento legal o no que el “EL
                            LICENCIATARIO” de a cualquier regulación legal.
                        </p>
                        <p class="text-justify text-desc-contact">
                            Asimismo, “EL LICENCIATARIO” esta consiente que el correcto funcionamiento de “EL SOFTWARE” depende de diversos
                            factores, incluidos aquellos requerimientos técnicos necesarios para su adecuado funcionamiento, incluso y debido a
                            su complejidad, también se podrían presentar algunos defectos funcionales o necesitar adecuaciones para su
                            estabilidad y buen funcionamiento en el ambiente de red en el que “EL LICENCIATARIO” lo ejecute. En ese sentido,
                            “EL LICENCIATARIO” reconoce y está de acuerdo en que la garantía por parte de “EL PROVEEDOR” será específicamente
                            para que dicho “SOFTWARE” sea revisado para corregir errores de funcionalidad enviados oportunamente al correo
                            <a href="mailto:soportetecnico@padcompliance.mx">soportetecnico@padcompliance.mx</a> mismos que serán atendidos si
                            la naturaleza del problema lo permite dentro de los 5 días siguientes a recibidos, y en todo caso “EL PROVEEDOR”
                            informará por dicha vía el tiempo de corrección adicional.
                        </p>
                        <p class="text-justify text-desc-contact">
                            La garantía expresada en el párrafo anterior, es la única que al efecto se otorga sobre “EL SOFTWARE” y solo durante
                            el período de vigencia de “LA LICENCIA”. Si dentro de dicho período no hay reporte o inconformidad reportada por
                            “EL LICENCIATARIO” a través del mecanismo señalado en el párrafo anterior, se entenderá que “EL SOFTWARE” funciona
                            correctamente y a satisfacción de “EL LICENCIATARIO”. En dicho periodo, “EL PROVEEDOR” realizará todas las acciones
                            que estén a su alcance para corregir cualquier inconformidad, disparidad o error en el funcionamiento de “EL
                            SOFTWARE” con respecto a lo establecido.
                        </p>
                        <p class="text-justify text-desc-contact">
                            NOVENA. <u>PRESTACIÓN DE SERVICIOS DE MANTENIMIENTO Y SOPORTE DE CORRECIÓN DE ERRORES DE “EL SOFTWARE”.</u> “LAS
                            PARTES” acuerdan que “EL PROVEEDOR” proporcione cuando así sea necesario a “EL LICENCIATARIO” y durante el tiempo
                            que dure “LA LICENCIA” el mantenimiento sobre el “EL SOFTWARE”; incluyendo las actualizaciones que en su caso sean
                            indispensables por cambios regulatorios o bien por cualquier otra mejora necesaria para su mejor funcionamiento.
                            En el caso que “EL LICENCIATARIO” adquiera “EL SOFTWARE” por más tiempo del establecido en “LA LICENCIA”, el costo
                            mensual por concepto de mantenimiento y soporte le será informado al momento de la ampliación del plazo de “LA
                            LICENCIA”.
                        </p>
                        <p class="text-justify text-desc-contact">
                            En virtud de lo anterior, “EL PROVEEDOR” se obliga a proporcionar por el tiempo especificado en el párrafo anterior,
                            soporte respecto a la operación de “EL SOFTWARE” - vía correo electrónico al correo
                            <a href="mailto:soportetecnico@padcompliance.mx">serviciotecnico@padcompliance.mx</a> en base al procedimiento que
                            se informa en la página <a href="http://www.padcompliance.mx">www.padcompliance.mx</a>.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA. <u>CONDICIONES ESPECÍFICAS DE LOS SERVICIOS DE SOFTWARE COMO SERVICIO, EN SERVIDORES VIRTUALIZADOS.</u> “EL
                            SOFTWARE” objeto del presente contrato, como los datos generados por su uso (Base de Datos) están almacenados en
                            los Data Center/Servidores Cloud de Heroku y Amazon S3 estándar quienes proporcionan una alta disponibilidad y
                            tiempo de respuesta (más información <a href='https://aws.amazon.com/es/s3/?nc=sn&loc=0'>
                            https://aws.amazon.com/es/s3/?nc=sn&loc=0</a> y <a href='https://www.heroku.com/platform'>
                            https://www.heroku.com/platform</a>. El acceso a la web así como la transacción de datos entre “EL LICENCIATARIO”
                            y el Servidor Virtual se realiza mediante acceso seguro encriptado SSL. “EL PROVEEDOR” se reserva el derecho de
                            cambiar de proveedor de servidor(es) virtual(es) sin necesidad de comunicarlo a “EL LICENCIATARIO”, asegurando que
                            el nuevo Data Center/Servidores Cloud ofrezca iguales o mejores servicios y prestaciones que el anterior. Se notifica
                            al CLIENTE que el servidor donde se aloja la información y las aplicaciones WEB se encuentra en OHIO, dentro del
                            territorio de USA, aceptando “EL LICENCIATARIO” de forma inequívoca este hecho. “EL LICENCIATARIO” puede solicitar
                            en cualquier momento una copia de los datos de su base de datos previo pago del servicio de acuerdo a lo estipulado
                            en la cláusula TERCERA del presente contrato, pagado el servicio, “EL PROVEEDOR” enviará un fichero de copia de base
                            datos a “EL LICENCIATARIO”. El acceso al servidor por parte de “EL LICENCIATARIO” será únicamente mediante WEB (HTTP)
                            accediendo a la URL proporcionada en el proceso de suscripción a través de <a href="http://www.padcompliance.mx">
                            www.padcompliance.mx</a>
                        </p>
                        <p class="text-justify text-desc-contact">
                            El límite en el uso del espacio de disco duro del servidor es de 25 megabytes. Si la Base de datos del CLIENTE
                            excede de ese espacio recibirá una notificación al correo electrónico proporcionado en su suscripción para que
                            depure su base o bien contrate espacio adicional, el cual será acordado con “EL LICENCIATARIO” previa cotización
                            y pago del espacio requerido en términos de la cláusula TERCERA del presente contrato.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA PRIMERA. <u>CAPACITACIÓN PARA EL USO DE “EL SOFTWARE”.</u> “EL SOFTWARE” fue creado para ser usado por
                            cualquier tipo de persona sin que requiera de conocimientos previos en gestión de riesgos regulatorios. Asimismo
                            dentro de “EL MÓDULO o MÓDULOS” adquiridos, se incluye un apartado de “Guías de Uso” a efecto de que “EL
                            LICENCIATARIO” utilice para cualquier duda al respecto. Sin embargo, “EL PROVEEDOR” a solicitud de “EL LICENCIATARIO”
                            podrá dar una capacitación en línea cuando sea necesario para sus “USUARIOS”. En el caso que “EL LICENCIATARIO”
                            requiera que personal de “EL PROVEEDOR” acuda a sus instalaciones, éste último le informará de los costos que deberá
                            pagar por dicho concepto, incluidos los viáticos en su caso.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA SEGUNDA. <u>VIGENCIA.</u> El presente contrato será de un año y correrá a partir del día de la contratación
                            que “EL LICENCIATARIO” realice a través de la página <a href="http://www.padcompliance.mx">www.padcompliance.mx</a>.
                            Asimismo, las licencias para “USUARIO ADICIONAL” concluirán el mismo día en que concluya el presente contrato con
                            independencia de que la contratación de dicha licencia de “USUARIO ADICIONAL” hubiese sido en fecha posterior a la
                            contratación de “EL MÓDULO”.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA TERCERA. <u>CONFIDENCIALIDAD.</u> Cada una de “LAS PARTES” acuerda que todo código, invento, algoritmo,
                            conocimiento e idea, y demás información comercial, técnica y financiera que obtuviese de la otra parte es propiedad
                            confidencial de la parte que la revela ("Información Confidencial" de la parte reveladora). Excepto lo estipulado
                            expresa y tácitamente en esta Sección, la parte receptora guardará secreto y no usará, ni divulgará ninguna
                            Información Confidencial de la parte reveladora y, de igual manera, informará a sus empleados, por escrito, en este
                            sentido. Tras la terminación de este Contrato, o a solicitud de la parte reveladora, la parte receptora devolverá
                            a la parte reveladora, o destruirá (y suministrará prueba de ello) toda la Información Confidencial propiedad de la
                            parte reveladora, todos los documentos y medios que contengan tal Información Confidencial y  todas las copias o
                            extractos de la misma. La información no será considerada “Información Confidencial” a los fines de la presente
                            Sección cuando: (1) es o ya había sido de dominio público, sin restricción alguna, por causa ajena a la parte
                            receptora o a sus empleados o agentes; o (2) hubiera sido recibida, sin restricción alguna, de una tercera parte
                            que la poseyera legalmente y que tuviera autoridad legal para divulgarla; o (3) la poseyera legítimamente, sin
                            restricción alguna, antes de su divulgación por la otra parte; o (4) hubiera sido desarrollada independientemente
                            por empleados o consultores de la parte receptora sin tener acceso a dicha Información Confidencial; o (5) su
                            divulgación hubiera sido requerida por orden de los tribunales de justicia competentes.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA CUARTA. <u>NO EXISTENCIA DE RELACIÓN LABORAL.</u> No se considerará que este Contrato, establezca relación
                            laboral alguna entre “LAS PARTES”, ni entre sus empleados y subcontratistas, quienes actuarán como partes
                            independientes. Este Contrato no genera relación laboral alguna entre las partes y el personal empleado directa o
                            indirectamente por alguna de ellas, por lo que cada parte cumplirá con sus obligaciones como patrón o subcontratista
                            de acuerdo a lo establecido en las disposiciones locales en materia laboral, fiscal y de seguridad social. Cada
                            parte deberá mantener indemnizar y sacar en paz y a salvo a la otra contra cualquier reclamación que puedan presentar
                            sus empleados o subcontratistas, en relación con las actividades convenidas en el presente Contrato. Cada parte
                            asume aquí responsabilidad por toda reclamación laboral u otros trámites legales o administrativos, incluyendo toda
                            reclamación por lesión ocupacional, que interpongan contra una parte los empleados o cualesquiera terceros designados
                            por una de ellas para prestarle servicios, por lo que la parte empleadora será plenamente responsable de pagar por
                            los fallos, indemnidades, sanciones, honorarios de abogados y peritos, costas legales y demás cargos resultantes de
                            cualquier demanda laboral presentada por ellos en contra de la otra parte.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA QUINTA. <u>UNIDAD DEL PRESENTE CONTRATO.</u> Este Contrato y sus anexos constituyen la totalidad de los
                            acuerdos entre “LAS PARTES” y reemplazan a cualquier otro acuerdo entre las partes, oral o escrito, anterior al
                            presente Contrato.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA SEXTA. <u>REEMBOLSO PARCIAL.</u> En ningún caso “EL LICENCIATARIO” podrá solicitar a “EL PROVEEDOR” el
                            reembolso total de las cantidades pagadas a través de la página <a href="http://www.padcompliance.mx">
                            www.padcompliance.mx</a>. Sin embargo, si “EL LICENCIATARIO” desea obtener un reembolso y lo hace dentro de los
                            primeros 5 días de la fecha en que haya adquirido “EL SOFTWARE”, “EL PROVEEDOR” podrá devolverle hasta el 50% del
                            total que hubiese pagado. Fuera de los casos anteriores, “EL PROVEEDOR” no estará obligado a reembolsar ninguna
                            cantidad a “EL LICENCIATARIO”.
                        </p>
                        <p class="text-justify text-desc-contact">
                            En caso de que “EL PROVEEDOR” por cualquier causa se vea imposibilitado para proporcionar a “EL LICENCIATARIO”
                            el libre uso de “EL SOFTWARE”, devolverá el 100% de lo que “EL LICENCIATARIO” hubiese pagado.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA SÉPTIMA. <u>PROPIEDAD INTELECTUAL.</u> Todos los contenidos del Sitio Web <a href="http://www.padcompliance.mx">
                            www.padcompliance.mx</a> incluyendo a título enunciativo pero no limitativo las marcas, denominaciones, logotipos,
                            imágenes, textos, diseño, y cualquier otro signo distintivo del Sitio Web así como los derechos de autor respecto
                            al programa y desarrollo de “EL SOFTWARE” pertenecen a Privacy Lawyers S. A. S. de C. V. El acceso a dichos
                            contenidos o elementos no otorga a “EL LICENCIATARIO” el derecho de alteración, modificación, explotación o
                            reproducción, distribución, comunicación pública o cualquier otro derecho que corresponda al titular del derecho
                            afectado. “EL LICENCIATARIO” se compromete a no realizar en ningún caso una explotación comercial, directa o
                            indirecta de los mismos. Todo uso no autorizado del Sitio Web <a href="http://www.padcompliance.mx">
                            www.padcompliance.mx</a> dará derecho a “EL PROVEEDOR” para ejercitar las acciones legales que correspondan en la
                            defensa de sus derechos. <b>Del método.</b> “EL PROVEEDOR” ha desarrollado y creado un método digital a través de
                            un programa de computación único para brindar diversas soluciones a los Usuarios en materia de gestión de riesgos
                            y cumplimiento regulatorio, siendo titular de todos los derechos de propiedad intelectual incluidos los derechos
                            patrimoniales y de explotación. <b>De los Módulos.</b> Utilizando nuestro método, ha desarrollado y creado diversos
                            módulos especializados en diversos temas regulatorios para sectores específicos de la industria y del comercio,
                            siendo titular de todos los derechos de propiedad intelectual incluidos los derechos patrimoniales y de explotación.
                            <b>Módulos Adicionales.</b> En un proceso de mejora continua, “EL PROVEEDOR” podrá realizar módulos nuevos de
                            cumplimiento regulatorio dependiendo de las necesidades de nuestros Usuarios por lo que todos los derechos de
                            propiedad intelectual que derive de la realización de esos sistemas informáticos de cumplimiento serán propiedad
                            de “EL PROVEEDOR”.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA OCTAVA. <u>MODIFICACIONES.</u> “LAS PARTES” convienen en que cualquier modificación a lo estipulado en el
                            presente Contrato, se hará de común acuerdo y por escrito entre las partes, por los representantes legales de cada
                            parte debidamente autorizados para ello.
                        </p>
                        <p class="text-justify text-desc-contact">
                            DÉCIMA NOVENA. <u>CESIÓN Y TRANSMISIÓN.</u> “EL LICENCIATARIO” tiene prohibido transmitir o ceder en forma alguna
                            sus derechos y obligaciones derivados del presente Contrato, a no ser que se cuente con el consentimiento previo y
                            por escrito de “EL PROVEEDOR”.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA. <u>IMPUESTOS.</u> “LAS PARTES” acuerdan en que cada una será responsable del cumplimiento de sus respectivas
                            obligaciones fiscales, así como del entero de los impuestos y demás contribuciones causadas por virtud del presente
                            contrato, en los términos de las leyes aplicables en la materia. Por lo tanto, ninguna de las partes será considerada
                            como obligada solidaria respecto de la otra parte en lo que se refiere a dichas obligaciones de carácter fiscal.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA PRIMERA. <u>ENCABEZADOS.</u> Los encabezados que se utilizan en las Cláusulas del presente Contrato, sólo
                            tienen la función única de identificación, por lo que para la interpretación, integración y cumplimiento de los
                            derechos y obligaciones que se derivan de este instrumento, se estará exclusivamente al contenido expreso de cada
                            cláusula.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA SEGUNDA. <u>PARTES INDEPENDIENTES.</u> El objeto de este Contrato no se interpretará como constitución o
                            creación de una agencia, sociedad, alianza o cualquier otra que genere responsabilidad a una Parte por las acciones
                            de la otra. Cada Parte actuará de forma independiente y no como agente, socio, representante o empleado de la otra.
                            En virtud del presente instrumento ninguna Parte tiene autoridad para asumir obligaciones o responsabilidades en
                            nombre de la otra.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA TERCERA. <u>EXCLUSIÓN DE RESPONSABILIDADES.</u> “EL LICENCIATARIO” reconoce y acepta que el hecho de
                            adquirir “EL SOFTWARE” de cualquiera de “LOS MÓDULOS” no lo exime del cumplimiento legal que debe atender de forma
                            particular, en el entendido que “EL SOFTWARE” en cada uno de “LOS MODULOS” está diseñado como una herramienta de
                            guía, orientación y apoyo para facilitar el cumplimiento legal de obligaciones de “EL LICENCIATARIO” sin que ello
                            lo exima del cumplimiento formal de sus obligaciones legales. Asimismo, queda establecido que “EL PROVEEDOR”
                            procurará actualizar permanentemente “LOS MÓDULOS” especializados cada que exista un cambio regulatorio, sin embargo,
                            el hecho de no hacerlo o bien hacerlo a destiempo, tampoco libera a “EL LICENCIATARIO” de dar cabal cumplimiento a
                            la regulación aplicable vigente en tiempo y forma. Por lo anterior, “EL LICENCIATARIO” libera a “EL PROVEEDOR” de
                            cualquier tipo de responsabilidad legal en la cual incurra por incumplimiento de sus obligaciones legales.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA CUARTA. <u>DATOS PERSONALES.</u> Toda la información personal obtenida a través del sitio
                            <a href="http://www.padcompliance.mx">www.padcompliance.mx</a> será tratada por “EL PROVEEDOR” de conformidad a lo
                            establecido al aviso de privacidad incluido en dicho Sitio.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA QUINTA. <u>NOTIFICACIONES.</u> “EL LICENCIATARIO” establece, que para efectos de cualquier notificación
                            en torno a la ejecución del presente contrato, le sea notificado en la cuenta de correo electrónico utilizada y
                            vinculada a su registro en la página <a href="http://www.padcompliance.mx">www.padcompliance.mx</a>.
                        </p>
                        <p class="text-justify text-desc-contact">
                            VIGÉSIMA SEXTA. <u>JURISDICCIÓN Y LEY APLICABLE.</u> El presente contrato se regirá e interpretará de conformidad
                            con las leyes mexicanas aplicables en materia mercantil. Asimismo, convienen en que para el caso de controversia
                            se someterán a la jurisdicción de los Juzgados Federales radicados en la Ciudad de México, en el entendido que cada
                            parte renuncia expresamente a cualquier otro fuero que con motivo de sus domicilios presentes o futuros o por
                            cualquier otro motivo pudiere corresponderles.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script src="jquery.js" type="text/javascript"></script>
<script>
export default {
    data () {
        return {

        }
    },
    methods: {
        comprobar () {
            let element = document.getElementById('terminos');
            // console.log('got in', element.offsetHeight, element.scrollTop,element.scrollHeight)
            if (element.offsetHeight + element.scrollTop >= element.scrollHeight) {
                this.$emit('aceptacion', true)
            }
        },
    }
}
</script>
<style lang="scss" scoped>
.div-style {
  max-width:100%;
  border-color:#ACB4BD;
  border-width:2.1px
}
.container-uno{
  max-height: 350px;
  overflow-y: auto
}
</style>
