<template>
  <div id="terminos">
    <navigation-component :originPage="originPage"></navigation-component>
  <!-- Page Header -->
    <header class="masthead-terminos">
        <div class="overlay" name="terminos"></div>
        <div class="container">
            <div class="row" name="term">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h2 name="term" class="term-title">Terminos y Condiciones de Uso</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <section id="terminos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="font-weight-bold text-justify term-sub">
                         TÉRMINOS Y CONDICIONES
                    </p>
                    <div class="text-desc-contact">
                        <p class="text-justify">
                            Los presentes términos y condiciones establecen las disposiciones a las que se sujetarán todas aquellas personas
                            físicas o morales que naveguen y transaccionen a través del presente Sitio <a href="www.padcompliance.mx">
                            www.padcompliance.mx</a>, en lo subsecuente “Sitio / El Sitio”, indistintamente, considerando los principios de neutralidad
                            tecnológica, autonomía de la voluntad, compatibilidad internacional y equivalencia funcional de los mensajes de datos,
                            contemplados en el artículo 89 del Código de Comercio. Tratándose de personas morales que adquieran bienes, productos
                            o servicios para integrarlos en procesos de producción o de servicios a terceros, sólo podrán ejercer las acciones a
                            ejercer las acciones a que se refieren los referidos preceptos cuando estén acreditadas como microempresas o
                            microindustrias en términos de la Ley para el Desarrollo de la Competitividad de la Micro, Pequeña y Mediana
                            Empresa y de la Ley Federal para el Fomento de la Microindustria y la Actividad Artesanal, respectivamente y
                            conforme a los requisitos que se establezcan en el Reglamento de la Ley Federal de Protección al Consumidor.
                            Lo anterior en términos de lo dispuesto en el artículo 2, fracción I segundo párrafo de la Ley Federal de Protección
                            al Consumidor.
                        </p>
                    </div>

                    <p class="font-weight-bold text-justify term-sec">
                        1. PROVEEDOR DE LOS PRODUCTOS Y SERVICIOS
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm" >
                        Privacy Lawyers S. A. S. de C. V., en adelante para todos los efectos legales (“PAD”) con domicilio en la calle Concepción
                        Méndez #49, Colonia Atenor Sala, Alcaldía Benito Juárez, CDMX, y correo de contacto: <a href="mailto:contacto@pad.com.mx">
                        contacto@pad.com.mx</a>.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        2. NAVEGACIÓN EN EL SITIO
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        El usuario está de acuerdo que la utilización del sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> se realiza
                        bajo su propio riesgo y que los servicios y productos que ahí se prestan y ofrecen se prevén sobre una base «tal cual» y
                        «según sean disponibles». PAD no garantiza que la página señalada satisfaga los requerimientos del Usuario o que los servicios
                        que en ella se ofrecen no sufran interrupciones, sean seguros o estén exentos de errores. PAD no garantiza o avala en ninguna
                        forma la veracidad, precisión, legalidad, moralidad o ninguna otra característica del contenido del material que se publique
                        en el sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a>.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        PAD se libera de cualquier responsabilidad y condiciones, tanto expresas como implícitas, en relación con los servicios e
                        información contenida o disponible en o a través de esta página web; incluyendo, sin limitación alguna:
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        a)La disponibilidad de uso del sitio <a href="www.padcompliance.mx">www.padcompliance.mx</a>.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        b) La ausencia de virus, errores, desactivadores o cualquier otro material contaminante o con funciones destructivas en la información
                        o programas disponibles en o a través de esta página o en general cualquier falla en dicho sitio.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        c) No obstante lo anterior, la PAD o sus proveedores podrán actualizar el contenido de la página constantemente, por lo que se solicita
                        al usuario tomar en cuenta que algunas informaciones publicitadas o contenidas en o a través de este sitio web pueden haber quedado obsoletas
                        y/o contener imprecisiones o errores tipográficos u ortográficos.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        El Usuario y PAD están de acuerdo en que la utilización del sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a>
                        se sujetará a las siguientes reglas:
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        2.1. Información contenida en el sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a>. El Usuario reconoce y acepta
                        que la información publicada o contenida en dicho sitio será claramente identificada de forma tal que se reconozca que la misma
                        proviene y ha sido generada por la PAD o por sus proveedores.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        2.2. No obstante, la información, conceptos y opiniones publicadas en dicho sitio no necesariamente reflejan la posición de PAD, ni de sus empleados,
                        oficiales, directores, accionistas, licenciatarios y concesionarios (en lo sucesivo los «afiliados»). Por esta razón, PAD no se hace responsable por
                        ninguna de las informaciones, opiniones y conceptos que se emitan en la página web referida. En este caso, se recomienda al usuario consultar con un
                        especialista y/o profesional en la materia. Asimismo, PAD no se hace responsable de la información contenida en la página de Internet, incluidas las
                        subpáginas, en el entendido de que el uso y seguimiento de la misma es bajo riesgo y responsabilidad del usuario.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        2.3. PAD se reserva el derecho de bloquear el acceso o remover en forma parcial o total toda información, comunicación o material que a su exclusivo juicio
                        pueda resultar: i) abusivo, difamatorio u obsceno; ii) fraudulento, artificioso o engañoso; iii) violatorio de derechos de autor, marcas, confidencialidad,
                        secretos industriales o cualquier derecho de propiedad intelectual de un tercero; iv) ofensivo o; v) que de cualquier forma contravenga lo establecido en este
                        convenio. Si el Usuario desea obtener mayor información de un tema en específico proveído por PAD o sus proveedores deberá consultarlo directamente con cada
                        uno de ellos, según corresponda, y/o con un especialista en la materia. 2.4. El usuario reconoce que PAD no controla o censura previamente el contenido disponible
                        en la página de Internet. Por tal motivo, PAD no asume ninguna responsabilidad por el contenido provisto a dicha página por proveedores independientes o ajenos
                        a PAD y no tiene el control editorial sobre el contenido, información y/o material generado y/o provisto por terceros. Todas las opiniones, consejos, declaraciones,
                        servicios, ofertas u otras informaciones o contenidos expresados o puestos a disposición del público por terceros, pertenecen a su respectivo autor y PAD no asume
                        responsabilidad alguna frente a ello. De la misma forma, PAD no garantiza la exactitud, veracidad, amplitud y/o utilidad de cualquier contenido provisto por tales
                        terceros. Adicionalmente, PAD no es responsable ni garantiza la exactitud, exhaustividad, veracidad y/o confiabilidad de cualquier opinión, información, consejo
                        o declaración expresados por PAD a través de su página de Internet y bajo ninguna circunstancia PAD será responsable de cualquier daño y/o perjuicio, directo o
                        indirecto, causado en virtud de la confianza que el Usuario deposite en información obtenida a través de su sitio Web. PAD se reserva el derecho de suprimir o
                        modificar el contenido de esta página que, a exclusivo juicio de PAD, no cumpla con sus estándares o que pudiera resultar contrario al ordenamiento jurídico
                        vigente y, por consiguiente, no será responsable por cualquier falla o tardanza que se genere al eliminar tal material.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        3. LICENCIA DE USO
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        El Usuario, al ingresar al presente Sitio, PAD le otorga y concede el derecho no exclusivo, revocable y no transferible de ver y utilizar el sitio Web
                        <a href="www.padcompliance.mx">www.padcompliance.mx</a> de conformidad con los presentes TÉRMINOS Y CONDICIONES DE USO que aquí se estipulan. Para los efectos de
                        los presentes términos y condiciones, las partes acuerdan que por «Usuario» se entenderá a cualquier persona de cualquier naturaleza que ingrese al sitio
                        Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> y/o a cualquiera de las subpáginas que despliegan su contenido y/o a la persona de cualquier naturaleza
                        que se dé de alta y/o use cualquiera de los servicios que se ofrecen a través de dicha página.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        El Usuario sólo podrá imprimir y/o copiar cualquier información contenida o publicada en el sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a>
                        exclusivamente para uso personal, queda terminantemente prohibido el uso comercial de dicha información. En caso de ser persona moral se sujetará a lo dispuesto por
                        el artículo 148, fracción IV de la Ley Federal del Derecho de Autor. La reimpresión, publicación, distribución, asignación, sublicencia, venta, reproducción electrónica
                        o por otro medio, parcial o total, de cualquier información, documento o gráfico que aparezca en el Sitio para cualquier uso distinto al personal no comercial le está
                        expresamente prohibido al Usuario, a menos de que cuente con la autorización previa y por escrito de PAD.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        El uso del sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> se rige por las normas establecidas en los presentes términos y condiciones de uso,
                        navegación y en su caso compra. La utilización del mismo, implica que Usted acepta dichos términos y condiciones. Cualquier duda al respecto, le pedimos envíe
                        un correo electrónico a la siguiente cuenta: <a href="mailto:contacto@padcompliance.mx">contacto@padcompliance.mx</a>.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        4. DERECHOS DE PROPIEDAD INTELECTUAL
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Todos los contenidos del Sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> incluyendo a título enunciativo pero no limitativo las marcas, denominaciones,
                        logotipos, imágenes, textos, diseño, y cualquier otro signo distintivo del Sitio Web pertenecen a Privacy Lawyers S. A. S. de C. V. El acceso a dichos contenidos o
                        elementos no otorga al Usuario el derecho de alteración, modificación, explotación o reproducción, distribución, comunicación pública o cualquier otro derecho que
                        corresponda al titular del derecho afectado. El Usuario se compromete a no realizar en ningún caso una explotación comercial, directa o indirecta de los mismos. Todo
                        uso no autorizado del Sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> dará derecho a PAD para ejercitar las acciones legales que correspondan en la
                        defensa de sus derechos.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Del método. </b>PAD ha desarrollado y creado un método digital a través de un programa de computación único para brindar diversas soluciones a los Usuarios
                        en materia de gestión de riesgos y cumplimiento regulatorio, siendo titular de todos los derechos de propiedad intelectual incluidos los derechos patrimoniales y
                        de explotación. En ese sentido, el Usuario se obliga a cumplir con lo establecido por la Ley de Propiedad Industrial y Ley Federal de Derecho de Autor.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>De los Módulos. </b>PAD, utilizando el método PAD, ha desarrollado y creado diversos módulos especializados en diversos temas regulatorios para sectores
                        específicos de la industria y del comercio, siendo titular de todos los derechos de propiedad intelectual incluidos los derechos patrimoniales y de explotación.
                        En ese sentido, el Usuario se obliga a cumplir con lo establecido por la Ley de Propiedad Industrial y Ley Federal de Derecho de Autor.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Módulos Adicionales. </b>PAD en un proceso de mejora continua podrá realizar módulos nuevos dependiendo de las necesidades de nuestros Usuarios, mismos que
                        pondrá a disposición de los Usuarios previa solicitud por parte de los mismos, siendo titular de todos los derechos de propiedad intelectual incluidos los derechos
                        patrimoniales y de explotación. En ese sentido, el Usuario se obliga a cumplir con lo establecido por la Ley de Propiedad Industrial y Ley Federal de Derecho de
                        Autor.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        5. POLITICAS DE PRIVACIDAD
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Confidencialidad.</b>Toda la Información agregada por parte de los Usuarios por el uso del Sitio, será tratada de manera confidencial, además de ser protegida
                        contra de cualquier daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Datos Personales. </b>La información personal agregada por los Usuarios será tratada para los fines establecidos en el presente convenio y lo establecido
                        en nuestro <b-link class="mb-10 text-footer text-link-av" name="aviso" :to="{path: '/avisoPrivacidad'}"> aviso de privacidad integral </b-link>  respetando los
                        principios señalados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Obtención de Información Personal. </b>El Usuario reconoce y acepta que PAD no obtiene  Información Personal automáticamente, sino que requiere que el Usuario
                        se la proporcione en forma directa a través del Sitio y que previo a recabar su información se le otorga el aviso de privacidad integral en el cual se le indica
                        el tratamiento que tendrán sus datos personales y el ejercicio de sus derechos de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de
                        los Particulares.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Veracidad de la Información. </b>Queda establecido que es decisión del Usuario, otorgar la información a PAD. Por lo anterior, el Usuario es responsable de la
                        veracidad y confiabilidad sobre dicha información. En caso de que el Usuario decida enviar Información Personal a través de los medios dispuestos para tal efecto,
                        para  realizar alguna transacción electrónica en la presente página, el Usuario autoriza expresamente a PAD para que trate dicha información, de conformidad a lo
                        señalado por los artículos 76 bis y 76 bis 1 de la Ley Federal de Protección al Consumidor.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Aceptación para fines publicitarios. </b>Para efectos de lo dispuesto en los artículos 16 y 17 de la Ley Federal de Protección al Consumidor, el Usuario otorga
                        su consentimiento expreso y aceptación para recibir información con carácter o fines mercadotécnicos o publicitarios. Del mismo modo, el Usuario faculta a PAD, de
                        la forma más amplia que legalmente proceda, para utilizar la Información Personal para: (i) resolver controversias o disputas relacionadas con el Sitio y violaciones
                        al presente Convenio: (ii) para posibilitar a PAD que opere correctamente; y (iii) en los casos que la ley así lo requiera. En el caso que el Usuario se incorporare
                        a los registros de no contactación para fines mercadotécnicos y publicitarios, dejará de ser contactado para tales fines.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Información estadística. </b>PAD podrá utilizar información para fines estadísticos e históricos, para adaptar mejor el contenido del Sitio a las necesidades de
                        los Usuarios; con el objeto de prevenirlos sobre los actos ilícitos que se cometen en los medios electrónicos; o por cualquier otro motivo, sin que ello implique
                        algún tratamiento ilegal de datos personales.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Cambios en la política del Sitio referente a privacidad. </b>Cualquier cambio a nuestra política de privacidad para el Sitio, anunciaremos aquí dichos cambios,
                        de manera que el Usuario siempre pueda saber qué información recogemos, y con qué fines se utiliza.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Información para la contratación de servicios. </b>Para realizar su adquisición de servicios en línea o acceder a determinados servicios, deberá registrarse
                        y generar una contraseña segura, realizar el pago correspondiente y aceptar el contrato de licencia y servicios previo a su compra, lo que le permitirá acceder a
                        todas aquellas zonas que requieran una identificación y autenticación previa, y obtener su consentimiento expreso manifestando su voluntad en términos de lo establecido
                        por los artículos 1803 y 1834 bis del Código Civil Federal; artículos 80, 81, 89, Titulo II y demás aplicables del Código de Comercio y el artículo 109 de la Ley
                        Federal del Derecho de Autor.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Seguridad del Sitio.  </b>Para efectos de las transacciones comerciales por la contratación de servicios de paga, son realizadas a través de terceros quienes
                        poseen los más estrictos controles de seguridad en un entorno de servidor seguro bajo protocolo SSL (Secure Socket Layer) y todas las comunicaciones se transmiten
                        encriptadas, en todo caso el usuario deberá apegarse al númeral 6 de los presentes términos y condiciones.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Para efectos de validación y seguridad de la operación, PAD podrá solicitar en cualquier momento al Usuario, los documentos que avalen la autenticidad de su
                        identidad e información.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        6. POLÍTICA DE ENLACES
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        En este Sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> se podrían ofrecen enlaces a páginas Web de terceros mediante botones, links, banners, etc. La utilización de los citados enlaces
                        es de su exclusiva responsabilidad ya que PAD no se responsabiliza de los contenidos de los sitios Web enlazados. Caso que cualquier empresa o particular deseen
                        establecer enlaces con destino al Sitio Web deberán respetar las siguientes estipulaciones: El enlace solamente se podrá dirigir a la página principal del Sitio Web,
                        y abarcar toda la extensión de la pantalla de la página principal, no pudiendo incluir dicho enlace como parte de otra Web o dentro de uno de sus “frames” o crear un
                        “browser” sobre cualquier página del Sitio Web. La página que realiza el enlace no podrá declarar que el mismo está autorizado por PAD ni incluir la marca, denominación,
                        nombre comercial, rótulo, logotipo, slogan o cualquier otro tipo de elemento identificativo de PAD. PAD excluye expresamente que se puedan realizar enlaces desde aquellas
                        páginas Web que contengan materiales, información o contenidos ilícitos, ilegales, degradantes, obscenos, y en general, que contravengan la moral, el orden público o las
                        normas sociales generalmente aceptadas.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        7. LIMITACIÓN DE RESPONSABILIDADES
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Bajo ninguna circunstancia PAD será responsable ante terceros por cualquier daño directo o indirecto, económico o no resultado del uso del Sitio Web y cualquiera
                        de sus productos o servicios de paga. PAD no garantiza ni se hace responsable de la ausencia de virus y/o demás componentes dañinos en el Sitio Web o en el servidor
                        que lo suministra, los datos o perjuicios que cause, así mismo o a un tercero, cualquier persona que infringiera las condiciones, normas e instrucciones que PAD
                        establece en el Sitio Web o a través de la vulneración de los sistemas de seguridad. PAD declara que ha adoptado todas las medidas necesarias, dentro de sus
                        posibilidades y del estado de la tecnología, para garantizar el funcionamiento del Sitio Web y evitar la existencia y transmisión de virus y demás componentes dañinos
                        a los Usuarios. PAD se reserva el derecho a emprender las acciones legales que estime oportunas contra las personas que utilicen el Sitio Web de manera distinta a
                        la estipulada o que pudiera dañar la imagen de PAD o de terceros y a exigirles una indemnización por los daños y perjuicios que se deriven de reclamaciones, acciones
                        o demandas de terceros (incluyendo sin limitación honorarios de abogados) como consecuencia de las acciones anteriores u otras que se pudieran producir.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        8. CONTRATACIÓN DE PRODUCTOS, SERVICIOS Y PAGOS
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Los servicios ofrecidos a través del Sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> podrán ser contratados directamente a través del mismo,
                        y en cada caso, durante el proceso de compra, se especificarán las características, condiciones, precios y especificaciones de los servicios y productos a adquirir.
                        Para cualquier duda al respecto puede contactar al área comercial de PAD para que aclare cualquiera de sus dudas al correo: <a href="mailto:contacto@padcompliance.mx">
                        contacto@padcompliance.mx</a>. Hasta el máximo permitido por las leyes aplicables, PAD no será responsable, en ningún caso, por cualquier daño directo, especial,
                        incidental, indirecto, o consecuencia que en cualquier forma se deriven o se relacionen con:
                    </p>
                    <ul class="text-desc-contact">
                        <li>El uso o ejecución del Sitio. </li>
                        <li>El retraso o falta de disponibilidad del Sitio.</li>
                        <li>La proveeduría de o falta de proveeduría de servicios de cualesquier información o gráficos contenidos o publicados en o a través del Sitio.</li>
                        <li>De la actualización o falta de actualización de la información en el Sitio.</li>
                        <li>Que la información haya sido alterada o modificada, en todo o en parte, luego de haber sido incluida en el Sitio. </li>
                        <li>Cualquier otro aspecto o característica de la información contenida o publicada en el Sitio o a través de las ligas que eventualmente se incluyan en el mismo.</li>
                    </ul>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Todos los supuestos anteriores serán vigentes, aún en los casos en que se le hubiere notificado o avisado al Usuario acerca de la posibilidad de que se ocasionaran
                        dichos daños.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        El Usuario acepta que los productos y servicios que pudiese adquirir a través del Sitio, son únicamente una guía de referencia que le permitirán identificar, evaluar,
                        diagnosticar, planear y brindarle orientación sobre el cumplimiento regulatorio de determinada ley o leyes de acuerdo a la descripción individual del producto o
                        servicio, de conformidad a la metodología creada por PAD. Por lo anterior, los productos y servicios que en su caso adquiera en el Sitio el Usuario se regirán por
                        el contrato correspondiente, aceptando el Usuario que únicamente son solo una referencia, por lo que PAD no asume ni podrá ser responsable de ningún tipo de sanción,
                        multa, litigio o incumplimiento legal del Usuario.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Asimismo, el Usuario acepta que el correcto funcionamiento de los productos o servicios adquiridos depende de diversos factores, incluidos aquellos requerimientos
                        técnicos necesarios para su adecuado funcionamiento, incluso y debido a su complejidad, también se podrían presentar  algunos defectos funcionales o necesitar
                        adecuaciones para su estabilidad y buen funcionamiento en el ambiente de red en el que el usuario lo ejecute. En ese sentido, el usuario reconoce y está de acuerdo
                        en que la garantía por parte de PAD será específicamente para que dichos productos y servicios sean revisados para corregir errores de funcionalidad enviados
                        oportunamente al correo soportetecnico@padcompliance.mx mismos que serán atendidos si la naturaleza del problema lo permite dentro de los 5 días siguientes a
                        recibidos, y en todo caso PAD informará por dicha vía el tiempo de corrección adicional.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        La garantía expresada en el párrafo anterior, es la única que al efecto se otorga sobre los productos y servicios  y solo durante el periodo de vigencia del contrato
                        de licencia y servicios suscrito por el usuario. Si dentro de dicho periodo no hay reporte o inconformidad reportada a través del mecanismo señalado en el párrafo
                        anterior, se entenderá que los productos y servicios adquiridos funcionan correctamente. PAD se reserva el derecho de realizar todas las acciones que estén a su
                        alcance para corregir cualquier inconformidad, disparidad o error en el funcionamiento de los productos y servicios.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        PAD proporcionará durante el tiempo de duración de la Licencia suscrita por el Usuario, el mantenimiento a los productos y servicios; incluyendo las actualizaciones
                        que en su caso sean indispensables por cambios regulatorios o bien por cualquier otra mejora necesaria para su mejor funcionamiento.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Los productos y servicios, así como cualquier base de datos generados por su uso (Base de Datos) están almacenados en los Data Center/Servidores Cloud de Heroku
                        y Amazon S3 estándar quienes proporcionan una alta disponibilidad y tiempo de respuesta. El acceso  a la web así como la transacción de datos entre el usuario y el
                        Servidor Virtual se realiza mediante acceso seguro encriptado SSL. PAD se reserva el derecho de cambiar de proveedor de servidor(es) virtual(es) sin necesidad de
                        comunicarlo a el usuario, asegurando que el nuevo Data Center/Servidores Cloud ofrezca iguales o mejores servicios y prestaciones que el anterior.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Del pago <b>Uso de tarjetas robadas. </b>PAD no se hace responsable por la utilización de tarjetas bancarias o emitidas por entidades financieras para la adquisición de
                        bienes y/o servicios que hayan sido reportadas como robadas, una vez que la transacción ha sido autorizada por el banco emisor. PAD y sus empresas filiales y
                        subsidiarias, no tienen posibilidad de negar la venta cuando los datos del Usuario coinciden con nuestros registros. La clave de acceso, contraseña y número de
                        tarjeta quedan completamente bajo responsabilidad del propietario. No se hará ninguna bonificación por compra fraudulenta.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Menores de edad. </b>Para ingresar y hacer uso del Sitio y para la obtención de licencias sobre los servicios relacionados con los módulos se debe ser mayor de
                        edad. La plena responsabilidad en la determinación de los contenidos y Servicios a los que acceden los menores de edad será responsabilidad directa de los mayores
                        de edad a cuyo cargo se encuentran.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        PAD, contrata los servicios de pago en línea a través de terceros. En ese sentido, PAD no responderá, sobre cargos, costos, cobros, y/o cualquier otro cargo que se
                        hubiese realizado por conducto de los terceros contratados.
                      </p>
                    <p class="font-weight-bold text-justify term-sec" >
                        9. MODIFICACIONES AL SITIO
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        PAD podrá en cualquier momento y cuando lo considere conveniente, sin necesidad de avisar al usuario, realizar correcciones, adiciones, mejoras o modificaciones al
                        contenido, presentación, información, servicios, áreas, bases de datos y demás elementos de dicho sitio, sin que ello de lugar ni derecho a ninguna reclamación o indemnización,
                        ni que esto implique reconocimiento de responsabilidad alguna a favor del usuario.
                    </p>
                    <p class="font-weight-bold text-justify term-sec" >
                        10. MODIFICACIONES A LOS TÉRMINOS Y CONDICIONES
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 1cm">
                        PAD se reserva el derecho de modificar los TÉRMINOS Y CONDICIONES DE USO de este convenio en cualquier momento, siendo efectivas dichas modificaciones de forma inmediata
                        por medio de:
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 2cm">
                        a)La publicación en el sitio Web <a href="www.padcompliance.mx">www.padcompliance.mx</a> de los términos y condiciones modificados.
                    </p>
                    <p class="text-justify text-desc-contact"  style="text-indent: 2cm">
                        b) La notificación al Usuario sobre dichas modificaciones.
                    </p>
                    <p class="font-weight-bold text-justify term-sec" >
                        11. POLÍTICAS DE FACTURACIÓN.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Facturación en línea. PAD ofrece el servicio de Facturación por Internet respecto de todas las ventas de servicios realizadas a través del Sitio. Para la emisión
                        de la Factura el Usuario deberá proporcionar cierta información y datos específicos tales como nombre, domicilio y RFC al que deberá de emitirse el documento de
                        referencia.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Requisitos. Para cualquier emisión de factura, el Usuario deberá haber cubierto el total del pago correspondiente que se haya estipulado y contar con la información
                        del mismo y el número de confirmación de la(s) venta(s) realizada(s) en el Sitio. En caso de duda deberá en su caso, enviar un correo a la siguiente dirección
                        <a href="mailto:contacto@padcompliance.mx">contacto@padcompliance.mx</a>.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Datos de facturación. El Usuario acepta que la información y datos fiscales proporcionados para la emisión de la Factura Electrónica es correcta y completa, por tal
                        motivo, se obliga a responder frente a PAD sobre dicha información y/o el mal uso que se le llegue a dar a la misma, obligándose a conservar el documento original
                        correspondiente respecto al número de confirmación y el pago de la compra para futuras aclaraciones.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        12. Términos adicionales.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Soporte técnico.  </b>El Usuario  que adquiera los servicios de pago de los módulos contará con los servicios de soporte en todo momento para atender cualquier
                        situación que se presente en el Sitio.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Funcionamiento de los módulos.  </b>Para el adecuado funcionamiento de los módulos, el Usuario deberá cargar la información solicitada en base al método
                        especializado seleccionado, sin que PAD pueda garantizar o avalar en ninguna forma la veracidad, precisión, legalidad, moralidad o ninguna otra característica
                        del contenido del material que sea proporcionado por el Usuario.
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        <b>Mantenimiento del Sitio.  </b>PAD mantendrá el Sitio libre de errores y fallas, sin embargo, por diversas causas podría sufrir algún tipo de fallas mismas que
                        resolverá lo más pronto posible una vez identificadas. Para ello podrá suspender temporalmente el acceso y uso al Sitio para mantenerlo actualizado, sin que por
                        ello deba pedir autorización del Usuario o deba compensarlo.
                    </p>
                    <p class="font-weight-bold text-justify term-sec">
                        13. JURISDICCIÓN Y LEYES APLICABLES
                    </p>
                    <p class="text-justify text-desc-contact" style="text-indent: 1cm">
                        Los Términos y Condiciones declarados en este sitio Web se regirán por la legislación mexicana. PAD y el Usuario, con renuncia expresa al fuero que pudiera
                        corresponderles, se someten a la Jurisdicción de los Juzgados y Tribunales de la Cuidad de México. Última actualización: 15 de Noviembre 2019.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer-component></footer-component>
  </div>
</template>

<script>
import Navigation from './general/Navigation.vue'
import Footer from './general/Footer.vue'
import Vue from 'vue'
import Meta from 'vue-meta'

Vue.use(Meta)

export default {
  name: 'Terminos',
  components: {
    'navigation-component': Navigation,
    'footer-component': Footer
  },
  data: function () {
    return {
      originPage: this.$options.name
    }
  },
  metaInfo: {
    title: 'PAD COMPLIANCE',
    titleTemplate: '%s ← Términos y Condiciones',
    // Define meta tags here.
    meta: [
      {charset: 'utf-8'},
      {name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'},
      {httpequiv: 'Content-Type', content: 'text/html'},
      {name: 'description', content: 'Términos y condiciones de uso'},
      {name: 'keywords', content: 'PAD, términos, condiciones, delitos, despacho, consultoria, diagnóstico, capacitación, derecho, gestión'},
      // google markup
      {itemprop: 'name', content: 'PAD COMPLIANCE'},
      {itemprop: 'description', content: 'Términos y condiciones de uso'},
      {itemprop: 'keywords', content: 'PAD, términos, condiciones, delitos, despacho, consultoria, diagnóstico, capacitación, derecho, gestión'}
    ]
  }
}
</script>

<style lang="scss">
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../assets/styles/creative.scss";
.text-link-av[name="aviso"]{
    text-decoration:none;
    color:#ff921e;
    font-size:15px;
    &:hover{
        color:#0f5dac;
        text-decoration:none;
    }
}
header.masyhead-terminos {
    background:transparent!important;
}
header .masthead-terminos .overlay[name="terminos"]{
    height:50%;
}
h2[name="term"]{
    padding-top:4rem;
}
// .row[name="term"]{
//     padding-top:4rem!important;
// }
@media screen and (max-width:768px){
    .term-title[name="term"]{
        font-size: 3rem;
        position: absolute;
        top: 0rem;
    }
}
@media screen and (max-width:480px){
    .term-title[name="term"]{
        font-size: 2rem;
        position: absolute;
        top: 3rem;
    }
}
</style>
