@mixin imagePlaceholder() {
	background-image: linear-gradient(
		to bottom,
		rgba(#162229, .75),
		rgba(#064362, .75),
		rgba(#6f868c, .75),
		rgba(#673c28, .75)
	);
}

@mixin bgCover($_pos:center) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: $_pos;
}
@mixin bgContain($_pos:center,$pos:top) {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: $pos;
}