<template>
  <div>
    <transition name="post">
      <article v-if="allReady" class="post pl-5">
        <div class="row mb-5">
          <div class="col-sm-8">
            <figure
              class="preview__figure"
              :class="figureClass"
              style="padding-bottom:1rem;"
              :style="getBgImg(dataPost.imageurl)"
            ></figure>
          </div>
        </div>
        <header class="post__header">
          <h2 class="post__title">{{ dataPost.title }}</h2>

          <h3 class="post__meta">
            Por
            <router-link
              class="post__author"
              v-if="dataPost.type == 'blog'"
              :to="`/blog/by/${kebabify(dataPost.meta.author)}`"
              >{{ dataPost.meta.author }}</router-link
            >
            <router-link
              v-else
              class="post__author"
              :to="`/news/by/${kebabify(dataPost.meta.author)}`"
              >{{ dataPost.meta.author }}</router-link
            >
            <span></span>
            <time>{{ prettyDate(dataPost.createdAt) }}</time>
          </h3>

          <blockquote class="post__subtitle">
            {{ dataPost.meta.description }}
          </blockquote>
        </header>

        <section class="post__body rte" v-html="dataPost.content"></section>

        <footer v-if="dataPost.type != 'news'" class="post__footer">
          <vue-disqus
            v-if="commentsReady"
            shortname="pad-compliance-mx"
            :key="post"
            :identifier="post"
            :url="`${URL_ENDPOINT}/blog/read/${post}`"
          />
        </footer>
        <social-sharing
            class="social-sqr"
            :url="`${URL_ENDPOINT}/blog/read/${post}`"
            :title="dataPost.title"
            :description="dataPost.meta.description"
            :quote="dataPost.meta.description"
            twitter-user="padcompliance"
            inline-template
          >
          <div>
            <network style="background-color: red;" class="social-network" network="email">
              <i class="fa fa-envelope icon-networks m-3"></i>
            </network>
            <network
              class="social-network"
              style="background-color:  #3b5998;"
              network="facebook"
            >
              <i class="fa fa-facebook icon-networks m-3"></i>
            </network>
            <network
              class="social-network"
              style="background-color:  #007bb5;"
              network="linkedin"
            >
              <i class="fa fa-linkedin icon-networks m-3"></i>
            </network>
            <network
              class="social-network"
              style="background-color:  #1da1f2;"
              network="twitter"
            >
              <i class="fa fa-twitter icon-networks m-3"></i>
            </network>
          </div>
        </social-sharing>
      </article>
    </transition>

  </div>
</template>

<script>
import VueDisqus from 'vue-disqus/VueDisqus'
import { kebabify, prettyDate } from '../../helpers'
import blogApi from '@/api/blog/blogs'
import {URL_FRONT_CLIENT} from '../../variableProd'

export default {
  name: 'blog-post',
  resource: 'BlogPost',
  components: { VueDisqus },
  props: { post: String },

  data () {
    return {
      dataPost: {},
      commentsReady: false,
      ready: false
    }
  },

  computed: {
    URL_ENDPOINT () {
      return URL_FRONT_CLIENT
    },
    allReady () {
      return this.ready && this.post
    },
    figureClass () {
      return { 'preview__figure--mobile': this.$device.phone && this.reading }
    }
  },
  watch: {
    post (to, from) {
      if (to === from || !this.post) return
      this.commentsReady = false
      this.retrivePost()
    }
  },

  methods: {
    kebabify,
    prettyDate,
    showComments () {
      // This is injected by prerender-spa-plugin on build time, we don't prerender disqus comments.
      if (
        window.__PRERENDER_INJECTED &&
        window.__PRERENDER_INJECTED.prerendered
      ) {
        return
      }

      setTimeout(() => {
        this.commentsReady = true
      }, 1000)
    },
    getBgImg (src) {
      return { backgroundImage: `url(${src})` }
    },
    retrivePost () {
      blogApi
        .getPost(this.post)
        .then(post => {
          this.dataPost = post.data
          this.showComments()
        })
        .then(() => {
          this.ready = true
        })
        .catch(err => console.error(err))
    }
  },

  mounted () {
    if (!this.post) {
      this.ready = true
      return
    }
    this.retrivePost()
  }
}
</script>
<style lang="scss">
.social-sqr {
  line-height: 3rem;
  position: fixed;
  top: 45%;
  left: 0%;
  z-index: 100;
  & .social-network {
    display: block;
    cursor: pointer;
  }
}
.icon-networks {
  font-size: 17px;
  color: white;
}
@media screen and (min-width: 320px) {
  .post__sep {
    display: inline-block;
    margin: 0 0.5rem;
  }
  .post__sep:before {
    content: "\2014";
  }
}
.post__subtitle {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2.5rem 1.25rem;
}
</style>
