// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  font-weight: 600;
  text-transform: uppercase;
  color:$white;
  padding:10px;
  border: none;
  border-radius: 300px;
  @include sans-serif-font;
}
.btn-price {
  text-transform: uppercase;
  background-color:$default-color;
  border: none;
  border-radius: 12px;
  @include sans-serif-font;
  width: 42%;
  &:hover{
    background-color:$primary-color;
  }
}
.btn-default{
  font-weight: 700;
  font-size:14px;
  color:$white;
  background:$default-color;
  text-transform: uppercase;
  border: none;
  padding:5px;
  border-radius: 20px;
  font-family:$latM;
  transition:all 500ms;
  &:hover{
    background:darken($default-color,20);
    cursor:pointer;
  }
  &:active,&:checked{
    background:$default-color;
    color:$primary-color;
  }
}
.btn-begin{
  font-weight: 900;
  text-decoration: none;
  font-size:14px;
  color:$white;
  background:$default-color;
  text-transform: uppercase;
  border:2px solid $default-color;
  border: none;
  padding:1px;
  width:auto;
  border-radius: 10px;
  font-family:$latM;
  transition:all 500ms;
  &:hover{
    background:transparent;
    color:$default-color;
    cursor:pointer;
  }
  &:active,&:focus{
    background:lighten($default-color,20);
    color:$primary-color;
  }
}
.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64,.5) !important;
  }
}

.dropdown-menu  .dropdown-item.active {
  background-color: $primary-color !important;
  &:hover {
    color: $white !important;
   
  }
}

.nav {
  width: 100%
}

figure {
  margin: 0;
}
