.card[name="main"]{
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: $text-color;
  margin-bottom: 20px;
  position: relative;
  width: 58%;
  left: 20%;
  border: 0 none;
  height: 29rem;
  bottom: 95%;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition: -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
    
    .card-body{
      padding: 15px 15px 10px 15px;
  
      &.table-full-width{
        padding-left: 0;
        padding-right: 0;
      }
    
      .card-title{
        margin-top: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  
    .map{
      border-radius: 4px;
  
      &.map-big{
        height: 400px;
      }
    }
  
    &[data-background-color="orange"]{
      background-color: $primary-color;
  
      .card-header{
        background-color: $primary-color;
      }
  
      .card-footer{
        .stats{
          color: $white;
        }
      }
    }
  
    &[data-background-color="red"]{
      background-color: red;
    }
  
    &[data-background-color="yellow"]{
      background-color: orange;
    }
  
    &[data-background-color="blue"]{
      background-color: $info-color;
    }
  
    &[data-background-color="green"]{
      background-color: green;
    }
  
    .image{
      overflow: hidden;
      height: 200px;
      position: relative;
    }
  
    .avatar{
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 15px;
    }
  
    .numbers {
      font-size: 2em;
    }
  
    .big-title {
      font-size: 12px;
      text-align: center;
      font-weight: 500;
      padding-bottom: 15px;
    }
  
    label{
      font-size: 10px;
      margin-bottom: 5px;
      color: $gray-900;
    }
  
    .card-footer{
      background-color: transparent;
      border: 0;
  
  
      .stats{
        i{
          margin-right: 5px;
          position: relative;
          top: 0px;
          color: $default-color;
        }
      }
  
      
      .btn{
        margin: 30px;
      }
      .btn[name="log"]{
        margin: 0px;
      }
    }
  
    &.card-plain{
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
  
  
      .card-body{
        padding-left: 5px;
        padding-right: 5px;
      }
  
      img{
        border-radius:12px;
      }
    }
    &.card-link{
      &:hover{
        background: rgba(0,0,0,0.1);
        cursor: pointer;
      }
    }
    &.card-overview{
      border-radius:5px;
      &:hover{
        background:rgba(125,68,255,0.2);
        cursor: pointer;
      }
      &:focus{
        background:rgba(125,68,255,0.2);
        
      }
    }
  }
  //// cards para  pagina de precios
.card[name="pricing"]{
  border-radius: 12px;
  -webkit-box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.85);
  background-color: #FFFFFF;
  color: $text-color;
  margin-bottom: 20px;
  padding:2rem;
  position: relative;
  top:2rem;
  width: 350px;
  min-width:00px;
  border: 0 none;
  height: 35rem;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition: -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition:height 500ms; 
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1 s;
  transition: all 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .text-desc-o[name="orange"]{
    color:transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5 s;
    transition: all .5s;
  }
  .text-desc-contact[name="blue"]{
    color:transparent !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5 s;
    transition: all .5s;
  }
  .list-group-item {
    border:none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5 s;
    transition: all .5s;
    &:nth-child(even){
      text-align-last: left;
    }
    &:nth-child(odd){
      text-align-last: right !important;
    }
    }
  .text-d{
    height:50px;
    -moz-height:15px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5 s;
    transition: all .5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sort{
  color:$default-color;
  font-size:1rem;
  transform:rotate(180deg);
  transition: transform 200ms, font-size 200ms;
}
.more:before{
  content:'Más Información';
  font-size:12px;
  transition:content 200ms, font-size 200ms;
}
.yel-sub[name="politic"],.sec-cards[name="90"]{
  color:transparent;
  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5 s;
    transition: all .5s;
}

.color-fa{
  color:#17a2b8;
  transition: color 500ms; 
}
  &:hover{
  }
}
.card[name="aditional"]{
  border-radius: 12px;
  -webkit-box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.85);
  background-color: #FFFFFF;
  color: $text-color;
  margin-bottom: 20px;
  padding:2rem;
  position: relative;
  top:2rem;
  width: 100%;
  min-width:00px;
  border: 0 none;
  height: 11rem;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition: -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
  transition:height 500ms; 
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1 s;
  transition: all 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .btn-help{
    font-size: 2rem;
    color: #ff921e;
    transition: all 300ms;
    cursor:pointer;
  }
}
@media screen and(max-width:839px) and (min-width:580px){
  .card[name="aditional"]{
    height:12rem;
  }
}
@media screen and (max-width:579px) and (min-width:320px){
  .card[name="aditional"]{
    height:25rem;
  }
  .card[name="aditional"] .btn-help[data-v-295382d8] {
       position: relative;
       top: -6rem;
   }
}
@media screen and(max-width:600px){
  .card[name="pricing"]{
    margin-top:5rem;
  }
}
@media screen and(max-width:420px){
  .card[name="pricing"]{
    width: 340px;
  }
}