.contact-section{
    .form-contact {
        textarea,input {
        box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1) !important;
        padding: 1.15rem 2rem;
        height: auto;
        font-family: 'Varela Round';
        font-size: .7rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        min-width: 49.3%;
        }
        input.msg-contact{ 
            min-height: 300px;
        }
    }

    .card {
        border: 0;
        border-bottom: 0.25rem solid $primary;
        h4 {
          font-size: 0.8rem;
          letter-spacing: 0.15rem;
        }
        hr {
          border-color: $primary;
          border-width: 0.25rem;
          width: 3rem;
        }
    }

    .btn {
        box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
        padding: 1.25rem 2rem;
        font-size: 80%;
        text-transform: uppercase;
        letter-spacing: .15rem;
        border: 0;
      }
}