@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.header-section {
  background: $primary-color;
  font-size: 40px;
  padding-top: 4.8rem;
  text-align: center;
  height: 12rem;
  font-family: $latB;
}
.text-gray {
  color: #706f6f;
}
.img-foot-head {
  background-image: url();
}
.font-text {
  font-family: $lat;
}
.text-left {
  text-align: justify !important;
}
.info-color {
  background: #34ace0;
}
.width {
  text-align: center;
}
.text-blue {
  color: $primary-color;
}

.head-contact {
  font-family: $latB;
  font-size: 43px !important;
  color: $primary-color;
}
.sub-head-contact {
  font-family: $latB;
  font-size: 43px;
  color: $primary-color;
}
.text-desc-contact {
  font-family: $lat;
  font-size: 16px;
  color: $text-color !important;
}
.text-desc-contact-b {
  font-family: $lat;
  font-size: 16px;
  color: $text-color !important;
}
.text-desc-contact-l {
  font-family: $latB, -apple-system;
  font-size: 16px;
  color: $gray-500 !important;
}
.just-text {
  text-align: justify;
}
.term-title {
  font-family: $latB;
  font-size: 43px;
  color: $white;
}
.term-sub {
  font-family: $lat;
  font-size: 30.82px;
  color: $primary-color;
  text-align: center !important;
}
.term-sec {
  font-family: $latB;
  font-size: 30.82px !important;
  color: $primary-color;
  text-align: center !important;
}
.term-sig {
  font-family: $latB;
  font-size: 30.82px;
  color: $default-color;
  text-align: center !important;
}
.text-footer {
  color: $white;
  font-family: $latB;
  font-size: 26px;
}
.icon-lupa {
  content: "src/assets/img/iconos/lupa.ico";
}
.card-font-title {
  font-family: $latB;
  font-size: 16px;
  color: $primary-color;
}
.card-body-info {
  font-family: $lat;
  font-size: 12px !important;
  color: $text-color;
}
.icon-color {
  color: $default-color;
}
.left-cord {
  padding-left: 5rem !important;
}
.home-sub {
  font-family: $latB;
  font-size: 30.82px !important;
  color: $primary-color;
  text-align: justify !important;
}
.head-home {
  font-family: $latB;
  font-size: 43px !important;
  color: $primary-color;
}
.color-text {
  color: $text-color;
  font-size: 1rem !important;
}
.title-pay {
  position: relative;
  bottom: 4rem;
  font-size: 2rem;
  color: $white;
  font-family: $latB, -apple-system;
}
.title-pay-o {
  font-size: 2rem;
  color: $primary-color;
  font-family: $latB, -apple-system;
}
.cump {
  position: relative;
  bottom: 4rem;
  text-align: center;
  color: $white;
  font-size: 1rem;
  font-family: $lat, -apple-system;
}
.cump[name="blue"] {
  position: relative;
  bottom: 0;
  text-align: center;
  color: $white;
  font-size: 1rem;
  font-family: $lat, -apple-system;
  .fa-cart-arrow-down {
    position: absolute;
    left: 1rem;
    color: transparent;
    margin-right: 0rem;
    transition: all 300s;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
  }
  &:hover {
    .fa-cart-arrow-down {
      color: $white;
      margin-right: 1rem;
      left: 2rem;
    }
  }
}
.cump[name="market"] {
  position: relative;
  bottom: 2px;
  text-align: center;
  color: $white;
  font-size: 0.7rem;
  width: 70%;
  font-family: $lat, -apple-system;
  .fa-cart-arrow-down {
    position: absolute;
    bottom: 0.85rem;
    left: 1rem;
    color: transparent;
    margin-right: 0rem;
    transition: all 300s;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
  }
  &:hover {
    .fa-cart-arrow-down {
      color: $white;
      margin-right: 1rem;
      left: 2rem;
    }
  }
}
.title-cards {
  font-size: 1.5rem;
  color: $black;
  font-family: $latB, -apple-system;
  margin-top: 1rem;
}
.sub-cards {
  font-size: 1.5rem;
  color: $black;
  font-family: $latB, -apple-system;
}
.blu-cards {
  font-size: 1.2rem;
  color: $primary-color;
  font-family: $latB, -apple-system;
}
.red-sub {
  text-decoration-line: line-through;
  font-size: 1.2rem;
  color: $red;
  font-family: $latB, -apple-system;
}
.red-sub[name="90"] {
  text-decoration-line: line-through;
  font-size: 1rem;
  color: $red;
  font-family: $latB, -apple-system;
}
.text-desc-o {
  font-size: 1.5rem;
  transition: height 500ms;
  color: $default-color;
  font-family: $latB, -apple-system;
}
.yel-sub {
  font-size: 1rem;
  transition: height 500ms;
  color: $default-color;
  font-family: $lat, -apple-system;
}
.yel-sub-o {
  font-size: 1rem;
  transition: height 500ms;
  color: $default-color;
  font-family: $lat, -apple-system;
}
.sec-cards {
  font-size: 1.2rem;
  color: $primary-color;
  font-family: $latB, -apple-system;
}
.red-sec {
  font-size: 1.2rem;
  color: $red;
  font-family: $latB, -apple-system;
}
.table-font {
  text-align: center;
  font-size: 0.7rem;
  font-family: $lat, -apple-system;
}
.text-descrip {
  font-family: $lat;
  font-size: 16px;
  color: $text-color;
}
.text-more {
  font-family: $lat;
  font-size: 16px;
  color: $default-color;
  transition: color 1s, font-size 500ms;
}
.font-table {
  font-size: 0.72rem;
  font-family: $lat, -apple-system;
}
@media screen and (max-width: 1118px) and (min-width: 991px) {
  .title-cards {
    font-size: 1.5rem;
  }
  .text-desc-contact[name="pay"] {
    font-family: $lat;
    font-size: 12px;
  }
  .red-sub {
    font-size: 0.7rem;
  }
  .yel-sub {
    font-size: 0.9rem;
  }
  .sec-cards {
    font-size: 0.7rem;
  }
  .red-sec {
    font-size: 0.7rem;
  }
  .table-font {
    font-size: 0.65rem;
  }
  .cump {
    font-size: 1rem;
  }
  .title-pay {
    font-size: 2rem;
  }
  .text-descrip {
    font-size: 12px;
  }
}

.sub-pay {
  color: $text-color;
  font-size: 1.2rem;
}
@media screen and(max-width:839px) {
  .cump[name="blue"] {
    .fa-cart-arrow-down {
      position: absolute;
      left: 0rem !important;
      color: white !important;
      margin-right: 0rem;
      transition: all 300s;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
    }
  }
}
@media screen and(max-width:839px) {
  .cump[name="market"] {
    .fa-cart-arrow-down {
      bottom: 0.75rem;
    }
    &:hover {
      .fa-cart-arrow-down {
        color: $white;
        margin-right: 1rem;
        left: 1rem;
      }
    }
  }
}
@media screen and(max-width:579px) {
  .cump[name="market"] {
    .fa-cart-arrow-down {
      bottom: 0.85rem;
    }
    &:hover {
      .fa-cart-arrow-down {
        color: $white;
        margin-right: 1rem;
        left: 1rem;
      }
    }
  }
  .text-cov {
    font-size: small;
  }
  .title-cov {
    font-size: large;
  }
}
