// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $default-color;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}
.bg-light{
  background-color:$gray-100;
}
.text-default{
  color:$default-color;
}
.text-faded {
  color: fade-out($white, .3);
}
.normal-text{
  color:$black;
}
section {
  padding: 1rem 0;
}
section[name="register"] {
  padding: 1rem 0;
}
.text-right{
  text-align:right;
}
.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
.my-5{
  background:$default-color;
}
