// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out(#ddd, .9);
  background-color: $white;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-size: 0.8rem;
    //text-transform: uppercase;
    color: $black;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: $black;
    }
  }
  .navbar-brand-logo {
    font-weight: 700;
    font-size: 1.7rem;
    font-style:italic;
    color: $primary-color;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($black, .1);
    }
    & > span {
      color: $black;
      &:focus,
      &:hover {
        color: darken($logo_letter, .1);
      }
    }
  }
  .navbar-nav {
    
    > li.nav-item{
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .6rem;
        font-weight: 900;
        text-transform: uppercase;
        /*color: $black;
        &:hover {
          //color: $black;
        }*/
        &.active {
          color: $white ;
          background-color: $default-color;
          border-radius:10px;
          padding:6px;
          &:hover {
            color:$white
          }
        }
      }
    }
    > div.nav-item  > button{
      font-size: .9rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $white;
      background-color: transparent;
      &:hover {
        color: $primary;
      }
      &.active {
        color: $primary !important;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
    
  }
  .navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item  {
    //color: fade-out($black, .3);
    &:hover {
      color: $white;
    }
    a.dropdown-item:focus:focus{
      color:$white;
    }
  }
  @media (max-width:1200px) { 
    .navbar-brand {
      font-size: 1rem;
    }  
    .navbar-brand-logo {
      font-weight: 700;
      font-size: 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link, 
    .navbar-nav > div.nav-item  > button,
    .navbar-nav > a.btn{
      font-size: .8rem;
    }
  }
 
  @media (min-width: 992px) {
    border-color: $gray-100;
    background-color: $gray-100;
    .navbar-brand {
      color: $black;
      font-size:0.8rem;
      &:focus,
      &:hover {
        color: $gray-900;
      }
    }
    .navbar-brand-logo {
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
      & > span {
        color: $primary-color;
        &:focus,
        &:hover {
          color:fade-out($primary-color, .3);
        }
      }
    }
    .navbar-nav > li.nav-item  > a.nav-link,
    .navbar-nav > div.nav-item  > button {
      padding: 0.5rem 1rem;
    }
    /*.navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus,
    .navbar-nav > div.nav-item  > button,
    .navbar-nav > div.nav-item  > button:focus {
     /* color: fade-out($black, .3);
      &:hover {
       // color: $gray-700;
      }
    }*/

    

    .navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item {
      //color: $primary-color;
      &:hover{
      //color: $white;
        background:$primary-color;
      }
    }
    .navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:focus {
      color: $white;
      background:$primary-color;
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $white;
      .navbar-brand {
        color: $gray-900;
        /*&:focus,
        &:hover {
          //color: darken($white, .1);
        }*/
      }
      .navbar-brand-logo {
        color: $gray-900;
        /*&:focus,
        &:hover {
         // color: darken($primary-color, .1);
        }*/
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus,
      .navbar-nav > div.nav-item  > button,
      .navbar-nav > div.nav-item  > button:focus {
        //color: $gray-900;
        &:hover {
          color: $primary-color;
        }

      } 
    }
  }

  @media (max-width: 575.98px) { 
    .navbar-brand {
      font-size: 1rem;
    }  
    .navbar-brand-logo {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
@media (max-width: 991px) { 
  .navbar-nav {
    flex-direction: column !important;
  }  
}
