.more-inf {
  position: absolute;
  text-align: center;
  top: -100%;
  left: 35%;
}
//titulo de buypricing
.head-price{
text-align:center;
text-transform:none !important;
background:$primary-color;
font-family:$latB;
position:relative;
width: 100%;
left: 0rem;
color:#fff;
top:4rem;
height:11rem;
margin-bottom:4rem;
padding:1rem;
display: block;
}
.position-ab{
position:absolute;
bottom:1rem;
}
.container[name="we"]{
margin:0;
}
hr[name="head-form"]{
max-width:50%;
}
header.masthead-about.page-heading[name="pay"]{
    padding-top: 82px 0 !important;
}
@media only screen and (min-width: 768px){
header.masthead-about .page-heading, header.masthead-about .post-heading, header.masthead-about .site-heading {
  padding-top: 85px ;
  padding-bottom:100px;
}
}
header.masthead-about .page-heading, header.masthead-about .post-heading, header.masthead-about .site-heading {
  padding: 85px 0 100px;
  color: white;
}
.round{
border-radius:50px;
font-family: $lat;
}
//grids para creacion de tablas bien distribuidas
.grid-pricing {
  display: grid;
  position:relative;
  top: 0rem;
  margin:auto;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
// item de cada grid
.item-pricing{
  width:100%;
  padding: 1%;
  text-align: center;
}
.grid-pricing[name="aditional"] {
display: grid;
width:100%;
position:relative;
top: 5rem;
left:0rem;
margin:auto;
grid-gap: 1rem;
grid-template-columns: 1fr;

}
// item de cada grid
.item-pricing{
width:100%;
margin:auto;
padding: 1%;
text-align: center;
}
// grid para productos adicionales
.grid-card-3 {
  display: grid;
  grid-gap: 1rem;
  margin:auto;
  grid-template-columns: 1fr 1fr 1fr;
}//item para cada producto adicional
.item-card{
  font-size:0.8rem;
  width:20rem;
  padding: 1%;
  text-align: center;
  font-family:$lat,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
//tabla dentro de los cards 
// .table{
//   display: grid;
//   margin:auto;
//   grid-template-columns: auto auto;
// }
// .table-item{
//   width:auto;
//   padding: .5%;
//   text-align: right !important;
// }
////Cards control
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background-color: transparent;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: none;
}
/////Table second card, control.
.table th, .table td {
  text-align: justify;
  padding: 0.75rem;
  vertical-align: top;
  font-size: xx-small;
  border-top: 1px solid #dee2e6;
  font-family:$latB,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table-item:nth-child(odd) {
  width: 50px;
  padding: 3%;
  text-align: justify;
}
///@at-root
.text-link{
  text-decoration:none;
  font-family:$latB,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  &:hover{
      color:orange;
  }
}
a[href="#/padRegister"] {
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &:hover{
    color:#fff;
  }
}
a[href="#/"] {
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &:hover{
    color:#fff;
  }
}///
.descuento{
  font-weight: 900;
  background: red;
  text-align: -webkit-right;
  position: static;
  border-radius: 41px;
  padding: 2%;
  height: 50px;
  color: white;
  top: 1rem;
  left: 25rem;
  width: 50px;
  font-size: 1rem;
  font-family: "Lato", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (max-width:1200px) and (min-width:992px){
// .grid-pricing {
//   grid-template-columns: 1fr 1fr;
// }
// .item-pricing:nth-child(3){
//  grid-column:1/3;
// }
}
@media screen and (max-width:991px){
.grid-pricing {
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}
.item-pricing{
  margin-top:2rem;
}
@media screen and (max-width:600px) and (min-width:414px){
  .grid-pricing {
    top:4rem;
    margin-top:2rem;
  }
  .item-pricing{
    margin-top:2rem;
  }
}
}
@media screen and(max-width:414px){
  .grid-pricing {
    top:6rem;
  }
  .item-pricing{
    margin-top:2rem;
  }
}

@media screen and(max-width:720px){
.cump{
  font-size:0.8rem;
}
}
@media screen and(max-width:420px){
.head-price{
  height:14rem;
  max-width:106.5%
}
.cump{
  bottom:3rem;
}
.title-pay{
  font-size:1.5rem;
  bottom:4rem;
}
.head-price{
  top:4.5rem;
}
}
@media screen and(max-width:366px){
  .head-price{
    height:15.5rem !important;
    max-width:106.5%
  }
}
@media screen and (max-width:1200px) and (min-width:800px){
.item-card{
  width:15rem;
}

@media screen and (max-width:991px){
  .grid-pricing[name="aditional"] {
    //left: -6rem;
}
}
}
@media screen and (max-width:839px) and (min-width:580px){
.item-card{
  width:10rem;
}
}
@media screen and (max-width:600px){
  .grid-pricing[name="aditional"] {
      top:5rem;
    }
  }
@media screen and (max-width:579px) and (min-width:320px){
.item-card{
  width:100%;
  height:7rem;
}
.grid-card-3{
  grid-template-columns: auto;
}
@media screen and(min-width:414px){
.grid-pricing[name="aditional"] {
  text-align:center;
  }
}
}
@media screen and(max-width:1200px) and (min-width:600px){
.head-price{
  top:3rem;
}
@media screen and ( max-width:1024px) and (min-width:992px){
  .head-price{
    top:4rem;
  }
}
}
@media screen and (max-width:600px){
.grid-pricing[name="aditional"] {
  top:5rem;
  }
}
@media screen and ( max-width:1024px) and (min-width:992px){
 .head-price{
   height:14rem;
 }
}
@media screen and (max-width:411px){
  .link-return{
    position:absolute;
    top:22rem;
  }
}
@media screen and (min-width:600px) and (max-width:2536px){
  .pos-return{
    position:absolute;
    top:19rem;
    left:1rem;
  }
  @media screen and (min-width:991px) and (max-width:1025px){
  .pos-return{
    position:absolute;
    top:17rem;
    left:1rem;
  }

}
}
@media screen and (min-width:420px) and (max-width:599px){
  .pos-return{
    position:absolute;
    top:19rem;
    left:1rem;
  }
}
@media screen and (min-width:320px) and (max-width:419px){
  .pos-return{
    position:absolute;
    top:21rem ;
    left:1rem;
  }
  @media screen and (max-width:366px){
    .pos-return{
      position:absolute;
      top:22rem ;
      left:1rem;
    }
  }
}