// Styling for the services section
.service-box {
  max-width: 400px;
}

#services{
  @media screen and (width:375px){
    .section-heading {
    margin-top: 17rem;
    position: initial;
    font-size: 1.5rem;
}
  }
}

