// Variables
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$lat:  'Lato', sans-serif,arial;
$latB: 'Lato Black', sans-serif,arial;
$latR: 'Lato Regular', sans-serif,arial;
$latM: 'Lato Bold', sans-serif,arial;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$logo-letter: rgb(241, 219, 15) ;

$primary-color:#0f5dac !default;
$magic-blue:#eff;
$primary_1: #F05F40 !default;
$info-color: #34ace0 !default;
$default-color:#ff921e !default;
$text-color:#706f6f !default;
$red:#e60b0b;